<template>
  <currency-input
    ref="currency"
    v-model="computedValue"
    :locale="$i18n.locale"
    :currency="null"
    :allow-negative="false"
    :distraction-free="{
      hideCurrencySymbol: true,
      hideNegligibleDecimalDigits: true,
      hideGroupingSymbol: false,
    }"
    :precision="precision"
    :placeholder="placeholder"
    :disabled="disabled"
  />
</template>

<script>
export default {
  name: 'InputCurrency',
  props: {
    value: {
      type: [Number, String],
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '',
    },
    currencyType: {
      type: String,
      default: 'crypto',
    },
    decimals: {
      type: [String, Number],
      default: 18,
    },
  },
  computed: {
    computedValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
    precision() {
      if (!this.currencyType) {
        return { min: 0, max: this.decimals };
      }
      const max = this.decimals;

      return { min: 0, max };
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
