<template>
  <base-modal-box
    :is-header="false"
    is-unclosable
  >
    <div class="base-modal__content">
      <img
        src="~/assets/img/modal-notice.svg"
        :alt="$t('misc.notice')"
        class="base-modal__img"
      >
      <div class="base-modal__info">
        <h3 class="base-modal__title">
          Notice
        </h3>

        <p class="base-modal__text">
          {{ $t('modals.title') + network }}, {{ $t('modals.text') }}
        </p>
      </div>
      <div class="base-modal__btns">
        <base-btn @click="CloseModal">
          {{ $t('misc.ok') }}
        </base-btn>
      </div>
    </div>
  </base-modal-box>
</template>

<script>
import config from '~/libs/config';

export default {
  name: 'Index',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    network() {
      return config.chainId > 1 ? 'Testnet Rinkeby' : 'Mainnet';
    },
  },
};
</script>

<style lang="scss" scoped>
.base-modal {
  @include modalKit;
  .base-modal__box {
    width: auto;
    min-width: 292px;
    border-radius: 15px;
  }
  &__img {
    width: 76px;
    height: 76px;
    margin: 20px auto 28px;
  }
  &__info {
    max-width: 250px;
    //margin: 0 auto;
    text-align: center;
  }
  &__title {
    font-family: $defaultFF;
    line-height: 22px;
    color: $black400;
    margin-bottom: 10px;
  }
  &__text {
    font-family: $defaultFF;
    line-height: 19px;
    color: #9A9A9A !important;
  }
  .base-modal__btns {
    margin-top: 39px;
  }
}
</style>
