<template>
  <a
    v-if="link !== ''"
    class="base-btn"
    :class="btnClass"
    :href="link"
    target="_blank"
  >
    <slot />
  </a>
  <nuxt-link
    v-else-if="nuxtLink !==''"
    class="base-btn"
    :class="btnClass"
    :to="nuxtLink"
  >
    <slot />
  </nuxt-link>
  <button
    v-else
    class="base-btn"
    :class="btnClass"
    :type="btnType"
    :disabled="disabled"
    @click="$emit('click')"
  >
    <slot />
  </button>
</template>
<script>
export default {
  props: {
    mode: {
      type: String,
      default: 'default',
      validator(value) {
        const available = ['default', 'red', 'green', 'secondary'];

        return available.includes(value);
      },
    },
    link: {
      type: String,
      default: '',
    },
    nuxtLink: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    btnType: {
      type: String,
      default: 'button',
    },
    outlined: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    btnClass() {
      const { disabled, mode, outlined } = this;
      return [
        { 'base-btn_secondary': mode === 'secondary' },
        { 'base-btn_red': mode === 'red' },
        { 'base-btn_green': mode === 'green' },
        { 'base-btn_disabled': disabled },
        { 'base-btn__outlined base-btn__outlined_default': outlined && mode === 'default' },
        { 'base-btn__outlined base-btn__outlined_red': outlined && mode === 'red' },
        { 'base-btn__outlined base-btn__outlined_green': outlined && mode === 'green' },
      ];
    },
  },
};
</script>
<style lang="scss" scoped>
.base-btn {
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  font-size: 16px;
  color: $black0;
  transition: .3s;
  background: $cyan400;
  box-shadow: $cyan-btn-shadow;
  border-radius: 10px;
  &_secondary {
    color: $cyan400;
    background: $black0;
    box-shadow: $cyan-btn-shadow;
  }
  &_green {
    background: $green500;
    box-shadow: $green-btn-shadow;
  }
  &_red {
    background: $red500;
    box-shadow: $red-btn-shadow;
  }
  &__outlined {
     box-shadow: none;
     background: transparent;
    &_default {
      color: $cyan400;
      border: 1px solid $cyan400;
    }
    &_red {
      color: $red400;
      border: 1px solid $red400;
    }
    &_green {
      color: $green400;
      border: 1px solid $green400;
    }
  }
  &_disabled {
    box-shadow: none;
    cursor: not-allowed;
  }
}
</style>
