<template>
  <div class="governance">
    <nuxt-link
      class="back"
      to="/governance"
    >
      <div class="back__arrow" />
      <div class="back__text">
        {{ $t('governance.proposalPage.back') }}
      </div>
    </nuxt-link>
    <div class="box adaptive">
      <!-- Proposal INFO -->
      <div class="box__info">
        <div class="box__row">
          <div class="box__title">
            <div class="title__text">
              {{ $t('governance.proposalPage.info.title') }}
            </div>
          </div>
        </div>
        <div class="box__proposal">
          <div class="box__row">
            <div class="row__status">
              <div class="info__block">
                <div class="box__text box__text_blue">
                  {{ $t('governance.proposalPage.info.proposalName.title') }}
                </div>
                <div class="row__text row__text_black">
                  {{ $t(`governance.proposalPage.info.proposalName.description.${$options.PROPOSAL_TYPES[proposalInfo.type]}`, { asset: proposalInfo.asset }) }}
                </div>
              </div>

              <div class="row__status_right">
                <div class="info__block">
                  <div class="box__text box__text_blue">
                    {{ $t('governance.proposalPage.info.asset.title') }}
                  </div>
                  <div class="box__text box__text_gray">
                    <!-- <div class="row__binance" /> -->
                    <div class="row__text row__text_black">
                      {{ proposalInfo.asset }}
                    </div>
                  </div>
                </div>
                <div class="info__block">
                  <div class="box__text box__text_blue">
                    {{ $t('governance.proposalPage.info.status') }}
                  </div>
                  <div class="box__text box__text_gray box__text_capitalize">
                    {{ proposalInfo.status }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="box__row">
            <div class="row__info">
              <div class="info__block">
                <div class="box__text box__text_blue">
                  {{ $t('governance.proposalPage.info.txHash') }}
                </div>
                <div
                  v-b-tooltip="{customClass: 'base-tooltip'}"
                  :title="proposalInfo.txHash"
                  class="box__text box__text_black"
                >
                  {{ truncate(proposalInfo.txHash) }}
                </div>
              </div>
              <div class="info__block">
                <div class="box__text box__text_blue">
                  {{ $t('governance.proposalPage.info.start') }}
                </div>
                <div class="info__date">
                  <div class="box__text box__text_gray">
                    {{ $n(proposalInfo.startBlock) }}
                  </div>
                  <div class="box__text box__text_black">
                    ≈ {{ $d(new Date(proposalInfo.startTime), 'longDate') }}
                  </div>
                </div>
              </div>
              <div class="info__block">
                <div class="box__text box__text_blue">
                  {{ $t('governance.proposalPage.info.end') }}
                </div>
                <div class="info__date">
                  <div class="box__text box__text_gray">
                    {{ $n(proposalInfo.endBlock) }}
                  </div>
                  <div class="box__text box__text_black">
                    ≈ {{ $d(new Date(proposalInfo.endTime), 'longDate') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box_right">
        <!-- RESULTS -->
        <div class="box__voting">
          <div class="box__row">
            <div class="box__title">
              <div class="title__text">
                {{ $t('governance.proposalPage.results.title') }}
              </div>
            </div>
          </div>
          <div class="box__row box__row_voting">
            <!--          //title-->
            <div
              class="voting__row"
            >
              <div class="percent__row">
                <div class="percent__col">
                  <svg
                    viewBox="0 0 38 38"
                    class="donut percent__donut"
                  >
                    <circle
                      class="donut-hole"
                      cx="18"
                      cy="18"
                      r="15.91549430918954"
                      fill="#fff"
                    />
                    <circle
                      class="donut-ring"
                      cx="18"
                      cy="18"
                      r="15.91549430918954"
                      fill="transparent"
                      stroke="#DFF0F3"
                      stroke-width="1"
                    />
                    <circle
                      class="donut-segment"
                      cx="18"
                      cy="18"
                      r="15.91549430918954"
                      fill="transparent"
                      stroke="#26D652"
                      stroke-width="1"
                      :stroke-dasharray="`${votingResults.prosPercent} ${100 - votingResults.prosPercent}`"
                      stroke-dashoffset="25"
                    />
                  </svg>
                  <div class="percent_green">
                    {{ $n(votingResults.prosPercent) }}%
                  </div>
                  <div class="percent__text percent__text_green">
                    {{ $t('governance.proposalPage.results.yes') }}
                  </div>
                </div>
                <div class="percent__col">
                  <svg
                    viewBox="0 0 38 38"
                    class="donut percent__donut"
                  >
                    <circle
                      class="donut-hole"
                      cx="18"
                      cy="18"
                      r="15.91549430918954"
                      fill="#fff"
                    />
                    <circle
                      class="donut-ring"
                      cx="18"
                      cy="18"
                      r="15.91549430918954"
                      fill="transparent"
                      stroke="#DFF0F3"
                      stroke-width="1"
                    />
                    <circle
                      class="donut-segment"
                      cx="18"
                      cy="18"
                      r="15.91549430918954"
                      fill="transparent"
                      stroke="#D64230"
                      stroke-width="1"
                      :stroke-dasharray="`${votingResults.consPercent} ${100 - votingResults.consPercent}`"
                      stroke-dashoffset="25"
                    />
                  </svg>
                  <div class="percent_red">
                    {{ $n(votingResults.consPercent) }}%
                  </div>
                  <div class="percent__text percent__text_red">
                    {{ $t('governance.proposalPage.results.no') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- VOTING -->
        <div class="box__voting">
          <div class="box__row">
            <div class="box__title">
              <div class="title__text">
                {{ $t('governance.proposalPage.voting.title') }}
              </div>
            </div>
          </div>
          <div class="box__row box__row_voting">
            <!--          //title-->
            <div
              class="voting__row"
            >
              <div class="voting__moneta">
                <!-- <div class="row__binance" /> -->
                <div class="voting__text voting__text_black">
                  {{ proposalInfo.asset }}
                </div>
              </div>
            </div>
            <!--          //text-->
            <div
              class="voting__row"
            >
              <div
                v-if="stateVoting === $options.VOTING_STATES.VOTED"
                class="voting__text voting__text_name"
              >
                {{ $t('governance.proposalPage.voting.description.voted') }}
              </div>
              <div
                v-else-if="stateVoting === $options.VOTING_STATES.FINISH"
                class="voting__text voting__text_name"
              >
                {{ $t('governance.proposalPage.voting.description.finish') }}
              </div>
              <div
                v-else-if="stateVoting === $options.VOTING_STATES.FINISHED"
                class="voting__text voting__text_name"
              >
                {{ $t('governance.proposalPage.voting.description.finished') }}
              </div>
              <div
                v-else
                class="voting__text voting__text_name"
              >
                {{ $t(`governance.proposalPage.voting.description.${$options.PROPOSAL_TYPES[proposalInfo.type]}`, { asset: proposalInfo.asset }) }}
              </div>
            </div>

            <!--          //btns-->
            <!--          //wait-->
            <div
              v-if="stateVoting === $options.VOTING_STATES.WAIT"
              class="voting__row"
            >
              <div class="voting__btns">
                <base-btn
                  mode="red"
                  @click="handleVote(false)"
                >
                  <div class="voting__text voting__text_btn-white">
                    {{ $t('governance.proposalPage.voting.btns.no') }}
                  </div>
                </base-btn>
                <base-btn
                  mode="green"
                  @click="handleVote(true)"
                >
                  <div class="voting__text voting__text_btn-white">
                    {{ $t('governance.proposalPage.voting.btns.yes') }}
                  </div>
                </base-btn>
              </div>
            </div>
            <!--          //press-->
            <div
              v-if="stateVoting === $options.VOTING_STATES.PRESS"
              class="voting__row"
            >
              <base-btn
                :mode="vote ? 'green' : 'red'"
                outlined
                :disabled="isVotingLoader"
                @click="confirmVoice"
              >
                <btn-loader
                  v-if="isVotingLoader"
                  :busy="isVotingLoader"
                  :color="vote ? '#73E38F': '#F27E6F'"
                  tag="div"
                />
                <div
                  v-else
                  class="voting__text"
                  :class="{'voting__text_btn-green': vote , 'voting__text_btn-red': !vote}"
                >
                  {{ $t('governance.proposalPage.voting.btns.info', { choise: vote ? 'yes' : 'no' }) }}
                </div>
              </base-btn>
            </div>

            <!--        //finish-->
            <div
              v-if="stateVoting === $options.VOTING_STATES.FINISH"
              class="voting__row"
            >
              <base-btn
                :disabled="isFinishingLoader"
                @click="handletFinishVote"
              >
                <btn-loader
                  v-if="isFinishingLoader"
                  :busy="isFinishingLoader"
                  tag="div"
                />
                <div
                  v-else
                  class="voting__text voting__text_btn-white"
                >
                  {{ $t('governance.proposalPage.voting.btns.finish') }}
                </div>
              </base-btn>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="votin__txs txs adaptive">
      <transactions-history :transactions="transactionsHistory" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TransactionsHistory from '~/components/governance/transactions-history';
import { PROPOSAL_STATUSES, PROPOSAL_TYPES } from '~/utils/constants';

const VOTING_STATES = {
  WAIT: 'wait',
  PRESS: 'press',
  VOTED: 'voted',
  FINISH: 'finish',
  FINISHED: 'finished',
};

export default {
  name: 'PropossalId',
  components: {
    TransactionsHistory,
  },
  PROPOSAL_TYPES,
  PROPOSAL_STATUSES,
  VOTING_STATES,
  async asyncData({ store, params, redirect }) {
    try {
      await store.dispatch('governance/getProposalById', params.id);
    } catch (err) {
      redirect('/governance');
    }

    const proposalInfo = store.getters['governance/getSelectedProposalInfo'];
    const votingResults = store.getters['governance/getSelectedProposalResult'];
    const transactionsHistory = store.getters['governance/getSelectedProposalTransactions'];

    if (proposalInfo.status === PROPOSAL_STATUSES.PENDING) {
      await store.dispatch('governance/subscribeToProposalById', params.id);
    }

    return { proposalInfo, votingResults, transactionsHistory };
  },
  data() {
    return {
      proposalInfo: {},
      votingResults: {},
      transactionsHistory: [],
      stateVoting: VOTING_STATES.WAIT,
      vote: '',
      isVotingLoader: false,
      isFinishingLoader: false,
    };
  },
  computed: {
    ...mapGetters({
      proposal: 'governance/getSelectedProposalInfo',
      resultsOfVoting: 'governance/getSelectedProposalResult',
      txHistory: 'governance/getSelectedProposalTransactions',
    }),
    isVotingTimeOut() {
      const { endTime } = this.proposalInfo;
      const end = new Date(endTime).getTime();
      const now = Date.now();
      const diff = end - now;

      return diff < 0;
    },
  },
  watch: {
    proposal(proposalInfo, oldProposalInfo) {
      if (proposalInfo !== oldProposalInfo) {
        this.proposalInfo = proposalInfo;
      }
    },
    resultsOfVoting(results, oldResults) {
      if (results !== oldResults) {
        this.votingResults = results;
      }
    },
    txHistory(transactions, oldTransactions) {
      if (transactions !== oldTransactions) {
        this.transactionsHistory = transactions;
      }
    },
  },
  beforeMount() {
    const { status, isVoted } = this.proposalInfo;

    if (status !== this.$options.PROPOSAL_STATUSES.PENDING) {
      this.stateVoting = VOTING_STATES.FINISHED;
      return;
    }

    if (this.isVotingTimeOut) {
      this.stateVoting = VOTING_STATES.FINISH;
      return;
    }

    if (isVoted) {
      this.stateVoting = VOTING_STATES.VOTED;
    }
  },
  async beforeDestroy() {
    const { id } = this.$route.params;
    await this.$store.dispatch('governance/unsubscribeToProposalById', id);
  },
  methods: {
    truncate(str) {
      if (!str) return str;

      const start = str.slice(0, 6);
      const end = str.slice(-6);

      return `${start}...${end}`;
    },
    handleVote(vote) {
      this.Signer(this.voteToProposal, vote);
    },
    handletFinishVote() {
      this.Signer(this.finishVote);
    },
    voteToProposal(vote) {
      this.vote = vote;
      this.stateVoting = VOTING_STATES.PRESS;
    },
    async confirmVoice() {
      const { id } = this.$route.params;

      try {
        this.isVotingLoader = true;
        const voteResult = await this.$store.dispatch('governance/voteToProposal', { id, vote: this.vote });
        console.log('voteResult: ', voteResult);

        if (voteResult.ok) {
          this.stateVoting = VOTING_STATES.VOTED;
        }
      } catch (err) {
        console.log('vote err: ');
        console.dir(err);
        this.ShowError(err.message);
      } finally {
        this.isVotingLoader = false;
      }
    },
    async finishVote() {
      const { id } = this.$route.params;
      try {
        this.isFinishingLoader = true;
        const finishResult = await this.$store.dispatch('governance/finishVote', id);
        console.log('finishResult: ', finishResult);

        if (finishResult.ok) {
          this.stateVoting = VOTING_STATES.FINISHED;
        }
      } catch (err) {
        console.log('finishVote err: ');
        console.dir(err);
        this.ShowError(err.message);
      } finally {
        this.isFinishingLoader = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  &_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  &__info {
    background: #FFFFFF;
    display: block;
    min-height: 295px;
    border: 1px solid #DFF0F3;
    border-radius: 13px;
    width: 100%;
  }
  &__voting {
    min-width: 428px;
    border: 1px solid #DFF0F3;
    border-radius: 13px;
  }
  &__proposal {
    display: grid;
    //grid-gap: 20px;
  }
  &__row {
    &:first-child {
      //border-top: 1px solid transparent;
      border-top-right-radius: 13px;
      border-top-left-radius: 13px;
      //border-radius: 13px;
    }
    &:last-child {
      //border-bottom: 1px solid transparent;
      border-bottom-right-radius: 13px;
      border-bottom-left-radius: 13px;
    }
    background: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    &_voting {
      display: block;
      height: 238px;
      padding: 15px 20px 20px 20px;
    }
  }
  &__text {
    display: flex;
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 7px;
    &_blue {
      font-size: 14px;
      line-height: 17px;
      color: #7FD0DE;
    }
    &_gray {
      font-size: 16px;
      line-height: 19px;
      color: #9A9A9A;
    }
    &_black {
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    &_capitalize {
      text-transform: capitalize;
    }
  }
  &__title {
    width: 100%;
    padding: 25px 25px 10px 25px;
    height: 56px;
    display: flex;
    align-items: center;
  }
}
.voting {
  &__row {
    width: 100%;
    display: grid;
    align-items: center;
  }
  &__moneta {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px 10px 10px;
    position: static;
    width: 99px;
    height: 40px;
    background: #F6F9FA;
    border-radius: 36px;
  }
  &__text {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    &_black {
      font-size: 20px;
      margin-left: 7px;
      margin-top: 5px;
      line-height: 24px;
      color: #333333;
    }
    &_name {
      margin: 10px auto 51px auto;
      font-size: 24px;
      line-height: 30px;
      color: #333333;
    }
    &_btn-white {
      font-size: 16px;
      line-height: 19px;
      display: flex;
      //width: 30px;
      margin: auto;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
    }
    &_btn-red {
      font-size: 16px;
      line-height: 14px;
      display: flex;
      //width: 30px;
      margin: auto;
      align-items: center;
      text-align: center;
      color: #D64230;
    }
    &_btn-green {
      font-size: 16px;
      line-height: 14px;
      display: flex;
      //width: 30px;
      margin: auto;
      align-items: center;
      text-align: center;
      color: #26D652;
    }
  }
  &__btns {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  &__btn {
    padding: 16px 12px;
    position: static;
    width: 100%;
    height: 46px;
    display: flex;
    &_red-back {
      background: #D64230;
      border-radius: 4px;
    }
    &_green-back {
      background: #26D652;
      border-radius: 4px;
    }
    &_blue-back {
      background: linear-gradient(86.08deg, #3B6EB6 0%, #45C4EA 100%);
      border-radius: 4px;
    }
    &_red-border {
      color: #D64230;
      border: 1px solid #D64230;
      border-radius: 4px;
    }
    &_green-border {
      color: #26D652;
      border: 1px solid #26D652;
      border-radius: 4px;
    }
  }
}
.title__text {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
 }
.row {
  &__binance {
      margin-top: 3px;
      width: 20px;
      height: 20px;
      margin-right: 7px;
      background-image: url('~assets/img/governance/Binance.svg')
  }
  &__block {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  &__info {
    //max-height: 90px;
    //height: 90px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 20px 10px 20px;
  }
  &__status {
    //max-height: 90px;
    //height: 90px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 0.6fr;
    padding: 10px 20px 10px 20px;
    &_right {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__text {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 10px;
    &_blue {
      font-size: 14px;
      line-height: 17px;
      color: #7FD0DE;
    }
    &_black {
      font-size: 20px;
      line-height: 24px;
      color: #000000;
    }
  }
}
.info {
  width: 100%;
  &__date {
    display: flex;
    grid-gap: 5px;
  }
  &__block {
    max-height: 90px;
    display: block;
    background: #F7FAFB;
    padding: 20px;
    border-radius: 10px;
  }
  &__percent {
    background: #F6F9FA;
    display: block;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    padding: 40px 15px 25px 20px;
  }
}
.percent {
  &__donut {
    width:100%;
    height:100%;
    max-height: 180px;
  }
  &_red {
    margin-top: -115px;
    margin-left: auto;
    margin-right: auto;
    //position: absolute;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #D64230;
  }
  &_green {
    margin-top: -115px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #26D652;
  }
  &__col {
    display: block;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    align-self: center;
    margin-bottom: 10px;
    &_green {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      color: #26D652;
      margin-top: 70px;
    }
    &_red {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      color: #D64230;
      margin-top: 70px;
    }
    &_gray {
      font-size: 16px;
      line-height: 19px;
      color: #CDCDCD;
    }
    &_black {
      font-size: 16px;
      width: 30px;
      line-height: 19px;
      color: #000000;
      margin-right: 10px;
    }
  }
  &__line {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 7px;
    top: 6px;
    background: #E7E7E7;
    border: 1px solid #E7E7E7;
    border-radius: 14px;
  }
  &__inline {
    height: 100%;
    width: 0;
    &_red {
      background: #D64230;
      border-radius: 14px;
      border: 1px solid #D64230;
    }
    &_green {
      background: #26D652;
      border-radius: 14px;
      border: 1px solid #26D652;
    }
  }
}
.votin {
  width: 100%;
  padding: 30px 30px 106px;
  display: grid;
  grid-gap: 20px;
  &__cr-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  &__txs {}
  .cr-card {
    background: #FFFFFF;
    &__header {
      padding: 20px;
      border-radius: 4px 4px 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: radial-gradient(54.03% 123.34% at 1.98% 94.22%, #1759A7 0%, rgba(128, 0, 255, 0) 100%), radial-gradient(78.33% 878.17% at 71.5% -174.17%, #27F3E7 0%, rgba(143, 0, 255, 0) 100%), radial-gradient(159.12% 222.14% at 0% 3.47%, #1269CE 0%, #0912FB 100%);
    }
    &__title {
      font-size: 18px;
      color: #FFFFFF;
    }
    &__tip {
      span:before {
        font-size: 20px;
        color: #FFFFFF;
      }
    }
    &__items {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border: 1px solid #E7E7E7;
      border-radius: 0 0 4px 4px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 5px;
      &:not(:last-child) {
        border-right: 1px solid #EDF2F8;
      }
    }
    &__label {
      font-size: 14px;
      color: #9A9A9A;
      margin-top: 8px;
    }
    &__value {
      font-size: 20px;
      color: #333333;
    }
  }
  @include _1600 {
    .cr-card {
      &__item {
        padding: 5px;
        &:nth-child(2) {
          border: none;
        }
      }
      &__items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @include _991 {
    &__cr-cards {
      grid-template-columns: 1fr;

    }
    .cr-card {
      &__item {
        &:nth-child(2) {
          border-right: 1px solid #EDF2F8;
        }
      }
      &__items {
        grid-template-columns: repeat(4, 1fr);
        padding: 12px 0;
      }
      &__header {
        padding: 12px 20px 10px;
      }
    }
  }
  @include _767 {
    .cr-card {
      &__item {
        &:nth-child(2) {
          border: none;
        }
      }
      &__items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @include _575 {
    padding: 10px 10px 30px;
  }
}

.governance {
  width: 100%;
  padding: 30px;
  display: grid;
  grid-gap: 30px;
}
.back {
  display: flex;
  max-width: 71px;
  &__text{
    top: 2.5px;
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    display: flex;
    align-items: center;
    color: #7FD0DE;
  }
  &__arrow {
    top: 2.5px;
    width: 16px;
    height: 12px;
    margin-right: 14px;
    background-image: url('~assets/img/governance/arrowback.svg')
  }
}
.adaptive {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@include _1600 {
  .box {
    grid-template-columns: 1fr;

    &__voting {
      min-width: 270px;
      //margin-top: 20px;
      margin-left: 0px;
    }
  }

}
@include _1400 {
  .governance {
    padding: 20px 25px 106px;
  }
}
@include _1199 {
  .governance {
    padding: 20px 15px 106px;
  }
}
@include _991 {
  .box {
    &_right {
      grid-template-columns: 1fr;
    }
  }
  .row {
    &__info {
      grid-template-columns: 1fr;
    }
    &__status {
      grid-template-columns: 1fr;
    }
    &__text {
      &_black {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
@media (max-width: 800px) {
  .adaptive {
    max-width: 735px;
  }

}

@include _767 {
  .info {
    &__date {
      display: flex;
    }
    &__percent {
      padding: 20px 15px 5px 15px;
    }
  }
  .governance {
    padding: 20px 10px 106px;
  }
}
@include _575 {
  .adaptive {
    max-width: 520px;
  }
  .governance {
    padding: 20px 5px 106px;
  }
}
@include _480 {
  .adaptive {
    max-width: 450px;
  }

  .governance {
    padding: 20px 1px 106px;
  }
}
@media (max-width: 420px) {
  .adaptive {
    max-width: 400px;
  }
}

@include _380 {
  .adaptive {
    max-width: 350px;
  }
}
@media (max-width: 330px) {
  .adaptive {
    max-width: 310px;
  }
}

</style>
