<template>
  <div class="governance">
    <base-banner
      :title="$t('governance.header.title')"
      :info-text="this.$t('governance.header.text')"
      :bg="require('assets/img/governance-header.svg')"
      class="governance__banner"
    >
      <template
        v-slot:governance
      >
        <button
          class="banner__btn"
          @click="addProposal"
        >
          <span class="banner__text">{{ $t('governance.header.btn') }}</span>
        </button>
      </template>
    </base-banner>
    <div
      class="menu"
    >
      <base-tabs
        v-model="activeNav"
        class="trade-form-card__tabs trade-form-card__tabs_mb"
        nav-classes="trade-form-card__tabs_list"
        :tabs="nav"
      />
    </div>
    <div>
      <loader-wrap :is-loading="isLoading">
        <div class="cards">
          <votin-card
            v-for="(item, i) in cards"
            :key="i"
            :card="item"
          />
        </div>
      </loader-wrap>
    </div>
    <div
      v-if="countPage > 1"
      class="Pagination"
    >
      <b-pagination
        v-model="activePage"
        :total-rows="proposalsCount"
        :per-page="perPage"
        first-number
        last-number
        class="Pagination"
      />
    </div>
  </div>
</template>
<script>
import modals from '~/store/modals/modals';
import VotinCard from '~/components/governance/votin-card';
import LoaderWrap from '~/components/ui/loader-wrap';
import { PROPOSAL_STATUSES } from '~/utils/constants';

export default {
  name: 'Governance',
  components: {
    VotinCard,
    LoaderWrap,
  },
  PROPOSAL_STATUSES,
  async asyncData({ $api }) {
    const params = { limit: 12, offset: 0 };
    const { count, proposals } = await $api.proposalService.getProposals({ params });

    return { cards: proposals, proposalsCount: count };
  },
  data() {
    return {
      isLoading: false,
      activeNav: 'all',
      perPage: 12,
      activePage: 1,
      cards: [],
    };
  },
  computed: {
    countPage() {
      return Math.ceil(this.proposalsCount / this.perPage);
    },
    paginationParams() {
      return {
        limit: this.perPage,
        offset: this.perPage * (this.activePage - 1),
        status: this.activeNav,
      };
    },
    nav() {
      return [
        {
          id: 'all',
          title: this.$t('governance.nav.all_proposals'),
        },
        {
          id: this.$options.PROPOSAL_STATUSES.ACCEPTED,
          title: this.$t('governance.nav.accepted'),
        },
        {
          id: this.$options.PROPOSAL_STATUSES.REJECTED,
          title: this.$t('governance.nav.rejected'),
        },
        {
          id: this.$options.PROPOSAL_STATUSES.PENDING,
          title: this.$t('governance.nav.pending'),
        },
      ];
    },
  },
  watch: {
    activePage() {
      this.fetchProposals(this.paginationParams);
    },
    activeNav() {
      this.activePage = 1;
      this.fetchProposals(this.paginationParams);
    },
  },
  methods: {
    addProposal() {
      this.Signer(() => {
        this.$store.dispatch('modals/show', {
          key: modals.proposal,
        });
      });
    },
    async fetchProposals(params) {
      if (this.activeNav === 'all') {
        delete params.status;
      }

      try {
        this.isLoading = true;
        const proposalsData = await this.$api.proposalService.getProposals({ params });
        this.cards = proposalsData.proposals;
        this.proposalsCount = proposalsData.count;
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<style lang="scss">
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.governance {
  width: 100%;
  padding: 20px 30px 30px;
  display: grid;
  grid-gap: 30px;
  &__banner {
    min-height: 456px;
  }
  .menu {
    display: flex;
    width: 100%;
    height: 38px;
    //border-bottom: 1px solid #E7E7E7;
    transition: all .2s ease-in-out;
    &__navs {
      display: flex;
      height: 100%;
    }
    &__nav {
      font-family: 'Code Pro LC', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #9A9A9A;
      height: 100%;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 40px;
      }
      &_active {
        color: #7FD0DE;
        border-bottom-color: #7FD0DE;
      }
    }
  }
}
.banner {
  &__btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px 12px;
    width: 186px;
    height: 46px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px -8px rgba(63, 149, 205, 0.5);
    border-radius: 10px;
  }
  &__text{
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7FD0DE;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
.Pagination {
  margin-left:  auto;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .page-item {
    //&:first-child  {
    //  font-size: 23px;
    //}
    //&:last-child {
    //  font-size: 23px;
    //}
    &.active {
      button {
        width: 40px;
        height: 40px;
        border: 1px solid #54C0D3;
        background: #54C0D3;
        border-radius: 5px;
        color: #FFFFFF;
      }
    }
      button {
        width: 40px;
        height: 40px;
        border: 1px solid #DDF2F6;
        border-radius: 5px;
        background: #FFFFFF;
        color: #A9DFE9;
      }
    }
  .page-link {
    &.active {
      button {
        width: 40px;
        height: 40px;
        border: 1px solid #54C0D3;
        background: #54C0D3;
        border-radius: 5px;
        color: #FFFFFF;
      }
    }
    button {
      width: 40px;
      height: 40px;
      border: 1px solid #DDF2F6;
      border-radius: 5px;
      background: #FFFFFF;
      color: #A9DFE9;
    }
  }
}
@include _1400 {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .governance {
    padding: 20px 25px 106px;
  }
}
@include _1199 {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .governance {
    padding: 20px 15px 106px;
  }
}
@include _767 {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .governance {
    padding: 20px 10px 106px;
  }
}
@include _575 {
  .governance {
    padding: 20px 5px 106px;
  }
}
@include _480 {
  .governance {
    padding: 20px 1px 106px;
  }
}
@include _380 {
  .menu {
    &__nav {
      &:not(:last-child) {
        margin-right: 25px !important;
      }
    }
  }
}
@media (max-width: 330px)  {
  .menu {
    width: 98% !important;
    &__nav {
      &:not(:last-child) {
        margin-right: 15px !important;
      }
    }
  }
}

</style>
