<template>
  <base-card
    class="parasynth-tokens-table"
    header-classes="parasynth-tokens-table__header"
    body-classes="parasynth-tokens-table__body"
    :title="$t('balance.tables.parasynth.title')"
  >
    <b-table
      id="parasynth-tokens-table"
      :fields="fields"
      :items="items"
      :show-empty="true"
      :busy="busyState"
      table-class="base-table"
      borderless
      sticky-header="180px"
      sort-icon-left
      no-border-collapse
      thead-class="base-table__head"
    >
      <template v-slot:cell(coin)="{ item }">
        <span class="base-table__td_blue">{{ item.name }}</span>
      </template>
      <template v-slot:cell(name)="{ item }">
        <span>{{ item.title }}</span>
      </template>
      <template v-slot:cell(usdValue)="{ item }">
        <span>$ {{ $fn(item.usdValue) }}</span>
      </template>
      <template v-slot:cell(balance)="{ item }">
        <span>{{ $crn(item.amount) }}</span>
      </template>
      <template v-slot:cell(maintanceCollateral)="{ item }">
        <span>{{ $fn(item.maintanceCollateral) }}</span>
      </template>
      <template v-slot:cell(btn)>
        <base-btn nuxt-link="/trade">
          {{ $t('balance.tables.parasynth.btn') }}
        </base-btn>
      </template>
    </b-table>
  </base-card>
</template>

<script>
export default {
  name: 'ParasynthTokensTable',
  props: {
    balances: {
      type: [Array, Object],
      default: () => ([]),
    },
  },
  data() {
    return {
      busyState: false,
      items: [],
    };
  },
  computed: {
    fields() {
      const fields = ['coin', 'name', 'balance', 'usdValue', 'maintanceCollateral', 'btn'];
      return fields.map((item) => {
        if (item === 'btn') {
          return {
            key: item,
            label: '',
            sortable: false,
            thClass: 'base-table__th',
            tdClass: 'base-table__td base-table__td_text-center',
          };
        }

        return {
          key: item,
          label: this.$t(`balance.tables.parasynth.${item}`),
          sortable: true,
          thClass: 'base-table__th',
          tdClass: 'base-table__td',
        };
      });
    },
  },
  watch: {
    balances: {
      immediate: true,
      handler(balances) {
        console.log('parasynth tokens table: ', balances);
        if (!Array.isArray(balances) && typeof balances === 'object') {
          this.items = Object.values(balances);
          return;
        }
        this.items = balances;
      },
    },
  },
};
</script>

<style lang="scss">
  .parasynth-tokens-table {
    .b-table-sticky-header {
      @include base-scrollbar;
      margin-bottom: 0;
    }
    .parasynth-tokens-table__header {
      padding-bottom: 0;
    }
    .parasynth-tokens-table__body {
      padding-bottom: 0;
    }
  }
</style>
