<template>
  <div class="stake-table">
    <base-card
      body-classes="stake-table__layout"
      class="stake-table__header stake-table__header_mb"
    >
      <p class="stake-table__text stake-table__text_blue">
        {{ $t('stake.stakeTable.coin') }}
      </p>
      <p class="stake-table__text stake-table__text_blue">
        {{ $t('stake.stakeTable.staked') }}
      </p>
      <p class="stake-table__text stake-table__text_blue">
        {{ $t('stake.stakeTable.totalClaimed') }}
      </p>
      <p class="stake-table__text stake-table__text_blue">
        {{ $t('stake.stakeTable.canBeClaimed') }}
      </p>
    </base-card>
    <base-card
      class="stake-table__body"
      body-classes="stake-table__layout"
    >
      <div class="stake-table__coin">
        <i class="stake-table__logo icon-Logo" />
        <p class="stake-table__text stake-table__text_size-20">
          OSN
        </p>
      </div>

      <p
        v-if="staked !== null"
        class="stake-table__text"
      >
        {{ $cn(staked, 4, 0) }} OSN
      </p>
      <p
        v-else
        class="stake-table__text"
      >
        -
      </p>
      <p
        v-if="totalClaimed !== null"
        class="stake-table__text"
      >
        {{ $cn(totalClaimed, 4, 0) }} OSN
      </p>
      <p
        v-else
        class="stake-table__text"
      >
        -
      </p>
      <p
        v-if="claim !== null"
        class="stake-table__text stake-table__text_green"
      >
        {{ $cn(claim, 4, 0) }} OSN
      </p>
      <p
        v-else
        class="stake-table__text stake-table__text_green"
      >
        -
      </p>

      <div class="stake-table__btns">
        <base-btn
          mode="red"
          @click="handleUnstake"
        >
          {{ $t('stake.stakeTable.btns.unstake') }}
        </base-btn>
        <base-btn
          :disabled="isClaiming"
          @click="handleClaim"
        >
          <btn-loader
            v-if="isClaiming"
            :busy="isClaiming"
            tag="div"
          />
          <span v-else>{{ $t('stake.stakeTable.btns.claim') }}</span>
        </base-btn>
      </div>
    </base-card>

    <!-- mobile table -->
    <base-card
      class="mobile-stake-table"
      body-classes="mobile-stake-table__body"
    >
      <div class="mobile-stake-table__content">
        <div class="mobile-stake-table__row">
          <p class="stake-table__text stake-table__text_blue">
            {{ $t('stake.stakeTable.coin') }}
          </p>
          <div class="stake-table__coin">
            <i class="stake-table__logo icon-Logo" />
            <p class="stake-table__text stake-table__text_size-20">
              OSN
            </p>
          </div>
        </div>

        <div class="mobile-stake-table__row">
          <p class="stake-table__text stake-table__text_blue">
            {{ $t('stake.stakeTable.staked') }}
          </p>
          <p
            v-if="staked !== null"
            class="stake-table__text"
          >
            {{ $cn(staked, 4, 0) }} OSN
          </p>
          <p
            v-else
            class="stake-table__text"
          >
            -
          </p>
        </div>

        <div class="mobile-stake-table__row">
          <p class="stake-table__text stake-table__text_blue">
            {{ $t('stake.stakeTable.totalClaimed') }}
          </p>
          <p
            v-if="totalClaimed !== null"
            class="stake-table__text"
          >
            {{ $cn(totalClaimed, 4, 0) }} OSN
          </p>
          <p
            v-else
            class="stake-table__text"
          >
            -
          </p>
        </div>
        <div class="mobile-stake-table__row">
          <p class="stake-table__text stake-table__text_blue">
            {{ $t('stake.stakeTable.canBeClaimed') }}
          </p>
          <p
            v-if="claim !== null"
            class="stake-table__text stake-table__text_green"
          >
            {{ $cn(claim, 4, 0) }} OSN
          </p>
          <p
            v-else
            class="stake-table__text stake-table__text_green"
          >
            -
          </p>
        </div>
      </div>
      <div class="mobile-stake-table__btns">
        <base-btn
          mode="red"
          @click="handleUnstake"
        >
          {{ $t('stake.stakeTable.btns.unstake') }}
        </base-btn>
        <base-btn
          :disabled="isClaiming"
          @click="handleClaim"
        >
          <btn-loader
            v-if="isClaiming"
            :busy="isClaiming"
            tag="div"
          />
          <span v-else>{{ $t('stake.stakeTable.btns.claim') }}</span>
        </base-btn>
      </div>
    </base-card>
  </div>
</template>

<script>
import modals from '~/store/modals/modals';

export default {
  name: 'StakeTable',
  props: {
    stakeInfo: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      staked: null,
      totalClaimed: null,
      claim: null,
      isClaiming: false,
      isStaking: false,
    };
  },
  watch: {
    stakeInfo: {
      immediate: true,
      handler(stakeInfo, oldStakeInfo) {
        if (stakeInfo && stakeInfo !== oldStakeInfo) {
          this.staked = stakeInfo.staked;
          this.claim = stakeInfo.claim;
          this.totalClaimed = stakeInfo.totalClaimed;
        }
      },
    },
  },
  methods: {
    handleClaim() {
      this.Signer(this.claimRewards);
    },
    async claimRewards() {
      try {
        this.isClaiming = true;
        const claimed = await this.$store.dispatch('stake/claim');

        if (claimed.ok) {
          this.$emit('claimed');
          this.ShowModal({
            key: modals.success,
            successTitle: this.$t('stake.stakeTable.modals.successClaim.title'),
            successText: this.$t('stake.stakeTable.modals.successClaim.info', { tx: claimed.result.tx }),
          });
        }
      } catch (err) {
        console.log('claim err');
        console.dir(err);
        this.ShowError(err.message);
      } finally {
        this.isClaiming = false;
      }
    },
    showUnstakeModal() {
      this.ShowModal({
        key: modals.unstake,
        title: this.$t('stake.stakeTable.modals.unstake.title'),
        text: this.$t('stake.stakeTable.modals.unstake.hint'),
        isUnclosable: true,
        field: {
          label: this.$t('stake.stakeTable.modals.unstake.field.label'),
          placeholder: this.$t('stake.stakeTable.modals.unstake.field.placeholder'),
        },
      });
    },
    handleUnstake() {
      this.Signer(this.showUnstakeModal);
    },
  },
};
</script>

<style lang="scss">
  .stake-table {
    .stake-table__header {
      background-color: $stake-header;
      &_mb {
        margin-bottom: 20px;
      }
    }
    .stake-table__layout {
      display: grid;
      grid-template-columns: repeat(4, minmax(140px, auto)) 250px;
      align-items: center;
      padding: 16px 25px;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
      color: $black400;
      &_blue {
        color: $cyan400;
      }
      &_green {
        color: $green600;
      }
      &_size {
        &-20 {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    &__coin {
      display: grid;
      grid-template-columns: 30px auto;
      grid-column-gap: 10px;
      align-items: center;
    }
    &__logo {
      &:before {
        font-size: 30px;
        background: $blue-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &__btns {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 10px;
    }
    .mobile-stake-table {
      display: none;
      &__body {
        display: grid;
        grid-row-gap: 15px;
        padding: 15px 10px;
      }
      &__content {
        background-color: $fields;
        border-radius: 10px;
        padding: 10px;
      }
      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
      }
      &__btns {
        display: grid;
        grid-row-gap: 15px;
      }
    }
  }
   @include _1199 {
    .stake-table {
      .stake-table__layout {
        grid-template-columns: repeat(4, minmax(120px, auto)) 250px;
      }
    }
  }
  @include _991 {
    .stake-table {
      .stake-table__header, .stake-table__body {
        display: none;
      }
      .mobile-stake-table {
        display: block;
      }
    }
  }
</style>
