<template>
  <base-card
    class="stake-transactions-table"
    header-classes="stake-transactions-table__header"
    :title="$t('stake.table.title')"
  >
    <b-table
      id="stacked-transactions-table"
      :fields="fields"
      :items="items"
      :show-empty="true"
      :busy="busyState"
      sticky-header="280px"
      responsive
      table-class="base-table"
      borderless
      sort-icon-left
      no-border-collapse
      thead-class="base-table__head"
    >
      <template v-slot:cell(timestamp)="{ item }">
        <span>{{ $d(new Date(item.timestamp), 'longDate') }}</span>
      </template>
      <template v-slot:cell(amount)="{ item }">
        <span>{{ $cn(item.amount, 6, 0) }} OSN</span>
      </template>
      <template v-slot:cell(amountUSD)="{ item }">
        <span>$ {{ $fn(item.amountUSD) }}</span>
      </template>
      <template v-slot:cell(type)="{ item }">
        <span>{{ $t(`stake.table.types.${$options.STAKE_TYPE[item.type]}`) }}</span>
      </template>
    </b-table>
  </base-card>
</template>

<script>
import { STAKE_TYPE } from '~/utils/constants';

export default {
  name: 'StakedTransactionsTable',
  props: {
    transactions: {
      type: Array,
      default: () => [],
    },
  },
  STAKE_TYPE,
  data() {
    return {
      busyState: false,
      items: [],
    };
  },
  computed: {
    fields() {
      const fields = ['timestamp', 'amount', 'amountUSD', 'type'];
      return fields.map((item) => {
        if (item === 'btn') {
          return {
            key: item,
            label: '',
            sortable: false,
            thClass: 'base-table__th',
            tdClass: 'base-table__td base-table__td_text-center',
          };
        }

        return {
          key: item,
          label: this.$t(`stake.table.${item}`),
          sortable: true,
          thClass: 'base-table__th',
          tdClass: 'base-table__td',
        };
      });
    },
  },
  watch: {
    transactions: {
      immediate: true,
      handler(transactions, oldTransactions) {
        if (transactions !== oldTransactions) {
          this.items = transactions;
        }
      },
    },
  },
};
</script>

<style lang="scss">
  .stake-transactions-table {
    .b-table-sticky-header {
      @include base-scrollbar;
      margin-bottom: 0;
    }
    .stake-transactions-table__header {
      padding-bottom: 0;
    }
  }
</style>
