<template>
  <div
    :id="containerId"
    class="TVChartContainer"
  />
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'TVChartContainer',
  props: {
    interval: {
      default: '60',
      type: String,
    },
    containerId: {
      default: 'tv_chart_container',
      type: String,
    },
    datafeedUrl: {
      default: 'https://demo_feed.tradingview.com',
      type: String,
    },
    libraryPath: {
      default: '/vendor/charting_library/',
      type: String,
    },
    chartsStorageApiVersion: {
      default: '1.1',
      type: String,
    },
    clientId: {
      default: 'tradingview.com',
      type: String,
    },
    userId: {
      default: 'public_user_id',
      type: String,
    },
    fullscreen: {
      default: false,
      type: Boolean,
    },
    autosize: {
      default: true,
      type: Boolean,
    },
    studiesOverrides: {
      type: Object,
    },
  },
  data() {
    return {
      symbol: '',
      tvWidget: null,
    };
  },
  computed: {
    ...mapGetters({
      selectedPair: 'trade/getSelectedPair',
    }),
  },
  watch: {
    selectedPair: {
      immediate: false,
      handler(newValue, oldValue) {
        console.log('TW newValue: ', newValue);
        console.log('TW oldValue: ', oldValue);
        if (newValue && !oldValue) {
          this.symbol = newValue.name;
          this.initWidget();
          return;
        }

        if (newValue && newValue !== oldValue) {
          this.symbol = newValue.name;
          this.setPair(this.symbol);
        }
      },
    },
  },
  destroyed() {
    if (this.tvWidget !== null) {
      this.tvWidget.remove();
      this.tvWidget = null;
      this.$store.commit('trade/setSelectedPair', null);
    }
  },
  methods: {
    initWidget() {
      const widgetOptions = {
        allow_symbol_change: false,
        symbol: this.symbol,
        datafeed: new this.$datafeed(this.datafeedUrl),
        interval: this.interval,
        container_id: this.containerId,
        library_path: this.libraryPath,
        style: '2',
        locale: this.$i18n.locale,
        disabled_features: ['use_localstorage_for_settings', 'left_toolbar', 'header_settings', 'header_symbol_search'],
        client_id: this.clientId,
        user_id: this.userId,
        fullscreen: this.fullscreen,
        autosize: this.autosize,
        studies_overrides: this.studiesOverrides,
        widgetbar: {
          details: true,
          watchlist: true,
        },
      };

      try {
        this.tvWidget = new this.$charting_library(widgetOptions);
      } catch (err) {
        console.log('TW WIDGET err: ');
        console.dir(err);
      }
    },
    setPair(pair) {
      if (this.tvWidget && this.tvWidget._ready) {
        this.tvWidget.setSymbol(pair, this.interval);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.TVChartContainer {
  height: 100%;
}
</style>
