<template>
  <base-modal-box>
    <div class="base-modal__content">
      <div class="base-modal__text">
        {{ options.text }}
      </div>
      <div class="base-modal__btns">
        <base-btn @click="CloseModal">
          {{ $t('misc.cancel') }}
        </base-btn>
      </div>
    </div>
  </base-modal-box>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      options: 'modals/getOptions',
    }),
  },
};
</script>

<style scoped lang="scss">
.base-modal {
  @include modalKit;
  &__box {
    max-width: 400px !important;
  }
}
</style>
