<template>
  <base-card
    class="transactions-history-table"
    header-classes="transactions-history-table__header"
    body-classes="transactions-history-table__body"
    :title="$t('reward.table.title')"
  >
    <b-table
      id="transactions-history-table"
      :fields="fields"
      :items="items"
      :show-empty="true"
      :busy="busyState"
      table-class="base-table"
      thead-class="base-table__head"
      sticky-header="380px"
      responsive
      borderless
      sort-icon-left
      no-border-collapse
    >
      <template v-slot:cell(date)="{ item }">
        <span>{{ $d(new Date(item.date), 'longDate') }}</span>
      </template>
      <template v-slot:cell(coinAmount)="{ item }">
        <span>{{ $fn(item.coinAmount) }}</span>
      </template>
      <template v-slot:cell(usdValue)="{ item }">
        <span>$ {{ $fn(item.usdValue) }}</span>
      </template>
    </b-table>
  </base-card>
</template>

<script>
export default {
  name: 'StakedTransactionsTable',
  data() {
    return {
      busyState: false,
    };
  },
  computed: {
    items() {
      const availabelDescriptions = ['Guarantor reward', 'MM reward', 'Issuer reward'];
      // eslint-disable-next-line prefer-spread
      return Array.apply(null, { length: 10 }).map((item, i) => (
        {
          id: i,
          date: Date.now() + 1000 * 60 * 60 * 24 * i,
          description: availabelDescriptions[i % 3],
          coinAmount: '23453',
          usdValue: '12443.56',
        }
      ));
    },
    fields() {
      const fields = ['date', 'description', 'coinAmount', 'usdValue'];
      return fields.map((item) => {
        if (item === 'btn') {
          return {
            key: item,
            label: '',
            sortable: false,
            thClass: 'base-table__th',
            tdClass: 'base-table__td base-table__td_text-center',
          };
        }

        return {
          key: item,
          label: this.$t(`reward.table.${item}`),
          sortable: true,
          thClass: 'base-table__th',
          tdClass: 'base-table__td',
        };
      });
    },
  },
};
</script>

<style lang="scss">
  .transactions-history-table {
    .b-table-sticky-header {
      @include base-scrollbar;
      margin-bottom: 0;
    }
    .transactions-history-table__header {
      padding-bottom: 0;
    }
    .transactions-history-table__body {
      padding-bottom: 0;
    }
  }
</style>
