<template>
  <base-card
    :title="$t('balance.deposit.title')"
    class="deposit-card"
    header-classes="deposit-card__header"
    body-classes="deposit-card__body"
  >
    <p class="deposit-info">
      {{ $t('balance.deposit.description') }}
    </p>
    <validation-observer
      v-slot="{handleSubmit}"
      ref="depositForm"
      slim
    >
      <form
        class="deposit-form"
        @submit.prevent="handleSubmit(handleDeposit)"
      >
        <div class="deposit-form__field deposit-form__field_mb_25">
          <base-select
            v-model="currency"
            :options="currenciesOptions"
            :prepend-text="$t('balance.deposit.fields.currency.label')"
            rounded
          />
        </div>

        <div class="deposit-form__field deposit-form__field_mb_10">
          <base-input
            rules="required"
            :name="$t('balance.deposit.fields.amount.label')"
            :label="$t('balance.deposit.fields.amount.label')"
          >
            <template #default="{classes}">
              <input-currency
                v-model="amount"
                :class="classes"
                :placeholder="$t('balance.deposit.fields.amount.placeholder')"
              />
            </template>
          </base-input>
        </div>

        <base-btn
          btn-type="submit"
          class="deposit-form__btn"
        >
          <btn-loader
            v-if="isLoading"
            :busy="isLoading"
            tag="div"
            class="deposit-form__btn"
          />
          <span v-else>
            {{ $t('balance.deposit.btns.deposit') }}
          </span>
        </base-btn>
      </form>
    </validation-observer>
  </base-card>
</template>

<script>
import { mapGetters } from 'vuex';
import modals from '~/store/modals/modals';

export default {
  name: 'DepositForm',
  data() {
    return {
      currency: '',
      amount: null,
      isLoading: false,
    };
  },
  computed: {
    ...mapGetters({
      currencies: 'main/getCurrencies',
    }),
    currenciesOptions() {
      const isContainsETH = Boolean(this.currencies.find((i) => i.symbol === 'ETH'));
      const options = this.currencies.reduce((result, item) => {
        if (item.symbol === 'ETH') {
          result.push({ text: 'ETH', value: 'eth' });
          return result;
        }

        const option = { text: item.symbol, value: item.id };
        result.push(option);
        return result;
      }, []);

      if (!isContainsETH) {
        options.push({ text: 'ETH', value: 'eth' });
      }

      return options;
    },
  },
  watch: {
    currencies: {
      immediate: true,
      handler(currencies) {
        if (currencies?.length) {
          this.currency = this.currenciesOptions[0].value;
        }
      },
    },
  },
  methods: {
    handleDeposit() {
      this.Signer(this.depositFunds);
    },
    resetForm() {
      const form = this.$refs.depositForm;

      this.amount = null;

      form.reset();
    },
    async depositFunds() {
      const payload = {
        currency: this.currency,
        value: this.amount,
      };

      try {
        this.isLoading = true;
        const txHash = await this.$store.dispatch('wallet/depositFunds', payload);

        this.fetchBalances();
        this.resetForm();
        this.ShowModal({
          key: modals.success,
          successTitle: this.$t('balance.deposit.modals.success.title'),
          successText: this.$t('balance.deposit.modals.success.text', { tx: txHash }),
        });
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.ShowModal({
          key: modals.default,
          title: this.$t('balance.deposit.modals.error.title'),
          text: this.$t('balance.deposit.modals.error.text', { err: err.message }),
        });
      } finally {
        this.isLoading = false;
      }
    },
    async fetchBalances() {
      try {
        const signature = this.$store.getters['wallet/getUserSignature'];
        await this.$store.dispatch('wallet/fetchBalance', { signature });
      } catch (err) {
        console.log('err: ');
        console.dir(err);
      }
    },
  },
};
</script>

<style lang="scss">
  .deposit-card {
    .deposit-card__header {
      padding-bottom: 10px;
    }
    .deposit-card__body {
      padding-top: 0;
    }
  }
  .deposit-info {
    font-family: $Inter;
    margin-bottom: 20px;
  }
  .deposit-form {
    &__field {
      &_mb {
        &_25 {
          margin-bottom: 25px;
        }
        &_10 {
          margin-bottom: 10px;
        }
      }
    }
    &__btn {
      width: 100%;
    }
  }

  // @include _575 {
  //   .deposit-form {
  //     &__field {
  //       &_two-col {
  //         grid-template-columns: 1fr;
  //         grid-row-gap: 20px;
  //       }
  //     }
  //   }
  // }
</style>
