<template>
  <base-card
    class="trade-status"
    body-classes="trade-status__body"
  >
    <div class="trade-status__content">
      <div
        v-for="(value, key) in tradeStatusInfo"
        :key="key"
        class="trade-status__item"
      >
        <h2 class="trade-status__title trade-status__title_mb">
          {{ $t(`trade.statusInfo.${key}`) }}
        </h2>
        <p class="trade-status__text">
          {{ $cn(value, 2, 0) }}
        </p>
      </div>
    </div>
  </base-card>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'TradeStatus',
  data() {
    return {
      tradeStatusInfo: {
        price: '',
        change24h: '',
        high24h: '',
        low24h: '',
        volume24h: '',
      },
    };
  },
  computed: {
    ...mapGetters({
      selectedPair: 'trade/getSelectedPair',
      statusInfo: 'trade/getPairStatusInfo',
    }),
  },
  watch: {
    async selectedPair(pair, oldPair) {
      if (pair?.id !== oldPair?.id) {
        await this.fetchPairStatusInfo(pair.id);
      }
    },
    statusInfo: {
      immediate: false,
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          this.tradeStatusInfo.price = newVal.price;
          this.tradeStatusInfo.change24h = newVal.change24h;
          this.tradeStatusInfo.high24h = newVal.high24h;
          this.tradeStatusInfo.low24h = newVal.low24h;
          this.tradeStatusInfo.volume24h = newVal.volume24h;
        }
      },
    },
  },
  methods: {
    async fetchPairStatusInfo(pairId) {
      try {
        await this.$store.dispatch('trade/getPairStatusInfo', pairId);
      } catch (err) {
        console.log('PAIR STATUS INFO ERR');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
  },
};
</script>

<style lang="scss">
  .trade-status {
    min-height: 95px;
    .trade-status__body {
      padding: 10px 25px;
      display: flex;
      height: 100%;
    }
    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $table-header-bg;
      padding: 10px 15px;
      border-radius: 10px;
    }
    &__item {
      text-align: center;
      display: grid;
      grid-template-rows: auto 1fr;
      grid-row-gap: 10px;
      height: 100%;
    }
    &__title {
      font-size: 14px;
      line-height: 17px;
      color: $black400;
      &_mb {
        margin-bottom: 10px;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 24px;
      color: $cyan500;
    }
  }

  @include _1600 {
    .trade-status__content {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-row-gap: 15px;
    }
  }

  @include _1400 {
    .trade-status__content {
      display: flex;
      justify-content: space-between;
    }
  }

  @include _991 {
    .trade-status__content {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-row-gap: 15px;
    }
  }

  @include _767 {
    .trade-status {
      &__content {
        grid-template-columns: repeat(3, auto);
      }
       &__title {
        font-size: 12px;
        line-height: 14px;
      }
      &__text {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  @include _480 {
    .trade-status {
      .trade-status__body {
        padding: 10px;
      }
      &__content {
        background-color: transparent;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        padding: 0;
      }
      &__item {
        background-color: $table-header-bg;
        border-radius: 10px;
        padding: 12px;
      }
      &__title {
        &_mb {
          margin-bottom: 0;
        }
      }
      &__text {
        font-size: 18px;
      }
    }
  }
</style>
