<template>
  <base-card
    title="Trade"
    class="trade-form-card"
    header-classes="trade-form-card__header"
    body-classes="trade-form-card__body"
  >
    <template #header>
      <h3 class="trade-form-card__title">
        {{ $t('trade.form.title') }}
      </h3>

      <p>
        {{ selectedPairName }}
      </p>
    </template>

    <base-select
      v-model="orderType"
      placeholder="select type"
      :options="orderTypes"
      :prepend-text="$t('trade.form.orderType.title')"
      class="trade-form-card__oredr-type trade-form-card__oredr-type_mb"
      rounded
    />

    <!-- MARKET -->
    <validation-observer
      v-slot="{handleSubmit}"
      ref="marketOrder"
      slim
    >
      <form
        v-if="orderType === 'market'"
        class="trade-form"
        @submit.prevent
      >
        <div class="trade-form__content">
          <base-input
            wrapper-classes="trade-form__field"
            :label="$t('trade.form.market.fields.amount.label', { currency: currencyLabel })"
            :name="$t('trade.form.market.fields.amount.label', { currency: currencyLabel })"
          >
            <template #default="{ classes }">
              <input-currency
                v-model="marketOrder.amount"
                :placeholder="$t('trade.form.market.fields.amount.placeholder')"
                :class="classes"
                :decimals="4"
              />
            </template>
          </base-input>

          <!--          <div class="trade-form__field trade-form__field_mb-20 trade-form__checkbox">-->
          <!--            <input-->
          <!--              id="fill-or-kill"-->
          <!--              v-model="marketOrder.isFillOrKill"-->
          <!--              type="checkbox"-->
          <!--            >-->
          <!--            <label-->
          <!--              for="fill-or-kill"-->
          <!--              class="trade-form__label"-->
          <!--            >-->
          <!--              {{ $t('trade.form.market.fields.fillOrKill.label') }}-->
          <!--            </label>-->
          <!--          </div>-->

          <div class="trade-form__info trade-form-info">
            <p class="trade-form-info__title">
              {{ $t('trade.form.market.info.title1') }}
            </p>
            <p class="trade-form-info__value">
              {{ $cn(availableCollateral, 2) }}
            </p>
            <p class="trade-form-info__title">
              {{ $t('trade.form.market.info.title2') }}
            </p>
            <p class="trade-form-info__value">
              {{ $cn(requiredBuyCollateralMarket, 2) }}
            </p>
            <p class="trade-form-info__title">
              {{ $t('trade.form.market.info.title3') }}
            </p>
            <p class="trade-form-info__value">
              {{ $cn(requiredSellCollateralMarket, 2) }}
            </p>
          </div>
        </div>

        <div class="trade-form__btns">
          <base-btn
            mode="green"
            class="trade-form__btn trade-form__btn_mr-20"
            @click="handleSubmit(handleBuyMarket)"
          >
            {{ $t('trade.form.market.btns.buy') }}
          </base-btn>
          <base-btn
            mode="red"
            class="trade-form__btn"
            @click="handleSubmit(handleSellMarket)"
          >
            {{ $t('trade.form.market.btns.sell') }}
          </base-btn>
        </div>
      </form>
    </validation-observer>

    <!-- LIMIT -->
    <validation-observer
      ref="limitOrder"
      slim
    >
      <form
        v-if="orderType === 'limit'"
        class="trade-form"
        @submit.prevent
      >
        <div class="trade-form__content">
          <div class="trade-form__field trade-form__field_separate">
            <base-input
              ref="limitBuyPrice"
              :rules="{required: isBuyOrder}"
              :label="$t('trade.form.limit.fields.buyPrice.label')"
              :name="$t('trade.form.limit.fields.buyPrice.label')"
            >
              <template #default="{classes}">
                <input-currency
                  v-model="limitOrder.buyPrice"
                  :class="classes"
                  :placeholder="$t('trade.form.limit.fields.buyPrice.placeholder')"
                />
              </template>
            </base-input>
            <base-input
              ref="limitSellPrice"
              :rules="`${isSellOrder ? 'required': ''}`"
              :label="$t('trade.form.limit.fields.sellPrice.label')"
              :name="$t('trade.form.limit.fields.sellPrice.label')"
            >
              <template #default="{classes}">
                <input-currency
                  v-model="limitOrder.sellPrice"
                  :class="classes"
                  :placeholder="$t('trade.form.limit.fields.sellPrice.placeholder')"
                />
              </template>
            </base-input>
          </div>

          <base-input
            rules="required"
            wrapper-classes="trade-form__field"
            :label="$t('trade.form.limit.fields.amount.label', { currency: currencyLabel })"
            :name="$t('trade.form.limit.fields.amount.label', { currency: currencyLabel })"
          >
            <template #default="{classes}">
              <input-currency
                v-model="limitOrder.amount"
                :class="classes"
                :placeholder="$t('trade.form.limit.fields.amount.placeholder')"
              />
            </template>
          </base-input>

          <base-input
            v-model="limitOrder.slippage"
            v-currency="{distractionFree: false, currency: {suffix: ' %'}, precision: 0}"
            rules="percentage"
            wrapper-classes="trade-form__field"
            :label="$t('trade.form.limit.fields.slippage.label')"
            :name="$t('trade.form.limit.fields.slippage.label')"
            :placeholder="$t('trade.form.limit.fields.slippage.placeholder')"
          />

          <div class="trade-form__checkbox">
            <input
              id="fill-or-kill"
              v-model="limitOrder.isFillOrKill"
              type="checkbox"
            >
            <label
              for="fill-or-kill"
              class="trade-form__label"
            >
              {{ $t('trade.form.limit.fields.fillOrKill.label') }}
            </label>
          </div>

          <div class="trade-form__info trade-form-info">
            <p class="trade-form-info__title">
              {{ $t('trade.form.limit.info.title1') }}
            </p>
            <p class="trade-form-info__value">
              {{ $cn(availableCollateral, 8, 2) }}
            </p>
            <p class="trade-form-info__title">
              {{ $t('trade.form.limit.info.title2') }}
            </p>
            <p class="trade-form-info__value">
              {{ $cn(requiredCollateralLimit, 8, 2) }}
            </p>
          </div>
        </div>

        <div class="trade-form__btns">
          <base-btn
            mode="green"
            class="trade-form__btn trade-form__btn_mr-10"
            @click="handleBuyLimit"
          >
            {{ $t('trade.form.limit.btns.buy') }}
          </base-btn>
          <base-btn
            class="trade-form__btn trade-form__btn_mr-10"
            @click="handleBothLimit"
          >
            {{ $t('trade.form.limit.btns.both') }}
          </base-btn>
          <base-btn
            mode="red"
            class="trade-form__btn"
            @click="handleSellLimit"
          >
            {{ $t('trade.form.limit.btns.sell') }}
          </base-btn>
        </div>
      </form>
    </validation-observer>
  </base-card>
</template>

<script>
import { mapGetters } from 'vuex';
import BigNumber from 'bignumber.js';
import modals from '~/store/modals/modals';
import { debounce } from '~/utils/debounce';

const DEFAULT_SLIPPAGE = '5 %';

export default {
  name: 'TradeForm',
  props: {
    selectedPair: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      currency: '',
      orderType: 'limit',
      value: '',
      currencyBtns: [],
      orderTypes: [
        { text: this.$t('trade.form.orderType.options.market'), value: 'market' },
        { text: this.$t('trade.form.orderType.options.limit'), value: 'limit' },
      ],
      marketOrder: {
        amount: null,
        isFillOrKill: false,
      },
      limitOrder: {
        buyPrice: null,
        sellPrice: null,
        amount: null,
        slippage: DEFAULT_SLIPPAGE,
        isFillOrKill: false,
      },
      availableCollateral: null,
      isBuyOrder: false,
      isSellOrder: false,
    };
  },
  computed: {
    ...mapGetters({
      currencies: 'trade/getCurrencies',
      isWalletConnected: 'wallet/getIsConnectedToMetamask',
      excessCollateral: 'wallet/getExcessCollateral',
      requiredCollateralInfo: 'trade/getRequiredCollateralInfo',
    }),
    selectedPairName() {
      return this.selectedPair?.name ?? '';
    },
    currencyLabel() {
      return this.selectedPair?.name?.split('/')[0] ?? '';
    },
    preparedSlippage() {
      return this.limitOrder.slippage?.split(' %')[0] || '0';
    },
    requiredBuyCollateralMarket() {
      const requiredCollateral = this.marketOrder.amount ? this.calculateMarketRequiredCollateralBuyer() : '0';

      return requiredCollateral;
    },
    requiredSellCollateralMarket() {
      const requiredCollateral = this.marketOrder.amount ? this.calculateMarketRequiredCollateralSeller() : '0';

      return requiredCollateral;
    },
    requiredCollateralLimit() {
      const buyerRequiredCollateral = this.limitOrder.amount && this.limitOrder.buyPrice ? this.calculateLimitRequiredCollateralBuyer() : '0';
      const sellerRequiredCollateral = this.limitOrder.amount && this.limitOrder.sellPrice ? this.calculateLimitRequiredCollateralSeller() : '0';
      const requiredCollateral = (new BigNumber(buyerRequiredCollateral)).plus(sellerRequiredCollateral).toString();

      return requiredCollateral;
    },
  },
  watch: {
    excessCollateral: {
      immediate: true,
      handler(excessCollateral) {
        this.availableCollateral = excessCollateral;
      },
    },
    limitOrder: {
      deep: true,
      handler(limitOrder) {
        Object.keys(limitOrder).forEach((key) => {
          this.$cookies.set(`limit-${key}`, limitOrder[key]);
        });

        if ((limitOrder.buyPrice || limitOrder.sellPrice) && limitOrder.amount) {
          this.updateRequiredCollateralInfo(this.selectedPair.id);
        }
      },
    },
    marketOrder: {
      deep: true,
      handler(marketOrder) {
        Object.keys(marketOrder).forEach((key) => {
          this.$cookies.set(`market-${key}`, marketOrder[key]);
        });
        if (marketOrder.amount) {
          this.updateRequiredCollateralInfo(this.selectedPair.id);
        }
      },
    },
  },
  beforeMount() {
    this.updateRequiredCollateralInfo = debounce(this.fetchPairById, 2000);
    this.setOrderFormStorage('limit');
    this.setOrderFormStorage('market');
  },
  methods: {
    fetchPairById(id) {
      try {
        this.$store.dispatch('trade/fetchPairById', id);
      } catch (err) {
        console.log('err: ');
        console.dir(err);
      }
    },
    setOrderFormStorage(orderType) {
      const orderForm = this[`${orderType}Order`];

      Object.keys(orderForm).forEach((key) => {
        if (orderForm[key] && !this.$cookies.get(`${orderType}-${key}`)) {
          return;
        }

        if (typeof orderForm[key] === 'boolean' && !this.$cookies.get(`${orderType}-${key}`)) {
          return;
        }

        orderForm[key] = this.$cookies.get(`${orderType}-${key}`) ?? null;
      });
    },
    resetOrderFormStorage(orderType) {
      const orderForm = this[`${orderType}Order`];

      Object.keys(orderForm).forEach((key) => {
        this.$cookies.set(`${orderType}-${key}`, orderForm[key]);
      });
    },
    calculateLimitRequiredCollateralBuyer() {
      const { amount, buyPrice } = this.limitOrder;
      const isUSDPair = this.selectedPair?.name.toLowerCase().includes('ousd') ?? false;
      const priceUSDT = new BigNumber(this.requiredCollateralInfo?.priceQuote ?? 0);
      const collateralCoin = new BigNumber(this.requiredCollateralInfo?.pairCollateral ?? 0);
      const slippageBn = new BigNumber(this.preparedSlippage);

      const preparedCollateral = collateralCoin.dividedBy(100);
      const preparedSlippage = slippageBn.dividedBy(100);
      const partOne = isUSDPair ? priceUSDT.multipliedBy(amount) : priceUSDT.multipliedBy(amount).multipliedBy(buyPrice);
      const partTwo = partOne.multipliedBy(preparedSlippage);
      const requiredCollateral = partOne.plus(partTwo).multipliedBy(preparedCollateral);

      return requiredCollateral.toString();
    },
    calculateLimitRequiredCollateralSeller() {
      const { amount } = this.limitOrder;
      const priceUSDT = new BigNumber(this.requiredCollateralInfo?.priceBase ?? 0);
      const collateralCoin = new BigNumber(this.requiredCollateralInfo?.pairCollateral ?? 0);
      const slippageBn = new BigNumber(this.preparedSlippage);

      const preparedCollateral = collateralCoin.dividedBy(100);
      const preparedSlippage = slippageBn.dividedBy(100);
      const partOne = priceUSDT.multipliedBy(amount);
      const partTwo = partOne.multipliedBy(preparedSlippage);
      const requiredCollateral = partOne.plus(partTwo).multipliedBy(preparedCollateral);

      return requiredCollateral.toString();
    },
    calculateMarketRequiredCollateralBuyer() {
      const { amount } = this.marketOrder;
      const marketPrice = this.requiredCollateralInfo?.lastPrice ?? 0;
      const priceUSDT = new BigNumber(this.requiredCollateralInfo?.priceQuote ?? 0);
      const collateralCoin = new BigNumber(this.requiredCollateralInfo?.pairCollateral ?? 0);

      const preparedCollateral = collateralCoin.dividedBy(100);
      const partOne = priceUSDT.multipliedBy(amount).multipliedBy(marketPrice);
      const requiredCollateral = partOne.multipliedBy(2).multipliedBy(preparedCollateral);

      return requiredCollateral.toString();
    },
    calculateMarketRequiredCollateralSeller() {
      const { amount } = this.marketOrder;
      const priceUSDT = new BigNumber(this.requiredCollateralInfo?.priceBase ?? 0);
      const collateralCoin = new BigNumber(this.requiredCollateralInfo?.pairCollateral ?? 0);

      const preparedCollateral = collateralCoin.dividedBy(100);
      const partOne = priceUSDT.multipliedBy(amount);
      const requiredCollateral = partOne.multipliedBy(2).multipliedBy(preparedCollateral);

      return requiredCollateral.toString();
    },
    resetForm(formName) {
      const form = this.$refs[formName];
      const orderType = formName.split('Order')[0];

      this[formName] = Object.entries(this[formName]).reduce((acc, [key, value]) => {
        if (key === 'slippage') {
          acc[key] = DEFAULT_SLIPPAGE;
          return acc;
        }

        if (typeof value === 'boolean') {
          acc[key] = false;
        } else {
          acc[key] = null;
        }

        return acc;
      }, {});

      form.reset();
      this.resetOrderFormStorage(orderType);
    },
    handleBuyMarket() {
      if (+this.requiredBuyCollateralMarket > +this.availableCollateral && this.isWalletConnected) {
        this.ShowError(this.$t('trade.form.limit.toast.required-collateral'));
        return;
      }

      this.Signer(this.createMarketOrder, 'buy');
    },
    handleSellMarket() {
      if (+this.requiredSellCollateralMarket > +this.availableCollateral && this.isWalletConnected) {
        this.ShowError(this.$t('trade.form.limit.toast.required-collateral'));
        return;
      }

      this.Signer(this.createMarketOrder, 'sell');
    },
    async validateLimitForm(type) {
      const { limitOrder, limitBuyPrice, limitSellPrice } = this.$refs;
      if (type === 'both') {
        this.isSellOrder = true;
        this.isBuyOrder = true;
      } else {
        this.isBuyOrder = type === 'buy' ? this.limitOrder.buyPrice === null : false;
        this.isSellOrder = type === 'buy' ? false : this.limitOrder.sellPrice === null;
      }

      const isValid = await limitOrder.validate();
      const isValidSellPrice = await limitSellPrice.$refs.baseInputProvider.validate();
      const isValidBuyPrice = await limitBuyPrice.$refs.baseInputProvider.validate();

      return (isValid && isValidSellPrice.valid && isValidBuyPrice.valid);
    },
    async handleBuyLimit() {
      const isValid = await this.validateLimitForm('buy');

      if (!isValid) {
        return;
      }

      if (+this.requiredCollateralLimit > +this.availableCollateral && this.isWalletConnected) {
        this.ShowError(this.$t('trade.form.limit.toast.required-collateral'));
        return;
      }

      this.Signer(this.createLimitOrder, 'buy');
    },
    async handleSellLimit() {
      const isValid = await this.validateLimitForm('sell');

      if (!isValid) {
        return;
      }

      if (+this.requiredCollateralLimit > +this.availableCollateral && this.isWalletConnected) {
        this.ShowError(this.$t('trade.form.limit.toast.required-collateral'));
        return;
      }

      this.Signer(this.createLimitOrder, 'sell');
    },
    async handleBothLimit() {
      const isValid = await this.validateLimitForm('both');

      if (!isValid) {
        return;
      }

      if (this.isWalletConnected) {
        const buyOrder = this.createLimitOrder('buy', true);
        const sellOrder = this.createLimitOrder('sell', true);

        await Promise.all([buyOrder, sellOrder]);
        this.resetForm('limitOrder');
        return;
      }

      await this.ShowModal({
        key: modals.connectWallet,
        title: this.$t('wallet-connection-modal.title'),
        text: this.$t('wallet-connection-modal.description'),
      });
    },
    async createMarketOrder(side) {
      try {
        const message = this.selectedPair.baseAssetId;
        const sign = await this.$store.dispatch('wallet/sign', { message });

        const payload = {
          type: this.orderType.toUpperCase(),
          pairId: this.selectedPair.id.toString(),
          amount: this.marketOrder.amount.toString(),
          price: this.selectedPair.lastPrice.toString(),
          slippage: '0',
          side,
          signature: sign,
          fill: this.marketOrder.isFillOrKill,
          both: false,
        };

        await this.$store.dispatch('trade/createMarketOrder', payload);

        this.resetForm('marketOrder');
      } catch (err) {
        console.log('ORDER ERR');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
    async createLimitOrder(side, isBoth = false) {
      try {
        const message = this.selectedPair.baseAssetId;
        const sign = await this.$store.dispatch('wallet/sign', { message, isOrderCreate: true });

        const payload = {
          type: this.orderType.toUpperCase(),
          pairId: this.selectedPair.id.toString(),
          amount: this.limitOrder.amount.toString(),
          price: this.limitOrder[`${side}Price`].toString(),
          slippage: this.preparedSlippage,
          side,
          signature: sign,
          fill: this.limitOrder.isFillOrKill,
          both: isBoth,
        };

        await this.$store.dispatch('trade/createLimitOrder', payload);

        if (!isBoth) {
          // TODO: временно создаю обратный ордер
          // await this.createReverseOrder(payload);
          this.resetForm('limitOrder');
        }
      } catch (err) {
        console.log('ORDER ERR');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },

    async createReverseOrder(order) {
      try {
        const signature = {
          messageHash: '0x3131303030303030303030303030303030303030',
          signature: '0x447bc376322b69ab6a60d1f86b55f910535c44545071ce63556781e7a9ce67db39ff5e1f0ca43a96fec0c545d861c59a6ec7d389b3394a62b5e3c2839ef67e8d1b',
        };
        const reverseOrder = JSON.parse(JSON.stringify(order));
        reverseOrder.amount = '1';
        reverseOrder.side = order.side === 'sell' ? 'buy' : 'sell';
        reverseOrder.signature = signature;

        await this.$api.orderService.createOrder(reverseOrder);
      } catch (err) {
        console.log('REVERSE ORDER ERR');
        console.dir(err);
      }
    },
  },
};
</script>

<style lang="scss">
  .trade-form-card {
    .trade-form-card__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
    }
    &__body {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
      color: $black400;
    }
    .trade-form-card__radio-group {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-column-gap: 10px;
    }
    .trade-form-card__tabs {
      &_mb {
        margin-bottom: 20px;
      }
      &_list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    &__oredr-type {
      &_mb {
        margin-bottom: 13px;
      }
    }
  }
  .trade-form {
    display: grid;
    grid-template-rows: 1fr auto;
    flex-grow: 1;
    &__content {

    }
    &__field {
      &_mb {
        &-20 {
          margin-bottom: 20px;
        }
        &-13 {
          margin-bottom: 13px;
        }
      }
      &_separate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 14px;
      }
    }
    &__info {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 20px;
      grid-row-gap: 14px;
    }
    &__checkbox {
      @include checkbox;
      margin-right: 10px;
      margin-bottom: 20px;
      label {
        margin-bottom: 0;
      }
    }
    &__label {
      font-size: 16px;
      line-height: 23px;
      color: $black500;
    }
    &__btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__btn {
      width: 100%;
      &_mr {
        &-10 {
          margin-right: 10px;
        }
        &-20 {
          margin-right: 20px;
        }
      }
    }
  }
  .trade-form-info {
    &__title {
      font-size: 14px;
      color: $black300
    }
    &__value {
      font-size: 18px;
      color: $black400;
    }
  }

  @include _480 {
    .trade-form {
      &__btns {
        display: grid;
        grid-row-gap: 10px;
        align-items: start;
        justify-content: stretch;
        margin-top: 10px;
      }
    }
  }
</style>
