<template>
  <component
    :is="tag"
    :disabled="busy"
    class="overlay"
    :class="{'overlay__content': busy}"
  >
    <b-spinner
      v-if="busy"
      :style="{color: color}"
    />
    <template v-else>
      <slot />
    </template>
  </component>
</template>

<script>
export default {
  name: 'BtnLoader',
  props: {
    tag: {
      type: String,
      default: 'button',
    },
    busy: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: '#FFFFFF',
    },
  },
};
</script>

<style lang="scss" scoped>
  .overlay {
    padding: 0;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
