<template>
  <base-card
    class="trade-history"
    header-classes="trade-history__header"
    body-classes="trade-history__body"
    :title="$t('reward.table.title')"
  >
    <b-table
      id="transactions-history-table"
      :fields="fields"
      :items="transactions"
      :show-empty="true"
      :busy="busyState"
      sticky-header="550px"
      table-class="base-table"
      tbody-class="trade-history-table__body"
      thead-class="base-table__head"
      responsive
      borderless
      sort-icon-left
      no-border-collapse
    >
      <template v-slot:cell(no)="{ index }">
        <span>{{ index + 1 }}</span>
      </template>
      <template v-slot:cell(date)="{ item }">
        <span>{{ $d(new Date(item.date), 'longDate') }}</span>
      </template>
      <template v-slot:cell(hash)="{ item }">
        <span
          v-b-tooltip="{customClass: 'base-tooltip'}"
          :title="item.hash"
        >{{ truncate(item.hash) }}</span>
      </template>
      <template v-slot:cell(vote)="{ item }">
        <div
          class="voting__btn"
          :class="{
            'voting__btn_red' : !item.vote,
            'voting__btn_green' : item.vote
          }"
        >
          <div class="voting__text voting__text_btn">
            {{ item.vote ? $t('governance.table.btns.yes') : $t('governance.table.btns.no') }}
          </div>
        </div>
      </template>
    </b-table>
  </base-card>
</template>

<script>
export default {
  name: 'StakedTransactionsTable',
  props: {
    transactions: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      busyState: false,
    };
  },
  computed: {
    fields() {
      const fields = ['no', 'hash', 'date', 'userAddress', 'vote'];
      return fields.map((item) => {
        if (item === 'btn') {
          return {
            key: item,
            label: '',
            sortable: false,
            thClass: 'base-table__th',
            tdClass: 'base-table__td base-table__td_text-center',
          };
        }

        return {
          key: item,
          label: this.$t(`governance.table.${item}`),
          sortable: true,
          thClass: 'base-table__th',
          tdClass: 'base-table__td',
        };
      });
    },
  },
  methods: {
    truncate(str) {
      if (!str) return str;

      const start = str.slice(0, 6);
      const end = str.slice(-6);

      return `${start}...${end}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.trade-history {
  .b-table-sticky-header {
    @include base-scrollbar;
    margin-bottom: 0;
  }
  .trade-history__header {
    padding-bottom: 0;
  }
  .trade-history__body {
    padding-bottom: 0;
  }
}

.voting {
  .voting-table__header {
    padding-bottom: 0;
  }
  .voting-table__body {
    padding-bottom: 0;
  }

  &__text {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    &_btn {
      font-size: 16px;
      line-height: 19px;
      margin: auto;
      color: #FFFFFF;
    }
  }
  &__btn {
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    position: static;
    width: 49px;
    height: 29px;
    &_red {
      background: #D64230;
      border-radius: 4px;
    }
    &_green {
      background: #26D652;
      border-radius: 4px;
    }
  }
}
</style>
