<template>
  <div
    class="base-banner"
    :style="{ backgroundImage: `url(${bg})` }"
  >
    <div class="base-banner__info-block">
      <slot>
        <h1
          class="base-banner__title base-banner__title_mb"
          :class="titleClasses"
        >
          {{ title }}
        </h1>

        <p
          class="base-banner__info"
          :class="infoClasses"
        >
          {{ infoText }}
        </p>
        <slot name="governance" />
      </slot>
    </div>
  </div>
</template>

<script>
import modals from '~/store/modals/modals';

export default {
  name: 'BaseHeader',
  props: {
    title: {
      type: String,
      default: '',
    },
    infoText: {
      type: String,
      default: '',
    },
    bg: {
      type: String,
      default: '',
    },
    titleClasses: {
      type: [String, Object, Array],
      default: '',
    },
    infoClasses: {
      type: [String, Object, Array],
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
  .base-banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color: $black0;
    border-radius: 17px;
    box-shadow: 0px 15px 25px rgba(127, 208, 222, 0.25), 0px 7px 20px rgba(127, 208, 222, 0.4);
    &__info-block {
      max-width: 596px;
      text-align: center;
    }
    &__title {
      font-size: 56px;
      color: $black0;
      &_mb {
        margin-bottom: 10px;
      }
    }
  }

  @include _767 {
    .base-banner {
      &__title {
        font-size: 32px;
      }
    }
  }
</style>
