<template>
  <transition name="fade">
    <div
      v-if="isShow"
      class="base-modal"
      @mousedown.self="backgroundClick"
    >
      <base-modal-box
        v-if="modals.default === currentModalKey"
      >
        <div class="base-modal__content base-modal__text">
          {{ options.text }}
        </div>
      </base-modal-box>
      <ctm-modal-network v-if="modals.network === currentModalKey" />
      <ctm-modal-proposal v-if="modals.proposal === currentModalKey" />
      <ctm-modal-tooltip v-if="modals.tooltip === currentModalKey" />
      <ctm-modal-stake v-if="modals.stake === currentModalKey" />
      <ctm-modal-success v-if="modals.success === currentModalKey" />
      <ctm-modal-connect-wallet v-if="modals.connectWallet === currentModalKey" />
      <ctm-modal-unstake v-if="modals.unstake === currentModalKey" />
    </div>
  </transition>
</template>
<script>
import { mapGetters } from 'vuex';
import modals from '@/store/modals/modals';
import CtmModalTooltip from '@/components/CtmModal/CtmModalTooltip';
import CtmModalNetwork from '@/components/CtmModal/CtmModalNetwork';
import CtmModalProposal from '@/components/CtmModal/CtmModalProposal';
import CtmModalStake from '@/components/CtmModal/CtmModalStake';
import CtmModalSuccess from '@/components/CtmModal/CtmModalSuccess';
import CtmModalConnectWallet from '@/components/CtmModal/CtmModalConnectWallet';
import CtmModalUnstake from '@/components/CtmModal/CtmModalUnstake';

export default {
  components: {
    'ctm-modal-tooltip': CtmModalTooltip,
    'ctm-modal-network': CtmModalNetwork,
    'ctm-modal-proposal': CtmModalProposal,
    'ctm-modal-stake': CtmModalStake,
    'ctm-modal-success': CtmModalSuccess,
    'ctm-modal-connect-wallet': CtmModalConnectWallet,
    'ctm-modal-unstake': CtmModalUnstake,
  },
  data: () => ({
    modals,
  }),
  computed: {
    ...mapGetters({
      isShow: 'modals/getIsShow',
      currentModalKey: 'modals/getCurrentModalKey',
      options: 'modals/getOptions',
    }),
  },
  methods: {
    backgroundClick() {
      if (!this.options.isUnclosable) {
        this.close();
      }
    },
    close() {
      this.$store.dispatch('modals/hide');
    },
  },
};
</script>
<style lang="scss" scoped>
.base-modal {
  @include modalKit;
}
</style>
