<template>
  <base-card
    class="balance-card"
    body-classes="balance-card__body"
  >
    <h4 class="balance-card__title balance-card__title_mb">
      {{ balance.title }}
    </h4>

    <div class="balance-card__content">
      <p
        v-if="balance.amount"
        class="balance-card__amount balance-card__amount_mb"
      >
        $ {{ $fn(balance.amount) }}
      </p>
      <p
        v-else
        class="balance-card__amount balance-card__amount_mb"
      >
        $ 0
      </p>

      <p class="balance-card__currency">
        {{ balance.currency }} {{ $t('misc.value') }}
      </p>
    </div>
  </base-card>
</template>

<script>
export default {
  name: 'BalanceCard',
  props: {
    balance: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss">
  .balance-card {
    .balance-card__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 25px;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
      color: $black400;
      &_mb {
        margin-bottom: 10px;
      }
    }
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 13px 25px;
      background-color: $fields;
      border-radius: 10px;
    }
    &__amount {
      font-size: 23px;
      line-height: 28px;
      color: $black400;
      &_mb {
        margin-bottom: 10px;
      }
    }
    &__currency {
      font-size: 14px;
      line-height: 17px;
      color: $black200;
    }
  }
</style>
