<template>
  <div class="tabs">
    <b-tabs
      v-model="tab"
      class="base-tabs"
      :nav-class="[
        'base-tabs__tablist',
        navClasses
      ]"
      active-nav-item-class="base-tabs__active"
    >
      <b-tab
        v-for="item in tabs"
        :key="item.title"
        :title="item.title"
        :tag="item.tag"
        :disabled="item.disabled"
      />
    </b-tabs>
  </div>
</template>

<script>
export default {
  name: 'BaseTabs',
  props: {
    tabs: {
      type: Array,
      default() {
        return [];
      },
    },
    value: {
      type: String,
      default: '',
    },
    navClasses: {
      type: [String, Object],
      default: '',
    },
  },
  computed: {
    tab: {
      get() {
        return this.tabs.findIndex((i) => i?.id === this.value);
      },
      set(tabIdx) {
        this.$emit('input', this.tabs[tabIdx]?.id);
      },
    },
  },
};
</script>

<style lang="scss">
  .base-tabs {
    .base-tabs__tablist {
      display: flex;
      align-items: center;
      border: none;
      background-color: $cyan100;
      width: fit-content;
      border-radius: 10px;
      padding: 3px;
    }
    .nav-link {
      border: none;
      font-family: $CodeProLC;
      font-size: 18px;
      line-height: 22px;
      color: $black400;
    }
    & .base-tabs__tablist &__active {
      background-color: $black0;
      border-radius: 7px;
      text-align: center;
    }
    .nav-item {
      margin-bottom: 0;
    }
  }
</style>
