<template>
  <validation-provider
    ref="baseInputProvider"
    v-slot="{errors, valid, invalid, validated}"
    :rules="rules"
    :name="name"
    v-bind="$attrs"
  >
    <div
      class="base-input"
      :class="[
        {'base-input_invalid': validated && invalid, 'base-input_described': label},
        wrapperClasses
      ]"
    >
      <slot name="label">
        <label
          v-if="label"
          class="base-input__label"
          :class="labelClasses"
          :for="id"
        >
          {{ label }}
        </label>
      </slot>
      <div
        class="base-input-group"
        :class="[
          {'input-group': group},
          {'base-input-group_rounded': rounded},
          {'base-input-group_valid': valid && validated && successMessage},
          {'base-input-group_invalid': invalid && validated},
          {'base-input-group_focus': focused},
          {'base-input-group_disabled': disabled},
          {'base-input-group_white': whiteMode},
          inputGroupClasses
        ]"
      >
        <div
          v-if="prependIcon || $slots.prependIcon"
          class="base-input-group__prepend-icon"
        >
          <slot name="prependIcon">
            <i :class="prependIcon" />
          </slot>
        </div>

        <div
          v-if="$slots.prependBtn"
          class="base-input-group__prepend"
        >
          <slot name="prependBtn" />
        </div>

        <slot
          v-bind="slotData"
          :errors="errors"
          :classes="[
            {'base-input-group__input_rounded': rounded},
            {'base-input-group__input_valid': valid && validated && successMessage},
            {'base-input-group__input_invalid': invalid && validated},
            {'base-input-group__input_white': whiteMode},
            'base-input-group__input',
            inputClasses
          ]"
        >
          <input
            :id="id"
            :type="type"
            v-bind="$attrs"
            :valid="valid"
            :required="required"
            :disabled="disabled"
            :placeholder="placeholder"
            class="base-input-group__input"
            :class="[
              {'base-input-group__input_rounded': rounded},
              {'base-input-group__input_valid': valid && validated && successMessage},
              {'base-input-group__input_invalid': invalid && validated},
              {'base-input-group__input_white': whiteMode},
              inputClasses
            ]"
            v-on="listeners"
          >
        </slot>

        <div
          v-if="appendIcon || $slots.appendIcon"
          class="base-input-group__append-icon"
        >
          <slot name="appendIcon">
            <i :class="appendIcon" />
          </slot>
        </div>

        <div
          v-if="$slots.appendBtn"
          class="base-input-group__append"
        >
          <slot name="appendBtn" />
        </div>

        <slot name="infoBlock" />
      </div>

      <slot name="success">
        <div
          v-if="valid && validated && successMessage"
          class="base-input__feedback base-input__feedback_valid"
        >
          {{ successMessage }}
        </div>
      </slot>
      <slot name="error">
        <div
          v-if="errors[0]"
          class="base-input__feedback base-input__feedback_invalid"
        >
          {{ errors[0] }}
        </div>
      </slot>
    </div>
  </validation-provider>
</template>

<script>
export default {
  name: 'BaseInput',
  inheritAttrs: false,
  props: {
    required: {
      type: Boolean,
      description: 'Whether input is required (adds an asterix *)',
    },
    label: {
      type: String,
      default: '',
      description: 'Input label (text before input)',
    },
    error: {
      type: String,
      default: '',
      description: 'Input error (below input)',
    },
    rounded: {
      type: Boolean,
      default: true,
      description: 'Roundes input border',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '',
    },
    successMessage: {
      type: String,
      description: 'Input success message',
      default: '',
    },
    wrapperClasses: {
      type: String,
      default: '',
      description: 'Input wrapper css classes',
    },
    labelClasses: {
      type: String,
      description: 'Input label css classes',
      default: 'form-control-label',
    },
    inputClasses: {
      type: String,
      default: '',
      description: 'Input css classes',
    },
    inputGroupClasses: {
      type: String,
      default: '',
      description: 'Input group css classes',
    },
    type: {
      type: String,
      description: 'Input type',
      default: 'text',
    },
    appendIcon: {
      type: String,
      default: '',
      description: 'Append icon (right)',
    },
    prependIcon: {
      type: String,
      default: '',
      description: 'Prepend icon (left)',
    },
    rules: {
      type: [String, Array, Object],
      description: 'Vee validate validation rules',
      default: '',
    },
    name: {
      type: String,
      description: 'Input name (used for validation)',
      default: '',
    },
    id: {
      type: String,
      default: '',
      description: 'Id for binding input and label',
    },
    whiteMode: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      focused: false,
    };
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: this.updateValue,
        focus: this.onFocus,
        blur: this.onBlur,
      };
    },
    slotData() {
      return {
        focused: this.focused,
        error: this.error,
        ...this.listeners,
      };
    },
    group() {
      const { appendBtn, prependBtn } = this.$slots;
      return appendBtn !== undefined || prependBtn !== undefined;
    },
  },
  methods: {
    updateValue(evt) {
      const { value } = evt.target;
      this.$emit('input', value);
    },
    onFocus(evt) {
      this.focused = true;
      this.$emit('focus', evt);
    },
    onBlur(evt) {
      this.focused = false;
      this.$emit('blur', evt);
    },
  },
};
</script>

<style lang="scss">
  .base-input {
    display: flex;
    flex-direction: column;
    &_described {
      height: 95px;
    }
    &_invalid {

    }
    &__label {
      font-size: 16px;
      line-height: 145%;
      color: $black400;
    }
    &__feedback {
      min-height: 12px;
      font-size: 12px;
      &_valid {
        color: $green500;
      }
      &_invalid {
        color: $red500;
      }
    }
  }

  .base-input-group {
    width: 100%;
    height: 46px;
    display: flex;
    background-color: $fields;
    border: 1px solid $black100;
    color: $black400;
    &_rounded {
      border-radius: 10px;
    }
    &_invalid {
      background-color: $fields;
      border: 1px solid $red500;
      color: $red500;
    }
    &_valid {
      background-color: $black0;
      border: 1px solid $green500;
    }
    &_focus {
      background-color: $black0;
      border: 1px solid $blue500;
      color: $black400;
    }
    &_disabled {
      background-color: $black100;
    }
    &_white {
      background-color: $black0;
    }
    &__input {
      width: 100%;
      height: 100%;
      padding: 8px 15px;
      font-size: 16px;
      line-height: 23px;
      border: none;
      outline: none;
      background-color: $fields;
      &_rounded {
        border-radius: 10px;
      }
      &_invalid {
        background-color: $fields;
        color: $red500;
      }
      &_valid {
        background-color: $black0;
      }
      &_white {
        background-color: $black0;
      }
      &:focus {
        background-color: $black0;
        border-color: $blue500;
        color: $black400;
      }
      &::placeholder {
        font-family: $Inter;
        font-size: 16px;
        line-height: 23px;
        color: $black200;
      }
      &:disabled::placeholder {
        color: $black300;
      }
    }
    &__prepend {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &__prepend-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-left: 15px;
      font-size: 24px;
    }
    &__append {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &__append-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-right: 15px;
      font-size: 24px;
    }
  }
</style>
