<template>
  <div class="market-table-wrapper">
    <!-- <base-select
      v-model="tab"
      :options="selectOptions"
      :prepend-text="$t('misc.filter')"
      class="market-table-wrapper__select"
      rounded
    /> -->
    <base-card
      class="market-table"
      header-classes="market-table__header"
      body-classes="market-table__body"
    >
      <template #header>
        <!-- <base-tabs
          v-model="tab"
          class="market-table__tabs"
          :tabs="tabs"
        /> -->
      </template>

      <b-table
        id="market-table"
        :fields="fields"
        :items="dataSet.items"
        :show-empty="true"
        :busy="busyState"
        table-class="base-table"
        thead-class="base-table__head"
        sticky-header="560px"
        responsive
        borderless
        sort-icon-left
        no-border-collapse
      >
        <template v-slot:cell(btn)>
          <base-btn nuxt-link="/trade">
            {{ $t('market.table.btn') }}
          </base-btn>
        </template>
        <template v-slot:cell(tokens)="{item}">
          <span
            v-b-tooltip="{customClass: 'base-tooltip'}"
            :title="item.tokens"
          >{{ truncate(item.tokens) || '-' }}</span>
        </template>
        <template v-slot:cell(usdValue)="{item}">
          <span
            v-b-tooltip="{customClass: 'base-tooltip'}"
            :title="item.usdValue"
          >{{ truncate(item.usdValue) || '-' }}</span>
        </template>
        <template v-slot:cell(initial)="{item}">
          <span>{{ item.initial || '-' }}</span>
        </template>
        <template v-slot:cell(maintenance)="{item}">
          <span>{{ item.maintenance || '-' }}</span>
        </template>
        <template v-slot:cell(lastPrice)="{item}">
          <span>{{ item.lastPrice || '-' }}</span>
        </template>
        <template v-slot:cell(change24h)="{item}">
          <span>{{ item.change24h || '-' }}</span>
        </template>
        <template v-slot:cell(high24h)="{item}">
          <span>{{ item.high24h || '-' }}</span>
        </template>
        <template v-slot:cell(low24h)="{item}">
          <span>{{ item.low24h || '-' }}</span>
        </template>
        <template v-slot:cell(volume24h)="{item}">
          <span>{{ item.volume24h || '-' }}</span>
        </template>
      </b-table>
    </base-card>
  </div>
</template>

<script>
export default {
  title: 'MarketTable',
  data() {
    return {
      tab: 'all',
      tabs: [
        {
          id: 'all',
          title: this.$t('market.tabs.all'),
        },
      ],
      selectOptions: [
        {
          value: 'all',
          text: this.$t('market.tabs.all'),
        },
      ],
      busyState: false,
      allFields: {
        all: {
          fields: ['symbol', 'title', 'tokens', 'usdValue', 'initial', 'maintenance', 'lastPrice', 'change24h', 'high24h', 'low24h', 'volume24h', 'btn'],
          action: '',
          getter: 'market/getMarketTableAll',
        },
      },
    };
  },
  computed: {
    fields() {
      if (this.tab) {
        return this.allFields[this.tab].fields.map((item) => {
          if (item === 'btn') {
            return {
              key: item,
              label: '',
              sortable: false,
              thClass: 'base-table__th',
              tdClass: 'base-table__td base-table__td_text-center',
            };
          }

          return {
            key: item,
            label: this.$t(`market.table.header.${item}`),
            sortable: true,
            thClass: 'base-table__th',
            tdClass: 'base-table__td',
          };
        });
      }
      return [];
    },
    dataSet() {
      return this.$store.getters[this.allFields[this.tab].getter];
    },
  },
  methods: {
    truncate(str) {
      if (!str || str?.length < 15) return str;

      const start = str.slice(0, 4);
      const end = str.slice(-4);

      return `${start}...${end}`;
    },
  },
};
</script>

<style lang="scss">
.market-table {
  .b-table-sticky-header {
    @include base-scrollbar;
    margin-bottom: 0;
  }
  .market-table__header {
    padding-bottom: 0;
  }
  .market-table__body {
    padding-bottom: 0;
  }
}
.market-table-wrapper {
  display: grid;
  &__select {
    display: none;
  }
}
@include _767 {
  .market-table-wrapper {
    grid-row-gap: 10px;
    &__select {
      display: block;
    }
  }
  .market-table {
    .market-table__header {
      padding: 0;
    }
    .market-table__body {
      padding: 15px 10px;
    }
    &__tabs {
      display: none;
    }
  }
}
</style>
