<template>
  <div
    class="base-card"
    :class="[
      {[`base-card_bg-${type}`]: type},
      ...wrapperClasses
    ]"
  >
    <slot name="image" />
    <div
      v-if="$slots.header || title"
      class="base-card__header"
      :class="[
        {'base-card__header_border': withHeaderBorder},
        headerClasses
      ]"
    >
      <slot name="header">
        <h3 class="base-card__title">
          {{ title }}
        </h3>
      </slot>
    </div>
    <div
      v-if="!noBody"
      class="base-card__body"
      :class="bodyClasses"
    >
      <slot />
    </div>

    <slot v-if="noBody" />

    <div
      v-if="$slots.footer"
      class="base-card__footer"
      :class="footerClasses"
    >
      <slot name="footer" />
    </div>
  </div>
</template>
<script>
export default {
  name: 'Card',
  props: {
    type: {
      type: String,
      default: 'default',
      description: 'Card type',
    },
    title: {
      type: String,
      default: '',
    },
    noBody: {
      type: Boolean,
      default: false,
      description: 'Whether card should have wrapper body class',
    },
    wrapperClasses: {
      type: [String, Object, Array],
      default: '',
      description: 'Card wrapper css classes',
    },
    bodyClasses: {
      type: [String, Object, Array],
      default: '',
      description: 'Card body css classes',
    },
    headerClasses: {
      type: [String, Object, Array],
      default: '',
      description: 'Card header css classes',
    },
    footerClasses: {
      type: [String, Object, Array],
      default: '',
      description: 'Card footer css classes',
    },
    withHeaderBorder: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
  .base-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid $black100;
    border-radius: 10px;
    &_bg {
      &-default {
        background-color: $black0;
      }
      &-info {
        background-color: $cyan100;
        border: 1px solid $cyan200;
      }
    }
    &__header {
      padding: 20px;
      &_border {
        border-bottom: 1px solid $black100;
      }
    }
    &__body {
      padding: 20px;
    }
    &__footer {
      padding: 20px;
      border-top: 1px solid $black100;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
      color: $black400;
    }
  }
  @include _480 {
    .base-card {
      &__header {
        padding: 10px;
      }
      &__body {
        padding: 10px;
      }
      &__footer {
        padding: 10px;
      }
    }
  }
</style>
