<template>
  <base-modal-box
    :title="state === 'Add' ? 'Add proposal' : 'Create proposal?'"
    :class="{'base-modal__box_add' : state==='Add', 'base-modal__box_create' : state==='Create'}"
  >
    <validation-observer
      v-slot="{handleSubmit}"
      ref="marketOrder"
      slim
    >
      <form
        @submit.prevent
      >
        <div
          v-if="state==='Add'"
          class="base-modal__content"
        >
          <div class="base-modal__info">
            <base-select
              v-model="type"
              :options="proposalTypes"
              prepend-text="Type"
              rounded
              class="base-modal__select"
            />

            <div v-if="type === $options.PROPOSAL_TYPES.ADD_TOKEN || type === $options.PROPOSAL_TYPES.DELETE_TOKEN">
              <base-input
                v-model="addressToken"
                label="Address"
                name="Address"
                rules="required|isEthereumAddress"
                :placeholder="'Address'"
                type="text"
              />

              <base-input
                v-model="tokenCollateral"
                label="Collateral"
                name="Collateral"
                type="text"
                :placeholder="'10'"
                rules="required|integer|max_value:100|min_value:0"
              />

              <base-input
                v-model="symbolToken"
                label="Symbol"
                name="Symbol"
                type="text"
                :placeholder="'Symbol'"
                disabled
              />

              <base-input
                v-model="tokenName"
                label="Name"
                name="Name"
                type="text"
                :placeholder="'Name'"
                disabled
              />
            </div>

            <div v-if="type === $options.PROPOSAL_TYPES.ADD_PAIR || type === $options.PROPOSAL_TYPES.DELETE_PAIR">
              <h3 class="base-modal__text">
                Base pair
              </h3>
              <base-select
                v-model="pair.basePair"
                :options="basePairsOptions"
                rounded
                class="base-modal__select"
              />

              <h3 class="base-modal__text">
                Quote pair
              </h3>
              <base-select
                v-model="pair.quotePair"
                :options="quotePairsOptions"
                rounded
                class="base-modal__select"
              />
            </div>
          </div>

          <div class="base-modal__btns">
            <base-btn
              mode="red"
              outlined
              @click="CloseModal"
            >
              Cancel
            </base-btn>
            <base-btn
              :disabled="type !== $options.PROPOSAL_TYPES.ADD_TOKEN"
              @click="handleSubmit(clickSubmit)"
            >
              Submit
            </base-btn>
          </div>
        </div>

        <div
          v-else
          class="base-modal__content"
        >
          <div class="base-modal__info">
            <div class="modal-row">
              <div class="modal-row__title">
                Address
              </div>
              <div class="modal-row__value">
                {{ addressToken }}
              </div>
            </div>
            <div class="modal-row">
              <div class="modal-row__title">
                Token symbol
              </div>
              <div class="modal-row__value">
                {{ symbolToken }}
              </div>
            </div>
          </div>
          <div class="base-modal__btns">
            <base-btn
              mode="red"
              outlined
              :disabled="isLoading"
              @click="CloseModal"
            >
              Cancel
            </base-btn>
            <base-btn
              :disabled="isLoading"
              @click="handleSubmit(clickSubmit)"
            >
              <btn-loader
                v-if="isLoading"
                :busy="isLoading"
                tag="div"
              />
              <span v-else>
                Submit
              </span>
            </base-btn>
          </div>
        </div>
      </form>
    </validation-observer>
  </base-modal-box>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '~/libs/config';
import { PROPOSAL_TYPES } from '~/utils/constants';
import { getBytecodeForProposal, getTokenInfoByAddress } from '~/plugins/web3';

export default {
  name: 'ModalProposal',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  PROPOSAL_TYPES,
  data() {
    return {
      type: 1,
      addressToken: '',
      symbolToken: '',
      tokenName: '',
      tokenCollateral: '',
      state: 'Add',
      bytecode: '',
      isLoading: false,
      pair: {
        basePair: '',
        quotePair: '',
      },
    };
  },
  computed: {
    ...mapGetters({
      currencies: 'main/getCurrencies',
      signature: 'wallet/getUserSignature',
    }),
    network() {
      return config.chainId > 1 ? 'Testnet Rinkeby' : 'Mainnet';
    },
    proposalTypes() {
      const types = this.$options.PROPOSAL_TYPES;

      return [
        {
          text: this.$t(`governance.modal.types.${types['1']}`),
          value: types.ADD_TOKEN,
        },
        // {
        //   text: this.$t(`governance.modal.types.${types['2']}`),
        //   value: types.ADD_PAIR,
        // },
        // {
        //   text: this.$t(`governance.modal.types.${types['3']}`),
        //   value: types.DELETE_PAIR,
        // },
        {
          text: this.$t(`governance.modal.types.${types['4']}`),
          value: types.DELETE_TOKEN,
        },
      ];
    },
    currenciesOptions() {
      const erc20Tokens = this.currencies.map((item) => ({ text: item.symbol, value: item.id }));

      return erc20Tokens;
    },
    basePairsOptions() {
      return this.currenciesOptions.filter((i) => i.value !== this.pair.quotePair);
    },
    quotePairsOptions() {
      return this.currenciesOptions.filter((i) => i.value !== this.pair.basePair);
    },
  },
  watch: {
    async addressToken(value) {
      const tokenInfo = await getTokenInfoByAddress(this.addressToken);
      console.log('tokenInfo: ', tokenInfo);
      this.symbolToken = tokenInfo.symbol;
      this.tokenName = tokenInfo.name;
    },
  },
  methods: {
    async clickSubmit() {
      if (this.state === 'Add') {
        try {
          this.bytecode = getBytecodeForProposal(this.addressToken, this.type, this.tokenCollateral);

          this.state = 'Create';
        } catch (err) {
          this.ShowError(err.message);
        }
      } else {
        await this.createProposal();
      }
    },
    async createProposal() {
      const pyalod = {
        type: this.type,
        data: this.generateDataByProposalType(this.type),
        bytecode: this.bytecode,
        signature: this.signature,
      };

      try {
        this.isLoading = true;
        const createProposal = await this.$api.proposalService.createProposal(pyalod);
        console.log('createProposal: ', createProposal);
        this.CloseModal();
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      } finally {
        this.isLoading = false;
      }
    },
    generateDataByProposalType(type) {
      const {
        ADD_TOKEN, ADD_PAIR, DELETE_PAIR, DELETE_TOKEN,
      } = this.$options.PROPOSAL_TYPES;
      let data = {};

      if (type === ADD_TOKEN || type === DELETE_TOKEN) {
        data = {
          baseAssetId: this.addressToken,
          symbolBase: this.symbolToken,
        };
      } else if (type === ADD_PAIR || type === DELETE_PAIR) {
        data = {
          baseAssetId: this.pair.basePair,
          symbolBase: this.getSymbolById(this.pair.basePair),
          quoteAssetId: this.pair.quotePair,
          symbolQuote: this.getSymbolById(this.pair.quotePair),
        };
      }

      return data;
    },
    getSymbolById(id) {
      const coin = this.currencies.find((i) => i.id === id);

      return coin.symbol;
    },
  },
};
</script>

<style lang="scss" scoped>
$widthBox: 409px;

.base-modal {
  @include modalKit;
  .base-modal__box {
    min-width: 292px;
    border-radius: 15px;
    &_add {
      width: 409px;
      //height: 444px;
    }
    &_create {
      width: 500px;
      height: 257px;
    }
  }
  &__content {
    padding: 0px 20px 20px 20px !important;
  }
  &__img {
    width: 76px;
    height: 76px;
    margin: 20px auto 28px;
  }
  &__info {
    //max-width: 250px;
    //margin: 0 auto;
    // text-align: center;
    padding-top: 14px;
  }
  &__title {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  &__text {
    font-family: 'Code Pro LC', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 10px;
  }
  &__select {
    margin-bottom: 20px;
  }
  .base-modal__btns {
    grid-template-columns:1fr 1fr;
  }
}
.modal-row {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  &__title {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    display: flex;
    align-items: center;
    color: #9A9A9A;
  }
  &__value {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
  }
}

</style>
