@font-face {
  font-family: "CodeProLC";
  src: url(~assets/fonts/CodeProLC/CodeProLC.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(~assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
  font-weight: 400;
}
