@font-face {
  font-family: 'icomoon';
  src:  url(~assets/fonts/icomoon/icomoon.eot?jjb5k5);
  src:  url(~assets/fonts/icomoon/icomoon.eot?jjb5k5#iefix) format('embedded-opentype'),
    url(~assets/fonts/icomoon/icomoon.ttf?jjb5k5) format('truetype'),
    url(~assets/fonts/icomoon/icomoon.woff?jjb5k5) format('woff'),
    url(~assets/fonts/icomoon/icomoon.svg?jjb5k5#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e918";
}
.icon-telegram:before {
  content: "\e919";
}
.icon-medium:before {
  content: "\e91a";
}
.icon-youtube:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e900";
  color: #2e3a59;
}
.icon-plus:before {
  content: "\e901";
  color: #2e3a59;
}
.icon-stopwatch .path1:before {
  content: "\e902";
  color: rgb(97, 138, 195);
}
.icon-stopwatch .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(237, 242, 248);
}
.icon-close_big:before {
  content: "\e904";
  color: #2e3a59;
}
.icon-close_small:before {
  content: "\e905";
  color: #2e3a59;
}
.icon-sample:before {
  content: "\e906";
}
.icon-help_circle_outline:before {
  content: "\e907";
  color: #2e3a59;
}
.icon-help_questionmark:before {
  content: "\e908";
  color: #2e3a59;
}
.icon-hide:before {
  content: "\e909";
  color: #2e3a59;
}
.icon-show:before {
  content: "\e90a";
  color: #2e3a59;
}
.icon-search:before {
  content: "\e90b";
}
.icon-chevron_down:before {
  content: "\e90c";
}
.icon-unfold_more:before {
  content: "\e90d";
}
.icon-Logo:before {
  content: "\e90e";
}
.icon-eth-Alt:before {
  content: "\e90f";
  color: #1e5390;
}
.icon-Ethereum .path1:before {
  content: "\e910";
  color: rgb(30, 83, 145);
  opacity: 0.1;
}
.icon-Ethereum .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(30, 83, 144);
}
.icon-btc-Alt:before {
  content: "\e912";
  color: #ff7a00;
}
.icon-Btcoin .path1:before {
  content: "\e913";
  color: rgb(255, 122, 0);
  opacity: 0.1;
}
.icon-Btcoin .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 122, 0);
}
.icon-arrow:before {
  content: "\e933";
}
