@import './_reset.css';
@import './icomoon.scss';
@import './fonts.scss';

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-leave-active {
  margin-top: 91px;
}
.page-enter-active {
  margin-top: 0px;
}

.b-toaster {
  z-index: 3000;
}

input, label, form {
  font-family: $Inter;
}

// Tables
.base-table {
  @include base-table;
  margin-bottom: 0;
  &_striped {
     tr:nth-of-type(odd) {
      background-color: $striped-table-row;
    }
  }
  &__head {
    background-color: $table-header-bg;
    tr {
      padding-left: 10px;
    }
    tr th {
      vertical-align: middle;
      background-color: $table-header-bg !important;
    }
    th:first-child {
      border-radius: 10px 0 0 10px;
    }
    th:last-child {
      border-radius:0 10px 10px 0;
    }
  }
  .base-table__td {
    &_blue {
      color: $cyan500;
    }
    &_uppercase {
      text-transform: uppercase;
    }
    &_capitilize {
      text-transform: capitalize;
    }
    &_text-center {
      text-align: center;
    }
  }
}

// Scrollbar
.base-scrollbar {
  @include base-scrollbar
}

// Tooltip
.base-tooltip {
  .tooltip-inner {
    padding: 10px;
    color: $black400;
    border-radius: 12px;
    background-color: $black0;
    box-shadow: 0 8px 8px opacify($color: $fields, $amount: 0.02),
                0 2px 4px opacify($color: $fields, $amount: 0.02),
                0 0 1px opacify($color: $fields, $amount: 0.08);
  }
  .arrow {
    &::before {
      border-top-color: $black0;
    }
  }
}
