$CodeProLC: 'CodeProLC', sans-serif;
$Inter: 'Inter', sans-serif;
$defaultFF: $CodeProLC;

// backgrounds
$default-background: #F6F9FA;
$striped-table-row: #FAFCFD;
$fields: #F7FAFB;
$stake-header: #E8F5F8;

// gradients
$blue-gradient: linear-gradient(86.08deg, #3B6EB6 0%, #45C4EA 100%);
$green-gradient: linear-gradient(86.08deg, #3BB647 0%, #45EA7D 100%);
$red-gradient: linear-gradient(86.08deg, #B63B3B 0%, #EA6345 100%);

// shadow
$cyan-btn-shadow: 0px 10px 20px -8px rgba(63, 149, 205, 0.5);
$red-btn-shadow: 0px 10px 20px -8px rgba(205, 80, 63, 0.5);
$green-btn-shadow: 0px 10px 20px -8px rgba(63, 205, 69, 0.5);

// colors
$table-header-bg: #F7FAFB;
$table-header-border: #EEF5F8;
$help-icon: #01BBD7;

$black0: #FFFFFF;
$black100: #DFF0F3;
$black200: #CDCDCD;
$black300: #9A9A9A;
$black400: #333333;
$black500: #000000;

$cyan500: #54C0D3;
$cyan400: #7FD0DE;
$cyan300: #A9DFE9;
$cyan200: #CCECF2;
$cyan100: #DDF2F6;

$blue100: #EDF2F8;
$blue200: #D8E2F0;
$blue300: #B0C5E1;
$blue400: #618AC3;
$blue500: #3A6DB5;

$yellow300: #F8EDC8;
$yellow400: #F3DC88;
$yellow500: #EECC53;
$yellow600: #CC9F00;

$green300: #BBF5CA;
$green400: #73E38F;
$green500: #1BDB5C;
$green600: #26D652;

$red300: #FCC8C2;
$red400: #F27E6F;
$red500: #DB3225;
