<template>
  <div
    class="menu"
    :class="[
      {'menu_transparent': transparent},
    ]"
  >
    <div class="menu__l">
      <nuxt-link
        to="/"
        class="menu__logo"
      >
        <img
          src="~/assets/img/logo.svg"
          alt="Logo"
        >
      </nuxt-link>
      <div class="menu__navs">
        <nuxt-link
          v-for="(item, i) in nav"
          :key="i"
          :to="item.link"
          class="menu__nav"
          exact-active-class="menu__nav_active"
        >
          {{ $t(item.title) }}
        </nuxt-link>
      </div>
    </div>
    <div class="menu__r">
      <base-btn
        @click="$emit('init-wallet')"
      >
        {{ isMMConected ?$t('nawBar.connectedWallet') : $t('nawBar.connectWallet') }}
      </base-btn>
    </div>

    <base-burger
      class="menu__mobile"
      :transparent="transparent"
      @click="$emit('sidebar:open')"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BaseBurger from '~/components/ui/base-burger';

export default {
  components: {
    BaseBurger,
  },
  props: {
    transparent: {
      type: Boolean,
      default: false,
    },
    nav: {
      type: Array,
      required: true,
    },
    sticky: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters({
      isMMConected: 'wallet/getIsConnectedToMetamask',
    }),
  },
};
</script>

<style lang="scss" scoped>
.menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 0 60px;
  background: #ffffff;
  border-bottom: 1px solid #E7E7E7;
  transition: all .2s ease-in-out;
  &_transparent {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .menu {
      &__nav {
        color: #FFFFFF;
        &_active {
          border-bottom-color: #FFFFFF;
        }
      }
      &__logo {
        color: #FFFFFF;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
  &__mobile {
    display: none;
  }
  &__l {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__navs {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 64px;
  }
  &__nav {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: $black400;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 40px;
    }
    &_active {
      color: $cyan500;
      border-bottom-color: $cyan500;
    }
  }
}

@include _1199 {
  .menu {
    padding: 0 30px;
    &__navs {
      margin-left: 44px;
    }
    &__nav {
      &:not(:last-child) {
      margin-right: 30px;
    }
    }
  }
}

@include _991 {
  .menu {
    padding: 0 20px;
    &__navs {
      display: none;
    }
    &__r {
      display: none;
    }
    &__mobile {
      display: block;
    }
  }
}
</style>
