<template>
  <footer class="footer">
    <div class="footer__l">
      <img
        src="~/assets/img/logo.svg"
        alt="Logo"
        class="footer-logo"
      >
      <div class="footer-media">
        <a
          v-for="(item, i) in mediaLinks"
          :key="i"
          :href="item.link"
          target="_blank"
          class="footer-media__link"
        >
          <i
            :class="`icon-${item.icon} footer-media__icon footer-media__icon_${item.icon}`"
          />
        </a>
      </div>
    </div>
    <div class="footer__r">
      <div class="footer-navs">
        <h3 class="footer-navs__title">
          {{ $t('footer.pages') }}
        </h3>

        <nav class="footer-navs__navs">
          <nuxt-link
            v-for="(item, i) in pages"
            :key="i"
            class="footer-navs__link"
            :to="item.link"
          >
            <i class="icon-sample" />
            <span>{{ $t(item.title) }}</span>
          </nuxt-link>
        </nav>
      </div>
      <div class="footer-navs">
        <h3 class="footer-navs__title">
          {{ $t('footer.docs.title') }}
        </h3>

        <nav class="footer-navs__navs">
          <nuxt-link
            v-for="(item, i) in docs"
            :key="i"
            class="footer-navs__link"
            :to="item.link"
          >
            <i class="icon-sample" />
            <span>{{ $t(item.title) }}</span>
          </nuxt-link>
        </nav>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  props: {
    pages: {
      type: Array,
      required: true,
    },
  },
  computed: {
    mediaLinks() {
      return [
        {
          icon: 'github',
          link: 'https://github.com/',
        },
        {
          icon: 'telegram',
          link: 'https://web.telegram.org/',
        },
        {
          icon: 'twitter',
          link: 'https://twitter.com/',
        },
        {
          icon: 'medium',
          link: 'https://medium.com/',
        },
      ];
    },
    docs() {
      return [
        {
          title: 'footer.docs.whitePaper',
          link: '',
        },
        {
          title: 'footer.docs.termsCondition',
          link: '',
        },
        {
          title: 'footer.docs.yellowPaper',
          link: '',
        },
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
.footer {
    border-top: 1px solid $black100;
    padding: 30px;
    // height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFFFFF;
    &__l {
      display: flex;
      flex-direction: column;
    }
    &__r {
      // @include font-footer;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 60px;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
    }
  }
.footer-logo {
  margin-bottom: 25px;
}
.footer-media {
  display: grid;
  grid-template-columns: repeat(4, 24px);
  grid-gap: 20px;
  font-size: 16px;
  &__link {
    text-decoration: none;
  }
  &__icon {
    &_facebook {
      color: #4670DD
    }
    &_twitter {
      color: #0BBFF8
    }
    &_youtube {
      color: #F3101E
    }
    &_github {
      color: #131313
    }
    &_telegram {
      color: #3AA4DF
    }
    &_medium {
      color: #000000
    }
  }
}
.footer-navs {
  max-width: 326px;
  width: 100%;
  &__navs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $cyan400;
    margin-bottom: 37px;
  }
  &__link {
    @include font-footer;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
  }
}
@include _991 {
  .footer {
    padding: 15px;
    &__r {
      grid-gap: 0;
    }
    &-navs {
      &__navs {
        justify-content: unset;
      }
      &__link {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
@include _767 {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__l {
      margin-bottom: 20px;
    }
    &__r {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
@include _575 {
  .footer {
    &__l {
    }
    &__r {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin: 0 auto;
      width: unset;
    }
  }
}
</style>
