<template>
  <div class="header-collapse">
    <b-collapse
      id="collapse-header"
      v-model="isOpened"
    >
      <div
        class="header-collapse__header"
        :class="[
          `header-collapse__header_${bgType}`,
        ]"
      >
        <div class="header-collapse__info-block">
          <slot>
            <h1 class="header-collapse__title header-collapse__title_mb">
              {{ title }}
            </h1>

            <p class="header-collapse__info">
              {{ infoText }}
            </p>
            <button
              v-if="$route.name === 'governance'"
              class="button"
              @click="addProposal"
            >
              <span class="button__text">{{ $t('governance.header.btn') }}</span>
            </button>
          </slot>
        </div>
      </div>
    </b-collapse>
    <div
      class="header-collapse__closed"
      :class="{'header-collapse__closed_show': !isOpened}"
    >
      <p
        class="header-collapse__subtitle"
        :class="{'header-collapse__subtitle_show': !isOpened}"
      >
        {{ title }}
      </p>
      <base-btn
        v-if="false"
        mode="secondary"
        :aria-expanded="isOpened ? 'true' : 'false'"
        aria-controls="collapse-header"
        class="header-collapse__btn"
        :class="{'header-collapse__btn_close': !isOpened}"
        @click="toggleHeader"
      >
        <i
          class="icon-chevron_down header-collapse__icon"
          :class="{'header-collapse__icon_up': isOpened}"
        />
      </base-btn>
    </div>
  </div>
</template>

<script>
import modals from '~/store/modals/modals';

export default {
  name: 'HeaderCollapse',
  props: {
    title: {
      type: String,
      default: '',
    },
    infoText: {
      type: String,
      default: '',
    },
    bgType: {
      type: String,
      default: '',
      description: 'Header backaground image type. Must match the route',
      validator(value) {
        const availableTypes = ['stake', 'reward', 'index', 'governance'];
        return availableTypes.includes(value);
      },
    },
    isOpened: {
      type: Boolean,
      default: true,
    },
  },
  created() {
    if ((this.$route.name).split('governance').length > 1 && this.$route.name !== 'governance') {
      this.$emit('toggle', false);
    }
  },
  methods: {
    addProposal() {
      this.$store.dispatch('modals/show', {
        key: modals.proposal,
      });
    },
    toggleHeader() {
      // this.isOpened = !this.isOpened;
      this.$emit('toggle', !this.isOpened);
    },
  },
};
</script>

<style lang="scss" scoped>
.governance-header {
  width: 100%;
  height: 100%;
  min-height: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $black0;
  border-radius: 17px;
  box-shadow: 0px 15px 25px rgba(127, 208, 222, 0.25), 0px 7px 20px rgba(127, 208, 222, 0.4);
}
.header-collapse {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 50px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 15px 44px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    color: $black0;
    &_stake {
      background-image:  url("~assets/img/stake-header.svg");
    }
    &_index {
      background-image:  url("~assets/img/market-header.svg");
    }
    &_reward {
      background-image:  url("~assets/img/rewards-header.svg");
    }
    &_governance {
      background-image: url("~assets/img/governance-header.svg");
    }
  }
  &__info-block {
    max-width: 596px;
    text-align: center;
    min-height: 200px;
  }
  &__title {
    font-size: 56px;
    line-height: 67px;
    color: $black0;
    &_mb {
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 25px;
    line-height: 30px;
    color: #7FD0DE;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    &_show {
      opacity: 1;
    }
  }
  &__info {
    font-size: 16px;
    line-height: 21px;
    color: $black0;
    opacity: 0.8;
  }
  &__btn {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 38px;
    height: 38px;
    padding: 0;
    &_close {
      bottom: 0;
    }
  }
  &__icon {
    font-size: 30px;
    &_up {
      transform: rotate(180deg);
    }
  }
}
.button {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 16px 12px;
  width: 186px;
  height: 46px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px -8px rgba(63, 149, 205, 0.5);
  border-radius: 10px;
  &__text{
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7FD0DE;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    }
}

@include _991 {
  .header-collapse {
    min-height: 140px;
    &__title {
      font-size: 45px;
    }
  }
}
@include _575 {
  .header-collapse {
    &__title {
      font-size: 35px;
    }
    &__header {
      padding: 100px 15px 64px 15px;
    }
    &__info-block {
      min-height: unset;
    }
    &__subtitle {
      left: 10px;
    }
    &__btn {
      right: 10px;
    }
  }
}
@include _480 {
  .header-collapse {
    &__subtitle {
      font-size: 20px;
    }
  }
}
</style>
