<template>
  <base-modal-box
    :is-header="false"
    is-unclosable
  >
    <div class="base-modal__content">
      <img
        src="~/assets/img/modal-success.svg"
        :alt="$t('misc.success')"
        class="base-modal__img"
      >

      <div class="base-modal__info">
        <h3 class="base-modal__title">
          {{ options.successTitle }}
        </h3>

        <p class="base-modal__text">
          {{ options.successText }}
        </p>
      </div>
    </div>
  </base-modal-box>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'SuccessModal',
  computed: {
    ...mapGetters({
      options: 'modals/getOptions',
    }),
  },
};
</script>

<style lang="scss" scoped>
  .base-modal {
    @include modalKit;
    .base-modal__box {
      width: auto;
      min-width: 292px;
    }
    &__img {
      width: 76px;
      height: 76px;
      margin: 20px auto 28px;
    }
    &__info {
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
    }
    &__title {
      font-family: $defaultFF;
      line-height: 22px;
      color: $black400;
      margin-bottom: 10px;
    }
    &__text {
      font-family: $defaultFF;
      line-height: 19px;
      color: $black300;
    }
    .base-modal__btns {
      margin-top: 39px;
    }
  }
</style>
