@mixin modalKit {
  padding: 10px;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, .4);
  z-index: 1400;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  &:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: "";
  }
  &__btns {
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
  }
  &__box {
    font-size: 16px;
    white-space: normal;
    word-break: break-word;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    max-width: 500px;
    text-align: left;
    background: #FFFFFF;
    border-radius: 15px;
  }
  &__text {
    font-family: $Inter;
    font-size: 16px;
    color: #333333;
  }
  &__content {
    padding: 25px;
  }
  &__header {
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border-bottom: 1px solid #E7E7E7;
  }
  &__title {
    font-size: 18px;
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

  }
  &__x {
    &:before {
      font-size: 22px;
    }
  }
}
