@mixin checkbox {
  input[type=checkbox] {
    display: none;
    &:hover + label:before {
      background-color: $blue100;
    }
    &:checked + label:after {
      opacity: 1;
    }
    &:checked + label:before {
      background-color: $blue500;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }
    &:not(:checked) + label:after {
      opacity: 0;
    }
    &:disabled + label:before {
      border-color: $black100;
      background: $black100;
    }
  }
  label {
    display: inline-block;
    position: relative;
    padding: 4px 0 4px 35px;
    line-height: 18px;
    cursor: pointer;
    user-select: none;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      border: 2px solid $black100;
      background-color: $fields;
      border-radius: 4px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 12px;
      height: 7px;
      border-left: 2px solid $blue100;
      border-bottom: 2px solid $blue100;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
}

@mixin base-table {
  thead > tr th {
    padding: 0.75rem 1.25rem;
  }
  thead > tr th div {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    color: $cyan400;
  }
  tbody td {
    padding: 0.75rem 1.25rem;
    vertical-align: middle;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $black400;
  }
}

@mixin base-scrollbar {
  //стили для mozila
  scrollbar-color: $black200;     /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  // стили для webkit браузеров
  &::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: $black100;
  }
  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: $black200;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $black300;
  }
  // &_hide {
  //   scrollbar-width: none;
  //   &::-webkit-scrollbar {
  //     width: 0px;
  //   }
  // }
}
