<template>
  <base-card class="market-card">
    <div class="market-card__body">
      <div class="market-card__l">
        <div class="market-card__header header">
          <img
            :src="`/icons/${item.name}.svg`"
            alt=""
          >
          <span class="header__title">{{ item.name }}</span>
          <span
            class="icon-arrow header__icon"
            :class="{'header__icon_red': item.change < 0,'header__icon_green': item.change > 0}"
          />
          <span
            class="header__description"
            :class="{'header__description_red': item.change < 0,'header__description_green': item.change > 0}"
          >{{ item.change }}%</span>
        </div>
        <div class="market-card__footer">
          $ {{ item.amount }}
        </div>
      </div>
      <div class="market-card__r">
        <div class="chart">
          <line-chart
            ref="bigChart"
            style="height: 100%"
            :chart-data="bigLineChart.chartData"
            :extra-options="bigLineChart.extraOptions"
          />
        </div>
      </div>
    </div>
  </base-card>
</template>

<script>
import LineChart from '@/components/charts/LineChart';
import * as chartConfigs from '@/components/charts/config';

export default {
  name: 'Card',
  components: {
    LineChart,
  },
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      chartColors: {
        orange: {
          borderColor: '#FF7A00',
          backgroundColor: 'rgba(255, 122, 0, 0.1)',
        },
        blue: {
          borderColor: '#1E5390',
          backgroundColor: 'rgba(30, 83, 144, 0.1)',
        },
      },
      bigLineChart: {
        activeIndex: 0,
        chartData: {
          datasets: [{
            ...`this.chartColors.${this.item.chartColor}`,
            fill: true,
            borderWidth: 1,
            borderDash: [],
            borderDashOffset: 0.0,
            pointRadius: 0,
            order: 1,
            data: this.item.chart[0],
          }],
          labels: this.item.chart[0],
        },
        extraOptions: chartConfigs.lineChartOptionsBlue,
      },
    };
  },
  async mounted() {
    await this.initBigChart(0);
  },
  methods: {
    initBigChart(index) {
      const chartData = {
        datasets: [{
          ...this.chartColors[this.item.chartColor],
          fill: true,
          borderWidth: 1,
          borderDash: [],
          borderDashOffset: 0.0,
          pointRadius: 0,
          order: 1,
          data: this.item.chart[0],
        }],
      };
      this.$refs.bigChart.updateGradients(chartData);
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
    },
  },
};
</script>

<style scoped lang="scss">
.market-card {
  height: 105px;
  &__body {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__l {
    display: grid;
    grid-gap: 18px;
    max-width: 200px;
  }
  &__r {
    width: 144px;
  }
  &__header {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
  &__footer {
    font-size: 20px;
    line-height: 24px;
    color: $black400;
  }
}
.header {
  &__title {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 10px;
  }
  &__description {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    &_red {
      color: #FF0000;
    }
    &_green {
      color: #26D652;
    }
  }
  &__icon {
    font-size: 8px;
    margin-right: 5px;
    &_green {
      color: #26D652;
    }
    &_red {
      transform: rotate(90deg);
      color: rgba(255, 0, 0, 1);
    }
  }
}
.chart {
  margin: 0 auto;
  min-width: 144px;
  max-width: 144px;
  width: 100%;
  height: 61px;
}
@include _480 {
  .chart {
    min-width: 124px;
    max-width: 124px;
  }
  .market-card {
    height: auto;
    &__r {
      width: 124px;
    }
    &__header {
      img {
        margin-right: 5px;
      }
    }
  }
  .header {
    &__title {
      margin-right: 5px;
    }
  }
}
</style>
