<template>
  <div class="card">
    <div class="card__block">
      <div class="card__title">
        {{ $t('governance.cards.title', { id: card.id}) }}
      </div>
      <div class="card__status">
        <span
          :class="[
            {'card__status_green' : card.status === $options.PROPOSAL_STATUSES.ACCEPTED},
            {'card__status_red' : card.status === $options.PROPOSAL_STATUSES.REJECTED},
            {'card__status_gray' : card.status === $options.PROPOSAL_STATUSES.PENDING},
          ]"
        >{{ card.status }}</span>
        <div
          class="card__icon"
          :class="[
            {'card__icon_green' : card.status === $options.PROPOSAL_STATUSES.ACCEPTED},
            {'card__icon_red' : card.status === $options.PROPOSAL_STATUSES.REJECTED},
            {'card__icon_gray' : card.status === $options.PROPOSAL_STATUSES.PENDING},
          ]"
        />
      </div>
    </div>
    <div class="card__text">
      {{ $t(`governance.cards.description.${$options.PROPOSAL_TYPES[card.type]}`, { asset: card.description }) }}
    </div>
    <div class="card__block">
      <div class="card__dates">
        <div class="card__block">
          <span class="card__span">{{ $t('governance.cards.start') }}</span>
          <span class="card__time">{{ $d(new Date(card.createdAt), 'longDate') }}</span>
        </div>
        <div class="card__block">
          <span class="card__span">{{ $t('governance.cards.end') }}</span>
          <span class="card__time">
            {{ $d(new Date(card.endTimeOfVoting), 'longDate') }}
          </span>
        </div>
      </div>
      <button
        class="card__button"
        @click="openProposal"
      >
        <span class="button__text">{{ $t('governance.cards.btn') }}</span>
      </button>
    </div>
  </div>
</template>

<script>
import { PROPOSAL_STATUSES, PROPOSAL_TYPES } from '~/utils/constants';

export default {
  name: 'VotinCard',
  props: {
    card: {
      type: Object,
      required: true,
    },
  },
  PROPOSAL_STATUSES,
  PROPOSAL_TYPES,
  methods: {
    openProposal() {
      this.Signer(this.openPage);
    },
    openPage() {
      this.$router.push(`/governance/${this.card.id}`);
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: static;
  //max-width: 450.25px;
  width: auto;
  //width:  450.25px;
  min-height: 228px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 1px solid #DFF0F3;
  border-radius: 13px;
  &__block {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
   }
  &__title {
    top: 2.5px;
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #7FD0DE;
  }
  &__icon {
    width: 24px;
    height: 24px;
    &_green {
      background-image: url('~assets/img/governance/Accepted.svg')
    }
    &_red {
      background-image: url('~assets/img/governance/Rejected.svg')
    }
    &_gray {
      background-image: url('~assets/img/governance/Pending.svg')
    }
  }
  &__status {
    top: 2.5px;
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    grid-gap: 12px;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    //margin-right: 12px;
    &_green {
      color: #26D652;
    }
    &_red {
      color: #D64230;
    }
    &_gray {
      color:#CDCDCD;
    }
  }
  &__text {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    display: flex;
    color: #333333;
  }
  &__dates {
    display: block;
    margin-top: 2px;
  }
  &__span {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    width: 40px;
    margin-right: 10px;
    color: #333333;
  }
  &__time {
    font-family: 'Code Pro LC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #9A9A9A;
  }
  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    //padding: 14px 12px;
    width: 136px;
    height: 46px;
    position: static;
    border: 1px solid #7FD0DE;
    box-sizing: border-box;
    border-radius: 10px;
  }
}
.button__text {
  font-family: 'Code Pro LC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  //margin-top: -4px;
  //line-height: 19px;
  margin-right: auto;
  margin-left: auto;
  color: #7FD0DE;
}
@media (max-width: 361px)  {
  .card {
    width: 355px;
  }
}
@media (max-width: 330px)  {
  .card {
    width: 315px;
  }
}
</style>
