<template>
  <base-modal-box>
    <validation-observer v-slot="{ handleSubmit }">
      <form
        class="base-modal__content"
        @submit.prevent="handleSubmit(handleStake)"
      >
        <div class="base-modal__info base-modal__info_mb">
          <i class="icon-help_circle_outline base-modal__icon" />
          <p class="base-modal__text">
            {{ options.text }}
          </p>
        </div>

        <base-input
          rules="required"
          :name="options.field.label"
          :label="options.field.label"
        >
          <template #default="{classes}">
            <input-currency
              v-model="amount"
              :class="classes"
              :placeholder="options.field.placeholder"
            />
          </template>
        </base-input>

        <div class="base-modal__btns">
          <base-btn
            outlined
            :disabled="isLoading"
            @click="CloseModal"
          >
            {{ $t('stake.modal.btns.cancel') }}
          </base-btn>
          <base-btn
            btn-type="submit"
            :disabled="isLoading"
          >
            <btn-loader
              v-if="isLoading"
              :busy="isLoading"
              tag="div"
            />
            <span v-else>{{ $t('stake.modal.btns.ok') }}</span>
          </base-btn>
        </div>
      </form>
    </validation-observer>
  </base-modal-box>
</template>

<script>
import { mapGetters } from 'vuex';
import modals from '~/store/modals/modals';

export default {
  name: 'UnstakeModal',
  data() {
    return {
      amount: null,
      isLoading: false,
    };
  },
  computed: {
    ...mapGetters({
      options: 'modals/getOptions',
      signature: 'wallet/getUserSignature',
    }),
  },
  methods: {
    async handleStake() {
      try {
        this.isLoading = true;
        const txHash = await this.$store.dispatch('wallet/stakeFunds', this.amount);

        await this.getUserStakingInfo();
        await this.getGeneralStakingInfo();
        await this.getStakingTransactions(this.signature);

        this.ShowModal({
          key: modals.success,
          successTitle: this.$t('stake.modal.successTitle'),
          successText: this.$t('stake.modal.successText', { tx: txHash }),
        });
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.ShowModal({
          key: modals.default,
          title: this.$t('stake.modal.errorTitle'),
          text: this.$t('stake.modal.errorText', { err: err.message }),
        });
      } finally {
        this.isLoading = false;
      }
    },
    async getStakingTransactions(signature) {
      try {
        await this.$store.dispatch('stake/getStakingTransactions', { signature });
      } catch (err) {
        console.log('page getUserStakingInfo err: ');
        console.dir(err);
        this.ShowError(err.message);
      }
    },
    async getUserStakingInfo() {
      try {
        await this.$store.dispatch('stake/getUserStakingInfo');
      } catch (err) {
        console.log('page getUserStakingInfo err: ');
        console.dir(err);
        this.ShowError(err.message);
      }
    },
    async getGeneralStakingInfo() {
      try {
        await this.$store.dispatch('stake/getGeneralStakingInfo');
      } catch (err) {
        console.log('page getGeneralStakingInfo err: ');
        console.dir(err);
        this.ShowError(err.message);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .base-modal {
    @include modalKit;
    &__info {
      display: grid;
      grid-template-columns: 20px 1fr;
      grid-column-gap: 10px;
      align-items: start;
      &_mb {
        margin-bottom: 18px;
      }
    }
    &__icon {
      &:before {
        font-size: 20px;
        color: $black300;
      }
    }
    .base-modal__text {
      color: $black300;
    }
    &__btns {
      margin-top: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
