<template>
  <base-modal-box>
    <div class="base-modal__content">
      <div class="base-modal__info base-modal__info_mb">
        <i class="icon-help_circle_outline base-modal__icon" />
        <p class="base-modal__text">
          {{ options.text }}
        </p>
      </div>

      <div class="base-modal__btns">
        <base-btn
          outlined
          @click="CloseModal"
        >
          {{ $t('wallet-connection-modal.btns.cancel') }}
        </base-btn>
        <base-btn @click="handleConnect">
          {{ $t('wallet-connection-modal.btns.ok') }}
        </base-btn>
      </div>
    </div>
  </base-modal-box>
</template>

<script>
import { mapGetters } from 'vuex';
import modals from '~/store/modals/modals';

export default {
  name: 'ConnectWallet',
  computed: {
    ...mapGetters({
      options: 'modals/getOptions',
      isMMConected: 'wallet/getIsConnectedToMetamask',
    }),
  },
  methods: {
    async handleConnect() {
      if (this.isMMConected) {
        this.ShowModal({
          key: modals.success,
          successTitle: this.$t('wallet-connection-modal.title'),
          successText: this.$t('wallet-connection-modal.already-connected'),
        });
        return;
      }

      try {
        const mm = await this.$store.dispatch('wallet/initMetamask');

        if (mm.ok) {
          this.ShowModal({
            key: modals.success,
            successTitle: this.$t('wallet-connection-modal.title'),
            successText: this.$t('wallet-connection-modal.success'),
          });
        }
      } catch (err) {
        console.log('CONNECT WALLET MODAL err: ');
        console.dir(err);
        if (err.code === 433) {
          this.ShowModal({
            key: modals.network,
          });
        } else {
          this.ShowError(err?.response?.data?.message ?? err.message);
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .base-modal {
    @include modalKit;
    &__info {
      display: grid;
      grid-template-columns: 20px 1fr;
      grid-column-gap: 10px;
      align-items: start;
      &_mb {
        margin-bottom: 18px;
      }
    }
    &__icon {
      &:before {
        font-size: 20px;
        color: $black300;
      }
    }
    .base-modal__text {
      color: $black300;
    }
    &__btns {
      margin-top: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
