<template>
  <base-card
    class="collaterialCoins-tokens-table"
    header-classes="collaterialCoins-tokens-table__header"
    body-classes="collaterialCoins-tokens-table__body"
    :title="$t('balance.tables.collaterialCoins.title')"
  >
    <b-table
      id="collaterialCoins-tokens-table"
      :fields="fields"
      :items="items"
      :show-empty="true"
      :busy="busyState"
      sticky-header="180px"
      table-class="base-table"
      borderless
      sort-icon-left
      no-border-collapse
      thead-class="base-table__head"
    >
      <template v-slot:cell(coin)="{ item }">
        <span class="base-table__td_blue">{{ item.name }}</span>
      </template>
      <template v-slot:cell(name)="{ item }">
        <span>{{ item.title }}</span>
      </template>
      <template v-slot:cell(usdValue)="{ item }">
        <span>$ {{ $fn(item.usdValue) }}</span>
      </template>
      <template v-slot:cell(balance)="{ item }">
        <span>{{ $cn(item.amount, 4, 0) }}</span>
      </template>
    </b-table>
  </base-card>
</template>

<script>
export default {
  name: 'CollaterialCoinsTable',
  props: {
    balances: {
      type: [Array, Object],
      default: () => ([]),
    },
  },
  data() {
    return {
      busyState: false,
      items: [
        {
          coin: 'ETH',
          name: 'Ethereum',
          balance: '520.36',
          usdValue: '51586.24',
        },
        {
          coin: 'Dai',
          name: 'Dai',
          balance: '1.00',
          usdValue: '51586.24',
        },
      ],
    };
  },
  computed: {
    fields() {
      const fields = ['coin', 'name', 'balance', 'usdValue'];
      return fields.map((item) => {
        if (item === 'btn') {
          return {
            key: item,
            label: '',
            sortable: false,
            thClass: 'base-table__th',
            tdClass: 'base-table__td base-table__td_text-center',
          };
        }

        return {
          key: item,
          label: this.$t(`balance.tables.collaterialCoins.${item}`),
          sortable: true,
          thClass: 'base-table__th',
          tdClass: 'base-table__td',
        };
      });
    },
  },
  watch: {
    // items: {
    //   immediate: true,
    //   handler(items) {
    //     const collateralCoins = items.reduce((acc, cur) => acc.plus(cur.usdValue), new BigNumber(0));

    //     this.$emit('change-collateral-usd', collateralCoins.toNumber());
    //   },
    // },
    balances: {
      immediate: true,
      handler(balances) {
        console.log('collateral coins: ', balances);
        this.items = balances;
      },
    },
  },
};
</script>

<style lang="scss">
  .collaterialCoins-tokens-table {
    .b-table-sticky-header {
      @include base-scrollbar;
      margin-bottom: 0;
    }
    .collaterialCoins-tokens-table__header {
      padding-bottom: 0;
    }
    .collaterialCoins-tokens-table__body {
      padding-bottom: 0;
    }
  }
</style>
