<template>
  <div class="sidebar">
    <div
      class="sidebar__close icon-close_big"
      @click="closeSidebar"
    />
    <div class="sidebar__items">
      <div
        v-for="(item, i) in nav"
        :key="i"
        class="sidebar__item"
      >
        <mobile-sidebar-item
          :item="item"
          @sidebar:close="closeSidebar"
        />
      </div>

      <div
        v-if="$slots.appendItem"
        class="sidebar__item"
        :class="appendItemClasses"
      >
        <slot name="appendItem" />
      </div>
    </div>
  </div>
</template>

<script>
import MobileSidebarItem from './mobile-sidebar-item';

export default {
  name: 'Sidebar',
  components: { MobileSidebarItem },
  props: {
    nav: {
      type: Array,
      required: true,
    },
    appendItemClasses: {
      type: [Array, Object, String],
      default: '',
    },
  },
  methods: {
    closeSidebar() {
      this.$emit('sidebar:close');
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar {
  min-width: 100%;
  width: 100%;
  border: none !important;
  background: $black0;
  &__close {
    margin: 15px auto 30px 15px;
    &:hover {
      cursor: pointer;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    padding: 0 15px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black400;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 145%;
  }
  &__link {
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
