<template>
  <div class="primary">
    <app-header
      :nav="nav"
      @sidebar:open="openSidebar"
      @init-wallet="initMetaMask"
    />
    <mobile-sidebar
      class="default-sidebar"
      :class="{'default-sidebar_hide': !isSidebarShown}"
      :nav="nav"
      @sidebar:close="closeSidebar"
    >
      <template #appendItem>
        <base-btn @click="initMetaMask">
          {{ $t('nawBar.connectWallet') }}
        </base-btn>
      </template>
    </mobile-sidebar>
    <div class="primary__template template">
      <div class="template__content">
        <header-collapse
          v-if="routesWithHeaderCollapse.includes($route.name)"
          :title="collapseHeaderTitle"
          :info-text="collapseHeaderText"
          :bg-type="$route.name"
          :is-opened="isCollapseHeaderOpened"
          @toggle="toggleHeader"
        />
        <div class="template__body">
          <nuxt />
        </div>
      </div>
      <div class="template__footer">
        <app-footer :pages="nav" />
      </div>
    </div>
    <base-modal />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import AppHeader from '~/components/ui/app-header';
import AppFooter from '~/components/ui/app-footer';
import MobileSidebar from '~/components/ui/mobile-seibebar';
import HeaderCollapse from '~/components/ui/header-collapse';
import { messageForSign } from '~/utils/constants';
import modals from '~/store/modals/modals';

export default {
  components: {
    MobileSidebar,
    AppHeader,
    AppFooter,
    HeaderCollapse,
  },
  data() {
    return {
      isSidebarShown: false,
      isOpened: true,
    };
  },
  computed: {
    ...mapGetters({
      loading: 'main/getLoadingStatus',
      isWalletConnected: 'wallet/getIsConnectedToMetamask',
    }),
    nav() {
      return [
        {
          title: 'nawBar.market',
          link: '/',
        },
        {
          title: 'nawBar.trade',
          link: '/trade',
        },
        {
          title: 'nawBar.stake',
          link: '/stake',
        },
        {
          title: 'nawBar.reward',
          link: '/reward',
        },
        {
          title: 'nawBar.balance',
          link: '/balance',
        },
        {
          title: 'nawBar.governance',
          link: '/governance',
        },
      ];
    },
    routesWithHeaderCollapse() {
      return [];
    },
    isCollapseHeaderOpened: {
      get() {
        return this.isOpened;
      },
      set(value) {
        const { name } = this.$route;

        if (this.routesWithHeaderCollapse.includes(name)) {
          this.$cookies.set(`collapse_header_${name}`, value);
          this.isOpened = value;
        }
      },
    },
    collapseHeaderTitle() {
      const { name } = this.$route;

      switch (name) {
        case 'index':
          return this.$t('market.header.title');
        case 'stake':
          return this.$t('stake.header.title');
        case 'reward':
          return this.$t('reward.header.title');
        // case 'governance':
        //   return this.$t('governance.header.title');
        default:
          return '';
      }
    },
    collapseHeaderText() {
      const { name } = this.$route;

      switch (name) {
        case 'index':
          return this.$t('market.header.text');
        case 'stake':
          return this.$t('stake.header.text');
        case 'reward':
          return this.$t('reward.header.text');
        // case 'governance':
        //   return this.$t('governance.header.text');
        default:
          return '';
      }
    },
  },
  watch: {
    $route: {
      immediate: true,
      handler(value) {
        const { name } = value;

        if (this.routesWithHeaderCollapse.includes(name)) {
          this.setCollapseHeaderByRouteName(name);
        }
      },
    },
    loading(val) {
      if (val) {
        this.$nuxt.$loading.start();
      } else {
        this.$nuxt.$loading.finish();
      }
    },
    isWalletConnected: {
      immediate: true,
      async handler(isWalletConnected) {
        if (isWalletConnected) {
          let signature = this.$store.getters['wallet/getUserSignature'];

          if (!signature) {
            signature = await this.getSignatureForOrderHistory();
          }

          await this.fetchBalance(signature);
          await this.fetchUserOrders(signature);
        }
      },
    },
  },
  methods: {
    async fetchBalance(signature) {
      try {
        await this.$store.dispatch('wallet/fetchBalance', { signature });
      } catch (err) {
        console.log('ERR BALANCE FETCH');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
    async fetchUserOrders(signature) {
      try {
        await this.$store.dispatch('trade/fetchUserOrders', { payload: { signature } });
      } catch (err) {
        console.log('ERR USER ORDERS FETCH');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
    async getSignatureForOrderHistory() {
      const signature = await this.$store.dispatch('wallet/sign', { message: messageForSign.userData });
      this.$store.commit('wallet/setUserSignature', signature);

      return signature;
    },
    toggleHeader(value) {
      this.isCollapseHeaderOpened = value;
    },
    openSidebar() {
      this.isSidebarShown = true;
    },
    closeSidebar() {
      this.isSidebarShown = false;
    },
    setCollapseHeaderByRouteName(name) {
      const isOpened = this.$cookies.get(`collapse_header_${name}`);

      if (isOpened !== undefined && typeof isOpened === 'boolean') {
        this.isCollapseHeaderOpened = isOpened;
      } else {
        this.isCollapseHeaderOpened = true;
      }
    },
    async initMetaMask() {
      if (this.isWalletConnected) {
        this.ShowModal({
          key: modals.success,
          successTitle: this.$t('wallet-connection-modal.title'),
          successText: this.$t('wallet-connection-modal.already-connected'),
        });
        return;
      }

      try {
        const mm = await this.$store.dispatch('wallet/initMetamask');

        if (mm.ok) {
          this.ShowModal({
            key: modals.success,
            successTitle: this.$t('wallet-connection-modal.title'),
            successText: this.$t('wallet-connection-modal.success'),
          });

          const timeoutID = setTimeout(() => {
            this.CloseModal();
            clearTimeout(timeoutID);
          }, 3000);
        }
      } catch (err) {
        console.log('CONNECT WALLET err: ');
        console.dir(err);
        if (err.code === 433) {
          this.ShowModal({
            key: modals.network,
          });
        } else {
          this.ShowError(err?.response?.data?.message ?? err.message);
        }
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.primary {
  font-family: $defaultFF;
  color: #333333;
}
.template {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 100vh;
  overflow: hidden;
  &__content {
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    z-index: 120;
    background: $default-background;
    &_mt {
      margin-top: 91px;
    }
  }
  &__body {
    height: 100%;
  }
  &__footer {

  }
}

.default-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1025;
  transition: .3s;
  &_hide {
    right: -100%;
  }
}
</style>
