<template>
  <div class="error-container">
    <nuxt />
  </div>
</template>
<script>
export default {
  name: 'ErrorLayout',
};
</script>

<style lang="scss" scoped>
.error-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
