<template>
  <div class="error">
    {{ message }}
  </div>
</template>

<script>
export default {
  name: 'ErrorVue',
  layout: 'error-layout',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) || 500;
    },
    message() {
      return this.error.message || 'Error';
    },
  },
  head() {
    return {
      title: this.message,
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0',
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">

</style>
