<template>
  <div
    class="btn-radio-group"
    :class="groupClasses"
    data-toggle="buttons"
  >
    <label
      v-for="(option, index) in options"
      :key="index"
      :for="`radio-${option.label}`"
      class="btn-radio-group__btn"
      :class="[
        { 'btn-radio-group__btn_sm': size === 'sm' },
        { 'btn-radio-group__btn_md': size === 'md' },
        { 'btn-radio-group__btn_active': value === option.value },
        buttonClasses
      ]"
    >
      <input
        :id="`radio-${option.label}`"
        v-model="model"
        class="btn-radio-group__input"
        :value="option.value"
        type="radio"
        autocomplete="off"
        checked=""
      >
      {{ option.label }}
    </label>
  </div>
</template>

<script>
export default {
  name: 'ButtonRadioGroup',
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    options: {
      type: Array,
      description: 'Radio options. Should be an array of objects {value: "", label: ""}',
      default: () => [],
    },
    size: {
      type: String,
      default: 'sm',
      vaildator(value) {
        const availableSizes = ['md', 'sm'];
        return availableSizes.includes(value);
      },
      description: 'Button size',
    },
    value: {
      type: String,
      default: '',
      description: 'Radio value',
    },
    buttonClasses: {
      type: [String, Object],
      default: '',
      description: 'Inner button css classes',
    },
    groupClasses: {
      type: [String, Object, Array],
      default: '',
      description: 'Button group css classes',
    },
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('change', val);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
  .btn-radio-group {
    display: flex;
    align-items: center;
    &__input {
      display: none;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 37px;
      padding: 5px 10px;
      margin-bottom: 0;
      background-color: $fields;
      border: 1px solid $black100;
      border-radius: 4px;
      color: $black400;
      cursor: pointer;
      &_sm {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
      }
      &_md {
        height: 44px;
        font-size: 16px;
        line-height: 23px;
      }
      &_active {
        border: none;
        background: $blue-gradient;
        color: $black100;
      }
    }
  }
</style>
