<template>
  <div class="balance-page">
    <div class="balance-page__header">
      <base-banner
        class="balance-banner"
        :title="$t('balance.title')"
        :info-text="`$ ${$fn(totalBalance)}`"
        :bg="require('assets/img/balance-header.svg')"
        info-classes="balance-banner__info"
        title-classes="balance-banner__title"
      />
      <div class="balance-page__balances">
        <div class="balance-page__balance-cards">
          <balance-card
            v-for="(balance) in balanceCards"
            :key="balance.id"
            :balance="balance"
          />
        </div>
        <div class="balance-page__forms">
          <deposit-form />
          <withdraw-form />
        </div>
      </div>
    </div>
    <div class="balance-page__body">
      <div class="balance-page__row">
        <base-input
          v-model="search"
          :placeholder="$t('misc.search')"
          prepend-icon="icon-search"
          white-mode
        />
      </div>

      <div class="balance-page__row">
        <parasynth-tokens-table
          :balances="parasynthTokens"
        />
      </div>
      <div class="balance-page__row">
        <collaterial-coins-table :balances="collateralCoins" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BalanceCard from '~/components/balance/balance-card';
import ParasynthTokensTable from '~/components/balance/parasynth-tokens-table';
import CollaterialCoinsTable from '~/components/balance/collaterial-coins-table';
import DepositForm from '~/components/balance/deposit-form';
import withdrawForm from '~/components/balance/withdraw-form';

export default {
  name: 'Balance',
  components: {
    BalanceCard,
    ParasynthTokensTable,
    CollaterialCoinsTable,
    DepositForm,
    withdrawForm,
  },
  async asyncData({ store }) {
    const currencies = store.getters['trade/getCurrencies'];
    const signature = store.getters['wallet/getUserSignature'];

    if (!Object.values(currencies).length) {
      await store.dispatch('trade/fetchCurrencies');
    }

    if (signature && Object.values(signature).length) {
      await store.dispatch('wallet/fetchBalance', { signature });
    }
  },
  data() {
    return {
      search: '',
      balanceCards: {
        tokenIssued: {
          id: 0,
          title: this.$t('balance.cards.tokenIssued'),
          amount: '',
          currency: 'USD',
        },
        collateralCoins: {
          id: 1,
          title: this.$t('balance.cards.collateralCoins'),
          amount: '',
          currency: 'USD',
        },
        excessCollateral: {
          id: 3,
          title: this.$t('balance.cards.excessCollateral'),
          amount: '',
          currency: 'USD',
        },
      },
      totalBalance: '',
    };
  },
  computed: {
    ...mapGetters({
      balances: 'wallet/getBalance',
      parasynthTokens: 'wallet/getParasynthTokensBalance',
      collateralCoins: 'wallet/getCollateralCoins',
    }),
  },
  watch: {
    parasynthTokens: {
      immediate: true,
      handler(tokens) {
        console.log('balances: ', this.balances);
        this.balanceCards.excessCollateral.amount = this.balances.excessCollateral;
        this.balanceCards.collateralCoins.amount = this.balances.collateralCoins;
        this.totalBalance = this.balances.totalBalance;
      },
    },
  },
  created() {
    this.fetchCurrencies();
  },
  methods: {
    fetchCurrencies() {
      try {
        this.$store.dispatch('main/fetchCurrencies');
      } catch (err) {
        console.log('fetch Currencies: ');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
  },
};
</script>

<style lang="scss">
  .balance-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 30px 60px;
    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 35px;
      margin-bottom: 30px;
    }
    &__balances {
      display: grid;
      grid-row-gap: 30px;
    }
    &__row {
      display: grid;
      margin-bottom: 20px;
    }
    &__balance-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
    &__forms {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }
  }

  .balance-banner {
    .balance-banner__title {
      font-size: 20px;
      line-height: 28px;
      opacity: 0.8;
    }
    .balance-banner__info {
      font-size: 56px;
      line-height: 67px;
      font-weight: bold;
    }
  }

  @include _1600 {
    .balance-page {
      padding: 20px 30px;
    }
  }

  @include _1300 {
    .balance-page {
      &__body {
        width: 100%;
      }
    }
  }

  @include _1199 {
    .balance-page {
      &__header {
        grid-template-rows: 400px 1fr;
        grid-row-gap: 30px;
        grid-template-columns: 1fr;
      }
    }
  }

  @include _991 {
    .balance-page {
      padding: 0px 20px 20px;
      &__header {
        grid-template-rows: 198px 1fr;
        grid-row-gap: 20px;
        margin-bottom: 20px;
      }
      &__balances {
        grid-gap: 20px;
      }
      .balance-banner {
        width: 100vw;
        margin: 0 -20px;
        border-radius: 0;
        background-position-y: -20px;
      }
    }
  }

  @include _767 {
    .balance-page {
      &__balance-cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
      }
      &__balance {
        font-size: 50px;
        line-height: 62px;
      }
    }
  }
  @include _575 {
    .balance-page {
      &__header {
        height: auto;
      }
       &__balance-cards {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
      }
      &__forms {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
      }
    }
  }
  @include _380 {
    .balance-page {
      .balance-banner {
        background-position-y: 0;
      }
    }
  }
</style>
