<template>
  <div class="market">
    <div class="market__body">
      <div class="market__header market__header_mb">
        <base-banner
          class="market__banner"
          :title="$t('market.header.title')"
          :info-text="this.$t('market.header.text')"
          :bg="require('assets/img/market-header.svg')"
        />
        <div class="market__cards">
          <div
            v-for="(card, index) in cards"
            :key="index"
            class="market__card"
          >
            <MarketCard :item="card" />
          </div>
        </div>
      </div>
      <div class="market__table">
        <MarketTable />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MarketCard from '~/components/market/market-card';
import MarketTable from '~/components/market/market-table';

export default {
  name: 'MarketPage',
  components: {
    MarketCard,
    MarketTable,
  },
  async asyncData({ store }) {
    const currencies = store.getters['trade/getCurrencies'];

    if (!Object.values(currencies).length) {
      await store.dispatch('trade/fetchCurrencies');
    }
  },
  data() {
    return {
      cards: [
        {
          symbol: 'btc',
          name: 'Bitcoin',
          change: -0.6,
          amount: '54127.20234',
          id: 3,
          chart: [
            [100, 90, 80, 70, 75, 65, 65, 70, 90, 80],
          ],
          chartColor: 'orange',
        },
        {
          symbol: 'eth',
          name: 'Ethereum',
          change: 1,
          amount: '54127.20234',
          id: 2,
          chart: [
            [60, 60, 65, 55, 55, 65, 65, 70, 75, 80],
          ],
          chartColor: 'blue',
        },
        {
          symbol: 'ltc',
          name: 'Litecoin',
          change: -0.6,
          amount: '54127.20234',
          id: 1,
          chart: [
            [100, 90, 80, 70, 75, 65, 65, 70, 90, 80],
          ],
          chartColor: 'orange',
        },
        {
          symbol: 'bnb',
          name: 'Binance coin',
          change: 1,
          amount: '54127.20234',
          id: 4,
          chart: [
            [60, 60, 65, 55, 55, 65, 65, 70, 75, 80],
          ],
          chartColor: 'blue',
        },
      ],
    };
  },
  computed: {
    ...mapGetters({
      currencies: 'trade/getCurrencies',
    }),
  },
  watch: {
    currencies: {
      immediate: true,
      handler(currencies) {
        this.cards = this.cards.map((i) => {
          i.amount = currencies[i.symbol].price;
          return i;
        });
      },
    },
  },
  created() {
    this.fetchCurrencies();
  },
  methods: {
    openTestModal() {
      this.ShowModal({
        text: 'test',
      });
    },
    fetchCurrencies() {
      try {
        this.$store.dispatch('main/fetchCurrencies');
      } catch (err) {
        console.log('fetch Currencies: ');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
  },
};
</script>

<style lang="scss">
.market {
  &__body {
    width: 100vw;
    height: 100%;
    padding: 30px 60px;
  }
  &__cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  &__banner {
    height: 480px;
  }
  &__header {
    display: grid;
    grid-template-columns: 1fr 424px;
    grid-column-gap: 33px;
    &_mb {
      margin-bottom: 30px;
    }
  }
}

@include _1600 {
  .market {
    &__body {
      padding: 20px 30px 63px;
    }
  }
}
@include _991 {
  .market {
    &__body {
      padding: 0px 20px 20px;
    }
    &__header {
      grid-template-columns: 1fr;
      grid-template-rows: 400px;
      grid-row-gap: 20px;
    }
    &__cards {
      grid-template-columns: 1fr 1fr;
    }
    .market__banner {
      width: 100vw;
      margin: 0 -20px;
      border-radius: 0;
      padding: 60px 20px;
    }
  }
}
@media (max-width: 800px) {
  .market {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 15px;
    }
    &__header {
      &_mb {
        margin-bottom: 15px;
      }
    }
  }
}
</style>
