<template>
  <div class="reward">
    <div class="reward__header">
      <base-banner
        class="reward__banner"
        :title="$t('reward.header.title')"
        :info-text="this.$t('reward.header.text')"
        :bg="require('assets/img/rewards-header.svg')"
      />
      <div class="reward__cards">
        <base-card
          v-for="(reward, name) in rewards"
          :key="name"
          class="reward-card"
          header-classes="reward-card__header"
          body-classes="reward-card__body"
        >
          <template #header>
            <h3 class="reward-card__title">
              {{ $t(`reward.cards.${name}.title`) }}
            </h3>
            <button
              class="reward-card__tip"
              @click="showTooltip(name)"
            >
              <span class="icon-help_circle_outline" />
            </button>
          </template>

          <div class="reward-card__content">
            <div
              v-for="(amount, label) in reward"
              :key="label"
              class="reward-card__item"
            >
              <p class="reward-card__amount reward-card__amount_mb">
                {{ amount }}
              </p>

              <p class="reward-card__label">
                {{ $t(`reward.cards.${name}.fields.${label}`) }}
              </p>
            </div>
          </div>
        </base-card>
      </div>
    </div>

    <div class="reward__table">
      <transactions-history />
    </div>
  </div>
</template>

<script>
import modals from '~/store/modals/modals';
import TransactionsHistory from '~/components/reward/transactions-history';

export default {
  name: 'Reward',
  components: {
    TransactionsHistory,
  },
  data() {
    return {
      rewards: {
        mm: {
          participants: '155',
          currentAPY: '4.6%',
          stakingRewards: '3.8%',
          feeRebates: '0.8%',
        },
        issuer: {
          participants: '155',
          currentAPY: '4.6%',
          stakingRewards: '3.8%',
          feeRebates: '0.8%',
        },
        guarantor: {
          participants: '155',
          currentAPY: '4.6%',
          stakingRewards: '3.8%',
          feeRebates: '0.8%',
        },
      },
    };
  },
  methods: {
    showTooltip(reward) {
      this.ShowModal({
        key: modals.tooltip,
        title: this.$t(`reward.modals.${reward}.title`),
        text: this.$t(`reward.modals.${reward}.text`),
      });
    },
  },
};
</script>

<style lang="scss">
.reward {
  padding: 30px 60px;
  &__header {
    display: grid;
    grid-template-columns: 1fr 580px;
    grid-column-gap: 30px;
    margin-bottom: 30px;
  }
  &__cards {
    display: grid;
    grid-row-gap: 20px;
  }
  &__table {
    display: grid;
  }
}

.reward-card {
  .reward-card__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .reward-card__body {
    padding-top: 10px;
  }
  &__title {
    font-size: 18px;
    color: $black400;
  }
  &__tip {
    span:before {
      font-size: 24px;
      color: $help-icon;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 13px;
    background-color: $fields;
    border-radius: 10px;
  }
  &__item {
    padding: 0 10px;
    text-align: center;
    &:not(:last-child) {
      border-right: 1px solid $table-header-border;
    }
  }
  &__amount {
    font-size: 20px;
    color: $black400;
    &_mb {
      margin-bottom: 8px;
    }
  }
  &__label {
    font-size: 14px;
    color: $black300;
  }
}

@include _1600 {
  .reward {
    padding: 20px;
  }
}

@include _1199 {
  .reward {
    &__header {
      grid-template-columns: 1fr;
      grid-template-rows: 400px auto;
      grid-row-gap: 20px;
    }
  }
}

@include _991 {
  .reward {
    padding: 0px 20px 20px;
    &__header {
      margin-bottom: 20px;
    }
    &__cards {
      grid-row-gap: 10px;
    }
    .reward__banner {
      width: 100vw;
      margin: 0 -20px;
      border-radius: 0;
      padding: 60px 20px;
    }
  }
  .reward-card {
    &__content {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
}
</style>
