<template>
  <div class="stake-page">
    <div class="stake-page__body">
      <div class="stake-page__row stake-page__row_mb_30 stake-page__row_col_2">
        <base-banner
          class="stake-banner"
          :title="$t('stake.header.title')"
          :info-text="this.$t('stake.header.text')"
          :bg="require('assets/img/stake-header.svg')"
        />
        <base-card
          class="stake-card"
          body-classes="stake-card__body"
        >
          <div class="stake-card__item">
            <p class="stake-card__title">
              {{ $t(`stake.stakeCard.stakedCoins`) }}
            </p>
            <p class="stake-card__value">
              {{ $cn(stakeCard.stakedCoins, 4, 0) }}
            </p>
          </div>

          <div class="stake-card__item">
            <p class="stake-card__title">
              {{ $t(`stake.stakeCard.payout`) }}
            </p>
            <p class="stake-card__value">
              {{ stakeCard.payout }}
            </p>
          </div>

          <div class="stake-card__item">
            <p class="stake-card__title">
              {{ $t(`stake.stakeCard.currentAPY`) }}
            </p>
            <p
              v-if="currentAPY"
              class="stake-card__value"
            >
              {{ currentAPY }}%
            </p>
            <p
              v-else
              class="stake-card__value"
            >
              -
            </p>
          </div>

          <div class="stake-card__item">
            <p class="stake-card__title">
              {{ $t(`stake.stakeCard.totalClaimed`) }}
            </p>
            <p class="stake-card__value">
              {{ $cn(stakeCard.totalClaimed, 4, 0) }}
            </p>
          </div>

          <div class="stake-card__item">
            <p class="stake-card__title">
              {{ $t(`stake.stakeCard.stakingRewards`) }}
            </p>
            <p
              v-if="stakeCard.stakingRewards"
              class="stake-card__value"
            >
              {{ `${$cn(stakeCard.stakingRewards, 2, 0)}%` }}
            </p>
            <p
              v-else
              class="stake-card__value"
            >
              -
            </p>
          </div>

          <div class="stake-card__item">
            <p class="stake-card__title">
              {{ $t(`stake.stakeCard.feeAllocation`) }}
            </p>
            <p class="stake-card__value">
              {{ stakeCard.feeAllocation }}%
            </p>
          </div>

          <base-btn
            class="stake-card__btn"
            @click="show"
          >
            {{ $t('stake.btns.stake') }}
          </base-btn>
        </base-card>
      </div>

      <div class="stake-page__row">
        <stake-table
          :stake-info="userStakeInfo"
          @claimed="updateStakingInfo"
        />
      </div>

      <div class="stake-page__row">
        <staked-transactions-table :transactions="stakingTransactions" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import modals from '~/store/modals/modals';
import StakedTransactionsTable from '~/components/stake/staked-transactions-table';
import StakeTable from '~/components/stake/stake-table';

export default {
  name: 'Stake',
  components: {
    StakedTransactionsTable,
    StakeTable,
  },
  async asyncData({ store }) {
    const isWalletConnected = store.getters['wallet/getIsConnectedToMetamask'];
    const signature = store.getters['wallet/getUserSignature'];
    await store.dispatch('stake/getGeneralStakingInfo');
    // TODO: change to staking token after release
    // const currentAPY = await store.dispatch('stake/calculateAPY', { coinId: 'dogecoin', date: '15-12-2013' });

    if (isWalletConnected && signature) {
      await store.dispatch('stake/getStakingTransactions', { signature });
    }

    // return { currentAPY };
  },
  data() {
    return {
      stakeCard: {
        stakedCoins: '',
        payout: 'Daily',
        totalClaimed: '',
        stakingRewards: '',
        feeAllocation: '1.8',
      },
      currentAPY: null,
    };
  },
  computed: {
    ...mapGetters({
      userStakeInfo: 'stake/getUserStakingInfo',
      stakingInfoGeneral: 'stake/getGeneralStakingInfo',
      isWalletConnected: 'wallet/getIsConnectedToMetamask',
      signature: 'wallet/getUserSignature',
      stakingTransactions: 'stake/getStakingTransactions',
    }),
  },
  watch: {
    stakingInfoGeneral: {
      immediate: true,
      handler(info) {
        this.stakeCard.stakedCoins = info.stakedCoins;
        this.stakeCard.totalClaimed = info.totalClaimed;
        this.stakeCard.stakingRewards = info.stakingRewards;
      },
    },
    isWalletConnected: {
      immediate: true,
      async handler(isWalletConnected) {
        if (isWalletConnected) {
          this.getUserStakingInfo();
        }
      },
    },
    async signature(signature) {
      if (signature) {
        await this.getStakingTransactions(signature);
      }
    },
  },
  methods: {
    show() {
      this.Signer(this.showStakeModal);
    },
    updateStakingInfo() {
      this.getUserStakingInfo();
      this.getGeneralStakingInfo();
      this.getStakingTransactions(this.signature);
    },
    async getStakingTransactions(signature) {
      try {
        await this.$store.dispatch('stake/getStakingTransactions', { signature });
      } catch (err) {
        console.log('page getUserStakingInfo err: ');
        console.dir(err);
        this.ShowError(err.message);
      }
    },
    async getUserStakingInfo() {
      try {
        await this.$store.dispatch('stake/getUserStakingInfo');
      } catch (err) {
        console.log('page getUserStakingInfo err: ');
        console.dir(err);
        this.ShowError(err.message);
      }
    },
    async getGeneralStakingInfo() {
      try {
        await this.$store.dispatch('stake/getGeneralStakingInfo');
      } catch (err) {
        console.log('page getGeneralStakingInfo err: ');
        console.dir(err);
        this.ShowError(err.message);
      }
    },
    showStakeModal() {
      this.ShowModal({
        key: modals.stake,
        title: this.$t('stake.modal.title'),
        text: this.$t('stake.modal.hint'),
        isUnclosable: true,
        field: {
          label: this.$t('stake.modal.field.label'),
          placeholder: this.$t('stake.modal.field.placeholder'),
        },
      });
    },
  },
};
</script>

<style lang="scss">
  .stake-page {
    width: 100%;
    height: 100%;
    &__body {
      margin: 0 auto;
      padding: 30px 60px;
    }
    &__row {
      display: grid;
      margin-bottom: 20px;
      &_col {
        &_2 {
          display: grid;
          grid-template-columns: 1fr 427px;
          grid-column-gap: 30px;
        }
      }
      &_mb {
        &_30 {
          margin-bottom: 30px;
        }
      }
    }
  }
  .stake-card {
    .stake-card__body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding: 25px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      height: 79px;
      align-items: center;
      justify-content: space-between;
      padding: 13px;
      background-color: $fields;
      border-radius: 10px;
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
      color: $black300;
    }
    &__value {
      font-size: 20px;
      line-height: 24px;
      color: $black400;
    }
    .stake-card__btn {
      width: 100%;
      grid-column: 1 / 3;
    }
  }

  @include _1600 {
    .stake-page {
      &__body {
        padding: 20px 30px;
      }
    }
  }
  @include _1300 {
    .stake-page {
      &__body {
        width: 100%;
      }
    }
  }

  @include _991 {
    .stake-page {
      &__header {
        padding-left: 20px;
        padding-right: 20px;
        background-size: cover;
      }
      &__body {
        padding: 0px 20px 20px;
      }
      &__row {
        &_col {
          &_2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-row-gap: 20px;
          }
        }
      }
      .stake-banner {
        width: 100vw;
        margin: 0 -20px;
        border-radius: 0;
        padding: 60px 20px;
      }
    }
    .stake-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      .stake-card__btn {
        width: 100%;
      }
    }
  }

  @include _575 {
    .stake-page {
      &__title {
        font-size: 47px;
        line-height: 60px;
      }
      &__row {
        &_mb {
          &_30 {
            margin-bottom: 20px;
          }
        }
      }
    }
    .stake-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      .stake-card__body {
        padding: 15px 10px;
      }
      &__btn {
        grid-column: 1 / 3;
      }
    }
    .stake-banner {
      background-position-x: -5px;
    }
  }
</style>
