<template>
  <div class="trade">
    <div class="trade__row trade__row_mb-20 trade__row_first">
      <div
        class="trade__col"
        :class="{'trade__col_separate': selectedPair}"
      >
        <trade-execution-cycle
          v-if="selectedPair"
          :pair="selectedPair"
          :start-timer="startTimer"
        />
        <trade-pairs
          :height-cut="heightCut"
          :trade-pairs="pairs"
          class="trade__pairs"
          @pair-selected="handlePairSelected"
        />
      </div>
      <div class="trade__col trade__col_separate trade__col_tw">
        <trade-status />
        <trade-tw />
      </div>
      <div class="trade__col trade__col_form">
        <trade-form
          :selected-pair="selectedPair"
        />
      </div>
    </div>
    <div class="trade__row">
      <trade-history />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TradeStatus from '~/components/widgets/trade-status';
import TradeHistory from '~/components/widgets/trade-history';
import TradeForm from '~/components/widgets/trade-form';
import TradePairs from '~/components/widgets/trade-pairs';
import TradeExecutionCycle from '~/components/widgets/trade-execution-cycle';
import TradeTw from '~/components/widgets/trade-tw';

export default {
  name: 'Trade',
  components: {
    TradeStatus,
    TradeHistory,
    TradeForm,
    TradePairs,
    TradeExecutionCycle,
    TradeTw,
  },
  async asyncData({ store, $api }) {
    await store.dispatch('trade/fetchCurrencies');
    await store.dispatch('trade/fetchPairs');
    await store.dispatch('trade/fetchAllTrades');
    const startTimer = await store.dispatch('trade/getNextPollTime');
    store.dispatch('trade/subscribeToPollTimer');
    store.dispatch('trade/subscribeToUserOrderUpdates');
    store.dispatch('trade/subscribeToPair');

    const pairs = store.getters['trade/getPairs'];

    return { pairs, startTimer };
  },
  data() {
    return {
      startTimer: '',
      pairs: [],
    };
  },
  computed: {
    ...mapGetters({
      isWalletConnected: 'wallet/getIsConnectedToMetamask',
      currencies: 'trade/getCurrencies',
      selectedPair: 'trade/getSelectedPair',
      pollTime: 'trade/getPollTime',
      signature: 'wallet/getUserSignature',
    }),
    heightCut() {
      const cyclingBlockHeight = 320;
      return this.selectedPair ? cyclingBlockHeight : 0;
    },
  },
  watch: {
    pollTime(newTime, oldTime) {
      if (newTime !== oldTime) {
        this.startTimer = this.pollTime;
      }
    },
    async selectedPair(selectedPair, oldSelectedPair) {
      if (selectedPair !== oldSelectedPair) {
        if (oldSelectedPair) {
          await this.$store.dispatch('trade/unsubscribeToPairStatusInfo', oldSelectedPair.id);
        }

        await this.$store.dispatch('trade/subscribeToPairStatusInfo', selectedPair.id);
      }
    },
  },
  async beforeMount() {
    if (this.isWalletConnected && this.signature) {
      await this.fetchUserOrders(this.signature);
    }
  },
  beforeDestroy() {
    this.$store.dispatch('trade/unsubscribeToPollTimer');
    this.$store.dispatch('trade/unsubscribeToUserOrderUpdates');
    this.$store.dispatch('trade/unsubscribeToPair');
  },
  methods: {
    async fetchUserOrders(signature) {
      try {
        await this.$store.dispatch('trade/fetchUserOrders', { payload: { signature } });
      } catch (err) {
        console.log('ERR USER ORDERS FETCH');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
    handlePairSelected(pair) {
      this.$store.commit('trade/setSelectedPair', pair);
    },
    async fetchCurrencies() {
      try {
        await this.$store.dispatch('trade/fetchCurrencies');
      } catch (err) {
        console.log('ERR CURRENCIES FETCH');
        console.dir(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .trade {
    width: 100%;
    height: 100%;
    padding: 30px 60px;
    &__row {
      display: grid;
      grid-column-gap: 20px;
      &_first {
        height: 683px;
        grid-template-columns: 450px 1fr 450px;
      }
      &_mb {
        &-20 {
          margin-bottom: 20px;
        }
      }
    }
    &__col {
      display: grid;
      grid-row-gap: 20px;
      height: 683px;
      &_separate {
        grid-template-rows: auto 1fr;
      }
    }
    &__pairs {

    }
  }

  @include _1600 {
    .trade {
      padding: 20px 30px 63px;
      &__row {
        &_first {
          grid-template-columns: 380px 1fr 380px;
        }
      }
    }
  }

  @include _1400 {
    .trade {
      &__row {
        &_first {
          height: auto;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 20px;
        }
      }
      &__col {
        &_tw {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
        }
      }
    }
  }

  @include _991 {
    .trade {
      padding: 20px;
      &__row {
        &_first {
          grid-template-columns: 1fr;
          grid-template-rows: 683px 1fr 683px;
          grid-row-gap: 20px;
        }
      }
      &__col {
        &_tw {
          grid-column: auto;
          grid-row: auto;
        }
        &_form {

        }
      }
    }
  }
  @include _480 {
    .trade {
      &__row {
        &_first {
          grid-template-rows: 683px 800px auto;
        }
      }
      &__col {
        &_tw {
          height: auto;
        }
        &_form {
          height: auto;
        }
      }
    }
  }
</style>
