<template>
  <base-card
    class="trade-tw"
    no-body
  >
    <div class="trade-tw__tw">
      <trading-view />
    </div>
  </base-card>
</template>

<script>
import TradingView from '~/components/trading-view';

export default {
  name: 'TVWidget',
  components: {
    TradingView,
  },
  data() {
    return {
    };
  },
};
</script>

<style lang="scss">
  .trade-tw {
    &__tw {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
</style>
