<template>
  <div class="base-modal__box">
    <div
      v-if="isHeader === true"
      class="base-modal__header"
    >
      <div class="base-modal__title">
        {{ title || options.title || 'Default' }}
      </div>
      <button
        v-if="!options.isUnclosable"
        class="base-modal__x icon-close_big"
        @click="CloseModal"
      />
    </div>
    <slot />
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    isUnclosable: {
      type: Boolean,
      default: false,
    },
    isHeader: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapGetters({
      options: 'modals/getOptions',
    }),
  },
};
</script>
<style lang="scss" scoped>
.base-modal {
  @include modalKit;
}
</style>
