BASE_URL = {{ BASE_URL }}
WS_URL = {{ WS_URL }}
INFURA = {{ INFURA }}
CHAIN_ID = {{ CHAIN_ID }}
SWAP_CONTRACT_ADDRESS = {{ SWAP_CONTRACT_ADDRESS }}
STAKE_CONTRACT_ADDRESS = {{ STAKE_CONTRACT_ADDRESS }}
DAO_CONTRACT_ADDRESS = {{ DAO_CONTRACT_ADDRESS }}
COINGECKO_URL = {{ COINGECKO_URL }},

