<template>
  <base-card
    class="trade-cycle"
    header-classes="trade-cycle__header"
    with-header-border
    type="info"
  >
    <template #header>
      <h3 class="trade-cycle__title">
        {{ $t('trade.executionCycle.title') }}
      </h3>

      <div class="trade-cycle-timer">
        <span class="trade-cycle-timer__label">
          {{ $t('trade.executionCycle.nextCycle') }}
        </span>
        <div class="trade-cycle-timer__timer">
          <span class="trade-cycle-timer__value">
            {{ totalSteps }}
          </span>
          <no-ssr>
            <radial-progress-bar
              :diameter="11"
              start-color="#54C0D3"
              stop-color="#54C0D3"
              inner-stroke-color="#7FD0DE"
              :completed-steps="step"
              :total-steps="initialTotalSteps"
              :animate-speed="100"
              :stroke-width="2"
              :inner-stroke-width="1"
            />
          </no-ssr>
        </div>
      </div>
    </template>

    <h4 class="trade-cycle__text trade-cycle__text_mb-13">
      {{ $t('trade.executionCycle.instrument') }}: {{ pair.asset }}
    </h4>

    <div class="trade-cycle__main-table trade-cycle__main-table_mb">
      <p class="trade-cycle__text trade-cycle__text_muted">
        {{ $t('trade.executionCycle.lastPrice') }}
      </p>
      <p class="trade-cycle__text trade-cycle__text_muted">
        {{ $t('trade.executionCycle.totalIssued') }}
      </p>
      <p class="trade-cycle__text trade-cycle__text_size-18">
        {{ $fn(pair.lastPrice) }}
      </p>
      <p class="trade-cycle__text trade-cycle__text_size-18">
        {{ $fn('4265.65') }}
      </p>
    </div>

    <div class="trade-cycle__devider trade-cycle__devider_mb" />

    <div class="trade-cycle__main-table">
      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14">
        {{ $t('trade.executionCycle.reward') }}
      </p>
      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14 trade-cycle__text_align-right ">
        2000
      </p>

      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14">
        {{ $t('trade.executionCycle.issuer') }}
      </p>
      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14 trade-cycle__text_align-right ">
        1000
      </p>

      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14">
        {{ $t('trade.executionCycle.orderAskCount') }}
      </p>
      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14 trade-cycle__text_align-right ">
        {{ buyOrdersCount }} - {{ sellOrdersCount }}
      </p>

      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14">
        {{ $t('trade.executionCycle.bidAskAmount') }}
      </p>
      <p class="trade-cycle__text trade-cycle__text_light trade-cycle__text_size-14 trade-cycle__text_align-right ">
        {{ buyOrdersSummary }} - {{ sellOrdersSummary }}
      </p>
    </div>
  </base-card>
</template>

<script>
import { mapGetters } from 'vuex';
import RadialProgressBar from '~/components/redail-progress-bar';

export default {
  name: 'TradeExecutionCycle',
  components: {
    RadialProgressBar,
  },
  props: {
    pair: {
      type: Object,
      required: true,
    },
    startTimer: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      step: 0,
      initialTotalSteps: 59,
      totalSteps: 59,
      timer: null,
    };
  },
  computed: {
    ...mapGetters({
      orders: 'trade/getPairOrdersInfo',
    }),
    buyOrdersCount() {
      return this.orders?.buyers?.count ?? '';
    },
    sellOrdersCount() {
      return this.orders?.sellers?.count ?? '';
    },
    sellOrdersSummary() {
      return this.orders?.sellers?.summary ?? '';
    },
    buyOrdersSummary() {
      return this.orders?.buyers?.summary ?? '';
    },
  },
  watch: {
    startTimer: {
      immediate: true,
      handler(nextStartTime) {
        if (nextStartTime) {
          this.removeTimer();

          const diff = this.findDiff(nextStartTime);

          if (diff === 0 || diff < 0) {
            this.initTimer();
            return;
          }

          const totalSteps = this.initialTotalSteps - diff;

          this.initTimer(diff, totalSteps);
        }
      },
    },
  },
  destroyed() {
    this.removeTimer();
  },
  methods: {
    initTimer(step = 0, totalSteps = null) {
      this.totalSteps = totalSteps ?? this.initialTotalSteps;
      this.step = step;

      this.timer = setInterval(() => {
        if (this.totalSteps === 0) {
          this.totalSteps = this.initialTotalSteps;
          this.step = 0;
        }
        this.totalSteps -= 1;
        this.step += 1;
      }, 1000);
    },
    removeTimer() {
      clearInterval(this.timer);
    },
    findDiff(nextStartTime) {
      const currentTime = Math.floor(Date.now() / 1000) * 1000;
      const startTime = Date.parse(nextStartTime);
      const diff = currentTime - startTime;
      const diffOnSeconds = Math.floor(diff / 1000);

      return diffOnSeconds;
    },
  },
};
</script>

<style lang="scss">
  .trade-cycle {
    height: 300px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-color: $cyan200;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
      color: $cyan500;
    }
    &__text {
      font-size: 16px;
      line-height: 19px;
      color: $cyan500;
      &_muted {
        color: $cyan300;
      }
      &_light {
        color: $cyan400;
      }
      &_size {
        &-18 {
          font-size: 18px;
          line-height: 22px;
        }
        &-14 {
          font-size: 14px;
          line-height: 17px;
        }
      }
      &_align {
        &-right {
          text-align: right;
        }
      }
      &_mb {
        &-13 {
          margin-bottom: 13px;
        }
      }
    }
    &__main-table {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 5px;
      &_mb {
        margin-bottom: 20px;
      }
    }
    &__devider {
      width: 100%;
      height: 1px;
      background-color: $cyan300;
      &_mb {
        margin-bottom: 15px;
      }
    }
  }
  .trade-cycle-timer {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    font-size: 12px;
    line-height: 14px;
    &__timer {
      display: flex;
      justify-content: space-between;
    }
    &__label {
      color: $cyan300;
    }
    &__value {
      color: $cyan500;
      padding-right: 5px;
    }
  }

  @include _380 {
    .trade-cycle {
      &__header {
        display: grid;
        grid-row-gap: 10px;
      }
      &__main-table {
        &_mb {
          margin-bottom: 10px;
        }
      }
      &__devider {
        &_mb {
          margin-bottom: 10px;
        }
      }
    }
  }
</style>
