<template>
  <div class="trade-history-wrapper">
    <base-select
      v-model="tab"
      :options="selectOptions"
      :prepend-text="$t('misc.filter')"
      class="trade-history-wrapper__select"
      rounded
    />
    <base-card
      class="trade-history"
      header-classes="trade-history__header"
      body-classes="trade-history__body"
    >
      <template #header>
        <base-tabs
          v-model="tab"
          class="trade-history__tabs"
          :tabs="tabs"
        />
      </template>

      <b-table
        id="trade-history-table"
        ref="tradeHistory"
        :fields="fields"
        :items="dataSet.items"
        :show-empty="true"
        :busy="busyState"
        sticky-header="260px"
        table-class="base-table"
        tbody-class="trade-history-table__body"
        thead-class="base-table__head"
        responsive
        borderless
        sort-icon-left
        no-border-collapse
      >
        <template v-slot:cell(asset)="{ item }">
          <span class="base-table__td_blue">{{ item.asset.pair }}</span>
        </template>
        <template v-slot:cell(price)="{ item }">
          <span :title="$crn(item.price)">{{ $crn(item.price) }}</span>
        </template>
        <template v-slot:cell(amount)="{ item }">
          <span :title="$crn(item.amount)">{{ truncate($crn(item.amount)) }}</span>
        </template>
        <template v-slot:cell(executed)="{ item }">
          <span
            class="base-table__td_capitilize"
            :title="$crn(item.executed)"
          >{{ truncate($crn(item.executed)) }}</span>
        </template>
        <template v-slot:cell(side)="{ item }">
          <span class="base-table__td_capitilize">{{ item.side }}</span>
        </template>
        <template v-slot:cell(type)="{ item }">
          <span class="base-table__td_capitilize">{{ item.type }}</span>
        </template>
        <template v-slot:cell(executionPrice)="{ item }">
          <span>{{ $cn(item.executionPrice, 4, 0) }}</span>
        </template>
        <template v-slot:cell(fee)="{ item }">
          <span>{{ $cn(item.commission, 4, 0) }}</span>
        </template>
        <template v-slot:cell(change24)="{ item }">
          <span>{{ $cn(item.change24, 4, 0) }}</span>
        </template>
        <template v-slot:cell(high)="{ item }">
          <span>{{ $cn(item.high, 4, 0) }}</span>
        </template>
        <template v-slot:cell(low)="{ item }">
          <span>{{ $cn(item.low, 4, 0) }}</span>
        </template>
        <template v-slot:cell(volume24)="{ item }">
          <span>{{ $cn(item.volume24, 4, 0) }}</span>
        </template>
        <template v-slot:cell(datetime)="{ item }">
          <span>{{ $d(new Date(+item.timestamp), 'longNum') }}</span>
        </template>
        <template v-slot:cell(btn)="{item}">
          <base-btn
            mode="red"
            :disabled="item.status === 'cancelled' || (item.status !== 'created' && item.status !== 'pending')"
            @click="handleCancel(item)"
          >
            {{ $t('misc.cancel') }}
          </base-btn>
        </template>
      </b-table>
    </base-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { messageForSign } from '~/utils/constants';

export default {
  name: 'TradeHistory',
  data() {
    return {
      tab: 'yourOrders',
      tabs: [
        {
          id: 'yourOrders',
          title: this.$t('trade.history.tabs.yourOrders'),
        },
        {
          id: 'yourTrades',
          title: this.$t('trade.history.tabs.yourTrades'),
        },
        {
          id: 'allTrades',
          title: this.$t('trade.history.tabs.allTrades'),
        },
      ],
      selectOptions: [
        {
          value: 'yourOrders',
          text: this.$t('trade.history.tabs.yourOrders'),
        },
        {
          value: 'yourTrades',
          text: this.$t('trade.history.tabs.yourTrades'),
        },
        {
          value: 'allTrades',
          text: this.$t('trade.history.tabs.allTrades'),
        },
      ],
      busyState: false,
      allFields: {
        yourOrders: {
          fields: ['asset', 'price', 'amount', 'executed', 'side', 'type', 'status', 'datetime', 'change24', 'high', 'low', 'volume24', 'btn'],
          // Use these fields if there will be interaction with the store
          action: 'trade/updateUserOrders',
          getter: 'trade/getYourOrders',
        },
        yourTrades: {
          fields: ['asset', 'price', 'amount', 'executed', 'side', 'type', 'executionPrice', 'fee', 'datetime', 'change24', 'high', 'low', 'volume24'],
          action: 'trade/updateUserOrders',
          getter: 'trade/getYourTrades',
        },
        allTrades: {
          fields: ['asset', 'price', 'amount', 'executed', 'side', 'type', 'executionPrice', 'fee', 'datetime', 'change24', 'high', 'low', 'volume24'],
          action: '',
          getter: 'trade/getAllTrades',
        },
      },
      initialLimit: 14,
      limit: 14,
      offset: 0,
      observer: null,
    };
  },
  computed: {
    ...mapGetters({
      signature: 'wallet/getUserSignature',
    }),
    fields() {
      if (this.tab) {
        return this.allFields[this.tab].fields.map((item) => {
          if (item === 'btn') {
            return {
              key: item,
              label: '',
              sortable: false,
              thClass: 'base-table__th',
              tdClass: 'base-table__td base-table__td_text-center',
            };
          }

          return {
            key: item,
            label: this.$t(`trade.history.table.header.${item}`),
            sortable: true,
            thClass: 'base-table__th',
            tdClass: 'base-table__td',
          };
        });
      }
      return [];
    },
    dataSet() {
      const data = this.$store.getters[this.allFields[this.tab].getter];
      return data;
    },
    currentAction() {
      if (this.tab) {
        return this.allFields[this.tab].action;
      }
      return '';
    },
  },
  watch: {
    tab(tab, oldTab) {
      const { items, count } = this.dataSet;

      this.unobservePagination();
      if (tab !== oldTab && tab !== 'allTrades' && items && count > items.length) {
        this.observePagination();
      }
    },
  },
  mounted() {
    const { items, count } = this.dataSet;
    if (this.tab !== 'allTrades' && items && count > items.length) {
      this.observePagination();
    }
  },
  beforeDestroy() {
    this.unobservePagination();
  },
  methods: {
    async handleCancel(order) {
      try {
        const signature = await this.$store.dispatch('wallet/sign', { message: messageForSign.cancelOrder });
        await this.$store.dispatch('trade/cancelOrder', { order, signature });
      } catch (err) {
        console.log('CANCEL ORDER ERR');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
    truncate(str) {
      if (str.length < 10) return str;

      const start = str.slice(0, 4);
      const end = str.slice(-3);

      return `${start}...${end}`;
    },
    unobservePagination() {
      this.observer = null;
      this.offset = 0;
      this.limit = this.initialLimit;
    },
    observePagination() {
      const { tradeHistory } = this.$refs;

      this.initObserver(tradeHistory.$el);

      this.$nextTick(() => {
        const rows = this.$refs.tradeHistory.$refs['item-rows'];

        this.observeElement(rows);
      });
    },
    initObserver(root) {
      const options = {
        root,
        threshold: 0.7,
      };
      this.observer = new IntersectionObserver(this.handleObserve, options);
    },
    observeElement(elements) {
      const middleElementId = elements[Math.floor(elements.length / 2)]._uid;
      const intersectingElement = elements.find((el) => el._uid === middleElementId).$el;

      this.observer.observe(intersectingElement);
    },
    handleObserve(entries, observer) {
      entries.forEach(async (entry) => {
        if (entry.isIntersecting) {
          await this.fetchElements();
          observer.unobserve(entry.target);

          if (this.dataSet.count > this.dataSet.items.length) {
            const items = this.$refs.tradeHistory.$refs['item-rows'];

            this.observeElement(items);
          }
        }
      });
    },
    async fetchElements() {
      this.offset += this.limit;
      const params = {
        limit: this.limit,
        offset: this.offset,
      };
      const payload = {
        signature: this.signature,
      };

      if (this.tab === 'yourOrders' || this.tab === 'yourTrades') {
        payload.ordersMatched = this.tab === 'yourTrades';
      }

      try {
        await this.$store.dispatch(this.currentAction, { payload, params });
      } catch (err) {
        console.log('ERR USER ORDERS Scroll');
        console.dir(err);
        this.ShowError(err?.response?.data?.message ?? err.message);
      }
    },
  },
};
</script>

<style lang="scss">
  .trade-history {
    .b-table-sticky-header {
      @include base-scrollbar;
      margin-bottom: 0;
    }
    .trade-history__header {
      padding-bottom: 0;
    }
    .trade-history__body {
      padding-bottom: 0;
    }
  }
  .trade-history-wrapper {
    display: grid;
    &__select {
      display: none;
    }
  }

  @include _480 {
    .trade-history-wrapper {
      grid-row-gap: 10px;
      &__select {
        display: block;
      }
    }
    .trade-history {
      .trade-history__header {
        padding: 0;
      }
      &__tabs {
        display: none;
      }
    }
  }
</style>
