<template>
  <div
    v-click-outside="closeSelect"
    class="base-select"
  >
    <div
      class="base-select__preview"
      :class="{'base-select__preview_rounded': rounded}"
    >
      <slot
        v-if="$slots.prepend || prependText"
        name="prepend"
      >
        <div class="base-select__prepend">
          <div class="base-select__prepend-text">
            {{ prependText }}
          </div>
        </div>
      </slot>

      <button
        class="base-select__button"
        :class="{'base-select__button_disabled': disabled}"
        :disabled="disabled"
        type="button"
        @click="toggleSelect"
      >
        <p
          v-if="value"
          class="base-select__value"
        >
          {{ selectedValue }}
        </p>
        <p
          v-else
          class="base-select__value_muted"
        >
          {{ placeholder }}
        </p>
        <slot name="icon">
          <i
            class="icon-chevron_down base-select__arrow"
            :class="{'base-select__arrow_up': isOpened}"
          />
        </slot>
      </button>

      <slot
        v-if="$slots.append"
        name="append"
      />
    </div>

    <div
      :class="{'base-select-list_show': isOpened}"
      class="base-select__list base-select-list"
    >
      <div
        v-if="$slots.optionsHeader"
        class="base-select-list__header"
      >
        <div class="base-select-list__btn">
          <slot name="optionsHeader" />
        </div>
        <div class="base-select-list__devider" />
      </div>
      <div
        v-for="item in options"
        :key="item.value"
        class="base-select-list__item"
      >
        <button
          type="button"
          class="base-select-list__btn"
          @click="selectOption(item.value)"
        >
          <slot
            v-if="$slots.optionPrepend"
            name="optionPrepend"
          />
          <span>{{ item.text }}</span>
          <slot
            v-if="$slots.optionAppend"
            name="optionAppend"
          />
        </button>

        <div class="base-select-list__devider" />
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';

export default {
  name: 'BaseSelect',
  directives: {
    ClickOutside,
  },
  props: {
    value: {
      type: [String, Number],
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    rounded: {
      type: Boolean,
      default: false,
      description: 'Rounds the border',
    },
    options: {
      type: Array,
      default: () => ([]),
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    prependText: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      isOpened: false,
    };
  },
  computed: {
    selectedValue() {
      return this.options.find((i) => i.value === this.value).text;
    },
  },
  methods: {
    toggleSelect() {
      this.isOpened = !this.isOpened;
    },
    closeSelect() {
      this.isOpened = false;
    },
    selectOption(value) {
      this.$emit('input', value);
      this.closeSelect();
    },
  },
};
</script>

<style lang="scss" scoped>
  .base-select {
    position: relative;
    &__preview {
      display: flex;
      align-items: center;
      height: 46px;
      background-color: $black0;
      border: 1px solid $black100;
      &_rounded {
        border-radius: 10px;
      }
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 15px 0 20px;
      &_disabled {
        background-color: $black100;
      }
    }
    &__value {
      font-family: $Inter;
      font-size: 16px;
      line-height: 23px;
      color: $black400;
      &_muted {
        color: $black200;
      }
    }
    &__arrow {
      font-size: 24px;
      transition: .4s;
      &_up {
        transform: rotate(180deg);
      }
    }
    &__list {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
    }
    &__prepend {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 15px;
      white-space: nowrap;
      background-color: $fields;
      border-right: 1px solid $black100;
      border-radius: 10px;
    }
    &__prepend-text {
      font-family: $Inter;
      font-size: 16px;
      line-height: 23px;
      color: $cyan500;
    }
  }
  .base-select-list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
    background-color: $black0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    &_show {
      z-index: 10000;
      opacity: 1;
      visibility: visible;
      transition: visibility .4s, opacity .4s;
    }
    &__header {
      min-height: 43px;
      font-family: $Inter;
      font-size: 16px;
      line-height: 23px;
      color: $black300;
    }
    &__item {
      min-height: 43px;
      font-family: $Inter;
      font-size: 16px;
      line-height: 23px;
      color: $black400;
      &:hover {
        background-color: $black100;
      }
    }
    &__btn {
      width: 100%;
      height: 100%;
      padding: 10px 15px;
      text-align: left;
    }
    &__devider {
      height: 1px;
      background-color: $black100;
      margin: 0 15px
    }
  }
</style>
