<template>
  <base-card
    no-body
    class="trade-pairs"
  >
    <div
      class="trade-pairs__body"
      :style="{height: bodyHeight}"
    >
      <base-input
        v-model="search"
        wrapper-classes="trade-pairs__search"
        prepend-icon="icon-search"
        :placeholder="$t('misc.search')"
      />

      <b-table
        id="trade-pairs-table"
        ref="tradePairsTable"
        :fields="fields"
        :items="pairs"
        :show-empty="true"
        :busy="busyState"
        :sticky-header="tableHeight"
        table-class="trade-pairs-table"
        striped
        selectable
        select-mode="single"
        @row-selected="handleRowSelected"
      >
        <template #cell(lastCycleTime)="{ item }">
          <div>
            <span class="trade-pairs-table__date">
              {{ GetFormTimestamp(new Date(item.updatedAt), 'DD-MM-YY HH:mm') }}
            </span>
          </div>
        </template>
        <template #cell(lastPrice)="{ item }">
          <div>{{ $fn(item.lastPrice) }}</div>
        </template>
      </b-table>
    </div>
  </base-card>
</template>

<script>
import { debounce } from '~/utils/debounce';

export default {
  name: 'TradePairs',
  props: {
    heightCut: {
      type: Number,
      default: 0,
    },
    tradePairs: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      search: '',
      busyState: false,
      searchDebounced: null,
      pairs: [],
    };
  },
  computed: {
    fields() {
      return [
        {
          key: 'name',
          label: this.$t('trade.pairs.table.asset'),
          thClass: 'trade-pairs-table__th',
          tdClass: 'trade-pairs-table__td',
        },
        {
          key: 'lastPrice',
          label: this.$t('trade.pairs.table.lastPrice'),
          thClass: 'trade-pairs-table__th',
          tdClass: 'trade-pairs-table__td',
        },
        {
          key: 'lastCycleTime',
          label: this.$t('trade.pairs.table.lastCycleTime'),
          thClass: 'trade-pairs-table__th trade-pairs-table__th_text-right',
          tdClass: 'trade-pairs-table__td trade-pairs-table__td_text-right',
        },
      ];
    },
    tableHeight() {
      const defaultHeight = 620; // if there is a table header, then the height should be 560, i.e. 620 - table header height

      if (this.heightCut) {
        return `${(defaultHeight - this.heightCut)}px`;
      }
      return `${defaultHeight}px`;
    },
    bodyHeight() {
      const defaultHeight = 620;

      if (this.heightCut) {
        return `${(defaultHeight - this.heightCut)}px`;
      }
      return `${defaultHeight}px`;
    },
  },
  watch: {
    search(query, oldQuery) {
      if (query !== oldQuery) {
        this.searchDebounced(query);
      }
    },
    tradePairs: {
      immediate: true,
      handler(pairs, oldPairs) {
        if (pairs !== oldPairs) {
          this.pairs = pairs;
        }
      },
    },
  },
  mounted() {
    this.selectPair(0);
    this.searchDebounced = debounce(this.handleSearch, 1500);
  },
  methods: {
    handleSearch(query) {
      this.pairs = this.tradePairs.filter((i) => i.name.toLowerCase().includes(query.toLowerCase()));
    },
    selectPair(index) {
      this.$refs.tradePairsTable.selectRow(index);
    },
    handleRowSelected([pair]) {
      if (typeof pair === 'undefined' || !pair) return;

      this.$emit('pair-selected', pair);
    },
  },
};
</script>

<style lang="scss">
  .trade-pairs {
    &__body {
      padding: 10px 0;
      .b-table-sticky-header {
        @include base-scrollbar;
      }
    }
    &__search {
      padding: 0 20px;
    }
    &__table-wrapper {
      height: 260px;
      overflow: auto;
    }
  }
  .trade-pairs-table {
    @include base-table;
    .table-active {
      background-color: $cyan100 !important;
    }
    .trade-pairs-table__th {
      border-top: none;
      &_text-right {
        text-align: right;
      }
    }
    .trade-pairs-table__td {
      &_text-right {
        text-align: right;
      }
    }
    &__date {
      color: $black300;
    }
  }
  @include _1600 {
    .trade-pairs-table {
      .trade-pairs-table__td {
        padding: 0.75rem 0.9rem;
      }
      .trade-pairs-table__th {
        padding: 0.75rem 0.9rem;
      }
    }
  }

  @include _1400 {
    .trade-pairs-table {
      .trade-pairs-table__td {
        padding: 0.75rem 1.25rem;
      }
      .trade-pairs-table__th {
        padding: 0.75rem 1.25rem;
      }
    }
  }
</style>
