<template>
  <div :class="{'loader-wrap': isLoading}">
    <div
      v-if="isLoading"
      class="loader-wrap__spinner"
      role="status"
    >
      <b-spinner :style="{color: color}" />
    </div>

    <div :class="{'loading-wrap__content': isLoading}">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoaderWrap',
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: '#54C0D3',
    },
  },
};
</script>

<style lang="scss" scoped>
  .loader-wrap {
    position: relative;
    opacity: 0.6;
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1000;
    }
  }
</style>
